@import url("fonts.css");

@import url("reset.css");

/* ================= */

body {
	color: #7d7d7d;
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

h2,
h3 {
	color: #37393f;
	font-family: "Poppins", sans-serif;
}
.header {
	margin-bottom: 100px;
}
.page {
	margin-bottom: 100px;
}

/* =========How We Work=================== */
.page__work {
	margin-bottom: 151px;
}
.work {
}

.work__container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	max-width: 900px;
}

.title h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 15px;
	text-transform: capitalize;
}

.title h4::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
	margin-right: 6px;
}

.title h4 {
	color: #37393f;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 16px;
}

.title .text {
	line-height: 1.46;
	margin-bottom: 20px;
}

.title > *:last-child {
	margin-bottom: 0;
}

.text p:not(:last-child) {
	line-height: 1.46;
	margin-bottom: 20px;
}

.work__header {
	text-align: center;
	margin: 0 auto 72px;
}
/* =============================== */

.work__content {
	font-size: 0;
}

.work__content > *:not(:last-child) {
	margin-right: 31px;
	margin-bottom: 60px;
}

.work__content h3 {
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 16px;
}

.work__cart {
	vertical-align: top;
	padding: 58px 43px;
	width: 386px;
	background-color: #f4f4f4;
	display: inline-block;
	text-align: center;
}

.work__cart > *:last-child {
	margin-bottom: 0;
}

.work__img {
	margin: -94px auto 22px;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background-color: #40ddb6;
}

.work__img:hover {
	background-color: #6b77e5;
}
.work__img:active {
	background-color: #3745c3;
}

.work__text {
	margin-bottom: 37px;
	max-width: 300px;
}

.work__text p:not(:last-child) {
	margin-bottom: 15px;
}

.work__text p {
	font-size: 18px;
	line-height: 1.46;
}
.work__link {
	color: #6b77e5;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.work__link:hover {
	color: #40ddb6;
	text-decoration: underline;
}
/* ==========Care================= */

.page__care {
	margin-bottom: 150px;
}
.care {
}

.care__container {
	max-width: 805px;
	padding: 0 15px;
	margin: 0 auto;
}

.care__container > *:not(:last-child) {
	margin-bottom: 48px;
}

.care__header h2 {
	max-width: 414px;
}

.cart-care__text {
}

.cart-care__text {
	line-height: 1.2;
}

.text {
}

.care__body {
	max-width: 675px;
	border: 1px solid #e3e3e3;
	padding: 28px 41px 28px 84px;
}

.care__content > *:not(:last-child) {
	margin-bottom: 31px;
}

.care__cart h3 {
	margin-bottom: 12px;
	font-size: 20px;
	font-weight: 600;
}

.care__cart h3::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 27px;
	margin-left: -46px;
	margin-right: 19px;
	vertical-align: -6px;
	background: url("../img/check.svg") 0px 0px no-repeat;
}

.cart {
}

.cart-care__text {
	margin-bottom: 15px;
}

.cart-care__text p:not(:last-child) {
	margin-bottom: 15px;
}

.care__link {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: capitalize;
	padding: 21px 35px 22px 35px;
	background: #6b77e5;
}
/* ==============CONSULTING============== */

.page__consulting {
	margin-bottom: 120px;
}

.page__consulting h3 {
	text-transform: capitalize;
	font-weight: 600;
	line-height: 1.27;
}

.consulting__container {
	max-width: 723px;
	padding: 0 15px;
	margin: 0 auto;
}

.consulting__img {
	background: url("../img/people-on-meeting.jpg") center / cover no-repeat;
	margin-bottom: 37px;
	width: 100%;
	min-width: 380px;
	min-height: 453px;
}

.consulting__title {
	margin-bottom: 12.5px;
	font-size: 30px;
	text-transform: capitalize;
	font-weight: 600;
	line-height: 1.27;
}

.consulting__text {
	margin-bottom: 15px;
}
.consulting__text p {
	line-height: 1.46;
}

.consulting__text > *:not(:last-child) {
	margin-bottom: 12px;
}

.consulting__body > *:last-child {
	margin-bottom: 0;
}

.consulting__body {
	margin-bottom: 42px;
}

/* ============== BENEFITS============= */

.consulting__benefits {
	margin-bottom: 50px;
}

.benefits__content {
	font-size: 0;
}

.benefits__content > *:last-child {
	margin-bottom: 0;
}

.benefits__header {
	margin-bottom: 40px;
}

.benefits__header > *:not(:last-child) {
	margin-bottom: 15px;
}

.benefits__title {
	font-size: 20px;
	color: #6b77e5;
	font-weight: 600;
	line-height: 1.27;
}

.benefits__text p {
	font-size: 18px;
	line-height: 1.46;
}

.benefits__text > *:not(:last-child) {
	margin-bottom: 15px;
}

.benefits__body {
	margin-bottom: 50px;
}

.benefits__img {
	display: inline-block;
	margin-right: 29px;
	background: url("../img/desktop.jpg") center / cover no-repeat;
	width: 47.76%;
	min-width: 260px;
	min-height: 261px;
}

.benefits__scroll {
	max-width: 332px;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
}

.scroll__title {
	font-size: 25px;
	margin-bottom: 15px;
}

.scroll__subtitle {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	line-height: 1.27;
	font-size: 20px;
	color: #40ddb6;
	margin-bottom: 23.5px;
}

.scroll__list {
	line-height: 1.2;
}

.scroll__list li:not(:last-child) {
	margin-bottom: 30px;
}

.scroll__list li {
	min-height: 27px;
	padding-top: 2.5px;
	padding-left: 35px;
	background: url("../img/check.svg") no-repeat;
}

/* ============== */

.consulting__questions {
}
.questions h3 {
	font-size: 30px;
	margin-bottom: 8px;
}
.questions__text {
	margin-bottom: 15px;
}

.questions__text p {
	line-height: 1.46;
}

.questions__text > *:not(:last-child) {
	margin-bottom: 15px;
}

.consulting__questions > *:last-child {
	margin-bottom: 0;
}
/* ========== JEWELS ============= */

.page__jewels {
}
.jewels {
}
.jewels__container {
	max-width: 1244px;
	padding: 0 15px;
	margin: 0 auto;
}

.jewels__body {
	font-size: 0;
}

.jewels__body > *:last-child {
	margin-right: 0;
}

.jewels__body,
h2 {
	color: #000;
	font-family: "Cormorant Infant", serif;
	font-weight: 700;
}
.jewels__header {
	display: inline-block;
	vertical-align: middle;
	max-width: 460px;
	margin-right: 22px;
}

.jewels__header h2 {
	margin-top: 118px;
	line-height: 1.15;
	font-size: 60px;
	text-transform: capitalize;
}

.jewels__header h2::after {
	content: "";
	width: 66%;
	height: 3px;
	background-color: #78473b;
	display: block;
	margin-top: 13px;
}

.jewels__cart {
	display: inline-block;
	vertical-align: top;
	margin-right: 62px;
}

.jewels__cart > *:last-child {
	margin-bottom: 0;
}

.cart-jewels {
}
.cart-jewels__link {
	margin-bottom: 34px;
}

.cart-jewels__img {
	max-width: 334px;
	border: 1px solid #000;
}

.cart-jewels__img img {
	margin: 9px -10px -9px 10px;
	width: 100%;
}
.cart-jewels__title {
}

.cart-jewels__title {
	font-size: 24px;
	line-height: 1.4;
	margin-bottom: 15px;
}

.title-jewels-cart__link {
	margin-bottom: 4px;
}
.title-jewels-cart__price {
	margin-bottom: 10px;
}

.cart-jewels__title > *:last-child {
	margin-bottom: 0;
}
