<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Fox House</title>
</head>

<body>
	<header>
		<div class="final-battle">
			<h1>Зустріч з лисицею</h1>

		</div>
	</header>

	<main>
		<div class="fox">
			<div class="fox__meeting">
				<h2>
					Біжить та й біжить, зустрічається з лисичкою:
				</h2>
				<img src="img/fox-greeting.png" alt="fox-greeting">
			</div>
			<div class="fox__conversation conversation">
				<ol>
					<li>
						<p>— Колобок, колобок, я тебе з'їм!</p>
						<ol>
							<li>
								<p>Не їж мене, лисичко-сестричко, я тобі пісню заспіваю.</p>
							</li>
						</ol>
					</li>
					<li>
						<p>Ану, якої!</p>
						<ol>
							<li>
								<p>Я по коробу метений,</p>
								<p>На яйцях спечений,</p>
								<p>Я од баби та од діда втік,</p>
								<p>Я від зайця втік,</p>
								<p>Од вовка вітк,</p>
								<p>Од ведмедя втік,</p>
								<p>Так і од тебе втечу!</p>
							</li>
						</ol>
					</li>
					<li>
						<p>
							Яка гарна <span>пісня</span>! Ану, ще заспівай! Сідай у мене на язиці, щоб мені чутніше було.
						</p>
						<div class="conversation__single">
							<h3>
								От він і сів та й давай <mark>співати</mark>:
							</h3>
							<ol>
								<li>
									Я по коробу метений,
									На яйцях спечений...
								</li>
							</ol>
						</div>
					</li>
					<li>
						<div class="conversation__final">
							<h3>
								А лисичка його — гам! Та й проковтнула.
							</h3>
							<div class="conversation__img">
								<img src="img/fox-had-lunch.png" alt="fox-had-lunch">
							</div>
						</div>
					</li>
				</ol>
			</div>
			<div class="conversation__end">
				<img src="img/fox-go-home.png" alt="fox-go-home">
			</div>
		</div>
	</main>

	<footer>
		<div class="footer">
			<ul>
				<li>
					Українська народна казка
				</li>
				<li>
					Колобок
				</li>
				<li>
					Ілюстрації – А.Савченко
				</li>
			</ul>
		</div>
	</footer>
</body>

</html>