<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Колобок продовження</title>
</head>
<!-- на БЕМ не звертайте увагу, то потихеньку намагаюсь пригадувати -->

<body>
	<header>
		<div class="round-continue">
			<h1>Колобок, продовження</h1>
			<div class="round-continue__skip">
				<a href="#next-lvl" class="link">Скіпнути рівень, піти до боса</a>
			</div>
		</div>
	</header>

	<main>
		<div class="bear">
			<div class="bear__img">
				<img src="img/bear.png" alt="bear">
				<h2>Я ведмідь</h2>
			</div>
			<div class="bear__conversation conversation">
				<h2>
					Знову біжить та й біжить, — зустрічає його ведмідь:
				</h2>
				<ul>
					<li>
						<div class="conversation">
							<p>Колобок, колобок, я тебе з'їм!</p>
							<p>
								<mark>Не їж мене, ведмедику-братику, я тобі пісню заспіваю.</mark>
							</p>
						</div>
					</li>
					<li>
						<div class="conversation">
							<p>Ану!</p>
							<p><mark>— Я по коробу метений,
									На яйцях спечений, —
									Я од баби та од діда втік,
									Я від зайця втік,
									Од вовка вітк,
									Так і од тебе втечу!</mark>
							</p>
						</div>
					</li>
					<li>
						<h3>Та покотився далі!</h3>
						<div class="bear__img">
							<img src="img/bear-out.png" alt="bear-out">
						</div>
					</li>
				</ul>
			</div>
			<div class="bear__out">
				<a id="next-lvl" href="fox.html" title="go-to-fox" class="link">
					Йдемо до БОСА
				</a>
			</div>
		</div>
	</main>

	<footer>
		<div class="footer">
			<ul>
				<li>
					Українська народна казка
				</li>
				<li>
					Колобок
				</li>
				<li>
					Ілюстрації – А.Савченко
				</li>
			</ul>
		</div>
	</footer>
</body>

</html>