<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>HW7</title>
</head>

<body>
	<header class="header">

	</header>
	<main class="page">
		<div class="page__licencing licencing">
			<div class="licencing__container">
				<div class="licencing__header">

					<div class="licencing__template">
						<span></span>
						<h5 class="licencing__suptitle">
							Template Information
						</h5>
					</div>

					<h2 class="licencing__title title">
						Licencing
					</h2>
				</div>
				<div class="licencing__body">

				</div>
			</div>
		</div>
	</main>

	<footer class="footer">

	</footer>
</body>

</html>