<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/car-style.css">
	<title>HW_13</title>
</head>

<body>
	<div class="wrapper">
			
		<main class="page">
			<div class="page__tractor tractor">
				<div class="tractor__clouds"></div>
				<div class="tractor__clouds"></div>
				<div class="tractor__clouds"></div>
				<div class="tractor__clouds"></div>
				<div class="tractor__container">
					<div class="tractor__box box-tractor">
						<div class="tractor__bird"></div>
						<div class="box-tractor__trailer trailer">
							<div class="trailer__bottom bottom-trailer">
								<div class="bottom-trailer__box">
									<div class="bottom-trailer__bridge">
									</div>
									<div class="bottom-trailer__wheel wheel wheel--trailer">
										<div class="wheel__tractor">
											<div class="wheel__box">
												<div class="wheel__sup-axis">
												</div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__axis"></div>
											</div>
										</div>
									</div>
									<div class="bottom-trailer__wheel wheel wheel--trailer">
										<div class="wheel__tractor">
											<div class="wheel__box">
												<div class="wheel__sup-axis">
												</div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__axis"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="trailer__jumper">
							</div>
							<div class="trailer__body">
								<div class="trailer__box box">

									<div class="box__cow">
										<img src="img/cow.png" alt="cow img">
									</div>
									<div class="box__top top"></div>
									<div class="box__top box__top--second"></div>
									<div class="box__top-vertical vertical"></div>
									<div class="box__top-vertical vertical"></div>
									<div class="box__top-vertical vertical"></div>
									<div class="box__top-vertical vertical"></div>
									<div class="box__bottom"></div>
									<div class="box__middle"></div>
								</div>
							</div>
						</div>
						<div class="box-tractor__area">
							<div class="box-tractor__cabin cabin">
								<div class="cabin__rear cabin__rear--absolute">
								</div>
								<div class="cabin__seat"></div>
								<div class="cabin__boy"></div>
								<div class="cabin__jumper cabin__jumper--absolute">
								</div>
								<div class="cabin__top cabin__top--absolute">
								</div>
								<div class="cabin__front cabin__front--absolute">
								</div>
								<div class="cabin__engine cabin__engine--absolute">
								</div>
								<div class="cabin__pipe pipe">
									<div class="pipe__box">
										<div class="pipe__thin"></div>
									</div>
									<div class="pipe__fat"></div>
								</div>
								<div class="cabin__smog"></div>
								<div class="cabin__engine-alpha cabin__engine-alpha--absolute">
								</div>
								<div class="cabin__bottom cabin__bottom----absolute">
								</div>
							</div>

							<div class="box-tractor__wheel wheel">
								<div class="wheel__tractor">
									<div class="wheel__box">
										<div class="wheel__sup-axis">
										</div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__axis"></div>
									</div>
								</div>
							</div>
							<div class="box-tractor__wheel wheel wheel--small">
								<div class="wheel__tractor">
									<div class="wheel__box">
										<div class="wheel__sup-axis">
										</div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__axis"></div>
									</div>
								</div>
							</div>
							<div class="box-tractor__wing wing">
								<div class="wing__tractor">
									<div class="wing__box">

									</div>
								</div>
							</div>
							<div class="box-tractor__light">

							</div>

						</div>
					</div>
				</div>
				<div class="tractor__grass"></div>
			</div>

		</main>

	</div>

</body>

</html>