<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_13</title>
</head>

<body>
	<div class="wrapper">
		<!-- <header class="header header--fix">
			<div class="header__container">
				<a href="#" class="header__logo">
					<img src="img/header/icons/logo.svg" alt="websites logotype">
				</a>
				<ul class="header__menu menu">
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Home
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							About Us
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link arrow">
							Pages
						</a>
						<ul class="sub-menu">
							<li class="sub-menu__item">
								<a href="#" class="sub-menu__link">
									Sub Item #1
								</a>
							</li>
							<li class="sub-menu__item">
								<a href="#" class="sub-menu__link arrow arrow--right">
									Sub Item #1
								</a>
								<ul>
									<li>
										<a href="#">
											Sub Item #2
										</a>
									</li>
									<li>
										<a href="#">
											Sub Item #2
										</a>
									</li>
									<li>
										<a href="#" class="arrow arrow--right">
											Sub Item #2
										</a>
										<ul>
											<li>
												<a href="#">
													Sub Item #3
												</a>
											</li>
											<li>
												<a href="#" class="arrow arrow--right">
													Sub Item #3
												</a>
												<ul>
													<li>
														<a href="#">
															Sub Item #4
														</a>
													</li>
													<li>
														<a href="#">
															Sub Item #4
														</a>
													</li>
													<li>
														<a href="#">
															Sub Item #4
														</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">
													Sub Item #3
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="sub-menu__item">
								<a href="#" class="sub-menu__link">
									Sub Item #1
								</a>

							</li>
							<li class="sub-menu__item">
								<a href="#" class="sub-menu__link">
									Sub Item #1
								</a>
							</li>
						</ul>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Services
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Blog
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Contact Us
						</a>
					</li>
				</ul>
				<a href="#" class="header__button button">
					Get Consulting
				</a>
			</div>
		</header> -->

		<main class="page">
			<div class="page__tractor tractor">
				<div class="tractor__container">
					<div class="tractor__box box-tractor">
						<div class="box-tractor__trailer trailer">
							<div class="trailer__bottom bottom-trailer">
								<div class="bottom-trailer__box">
									<div class="bottom-trailer__bridge">
									</div>
									<div class="bottom-trailer__wheel wheel wheel--trailer">
										<div class="wheel__tractor">
											<div class="wheel__box">
												<div class="wheel__sup-axis">
												</div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__axis"></div>
											</div>
										</div>
									</div>
									<div class="bottom-trailer__wheel wheel wheel--trailer">
										<div class="wheel__tractor">
											<div class="wheel__box">
												<div class="wheel__sup-axis">
												</div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__screw screw"></div>
												<div class="wheel__axis"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="trailer__jumper">
							</div>
							<div class="trailer__body">
								<div class="trailer__box box">


									<div class="box__top top"></div>
									<div class="box__top box__top--second"></div>
									<div class="box__top-vertical vertical"></div>
									<div class="box__top-vertical vertical"></div>
									<div class="box__top-vertical vertical"></div>
									<div class="box__top-vertical vertical"></div>
									<div class="box__bottom"></div>
									<div class="box__middle"></div>
								</div>
							</div>
						</div>
						<div class="box-tractor__area">
							<div class="box-tractor__cabin cabin">
								<div class="cabin__rear cabin__rear--absolute">
								</div>
								<div class="cabin__jumper cabin__jumper--absolute">
								</div>
								<div class="cabin__top cabin__top--absolute">
								</div>
								<div class="cabin__front cabin__front--absolute">
								</div>
								<div class="cabin__engine cabin__engine--absolute">
								</div>
								<div class="cabin__pipe pipe">
									<div class="pipe__box">
										<div class="pipe__thin"></div>
									</div>
									<div class="pipe__fat"></div>
								</div>
								<div class="cabin__engine-alpha cabin__engine-alpha--absolute">
								</div>
								<div class="cabin__bottom cabin__bottom----absolute">
								</div>
							</div>

							<div class="box-tractor__wheel wheel">
								<div class="wheel__tractor">
									<div class="wheel__box">
										<div class="wheel__sup-axis">
										</div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__axis"></div>
									</div>
								</div>
							</div>
							<div class="box-tractor__wheel wheel wheel--small">
								<div class="wheel__tractor">
									<div class="wheel__box">
										<div class="wheel__sup-axis">
										</div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__screw screw"></div>
										<div class="wheel__axis"></div>
									</div>
								</div>
							</div>
							<div class="box-tractor__wing wing">
								<div class="wing__tractor">
									<div class="wing__box">

									</div>
								</div>
							</div>
							<div class="box-tractor__light">

							</div>

						</div>
					</div>
				</div>
			</div>

		</main>

		<!-- <footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer> -->
	</div>

</body>

</html>