<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_13-14</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__container">
				<a href="#" class="header__logo">
					<img src="img/logo.png" alt="websites logotype">
				</a>
				<ul class="header__menu menu">
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Practice
						</a>
					</li>
					<li class="menu__item">
						<a href="car.html" target="_blank" class="menu__link">
							Car
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link arrow">
							Footer
						</a>
					</li>

				</ul>
			</div>
		</header>

		<main class="page">
			<div class="page__practice practice">
				<div class="practice__container">
					<div class="practice__book book">
						<div class="book__page page">
							<div class="page__body">
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__title">
										<h2 class="page__main-title">
											knowledge book
										</h2>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											transform: translate (x, y);
										</h3>
									</div>
									<div class="page__test test test--absolute">
										<div class="test__body">
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											transform: scale (x, y);
										</h3>
									</div>
									<div class="page__test-1 test test--absolute">
										<div class="test__body">
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											transform: scale (x, y);
										</h3>
									</div>
									<div class="page__test-2 test test--absolute">
										<div class="test__body">
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											transform: skew (xdeg, ydeg);
										</h3>
									</div>
									<div class="page__test-3 test test--absolute">
										<div class="test__body">
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											transform-origin: ___ ___;
										</h3>
									</div>
									<div class="page__test-4 test test--absolute">
										<div class="test__body">
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											transform: translate3d
										</h3>
									</div>
									<div class="page__test-5 test test--absolute">
										<div class="test__body">
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											transform: scale3d
										</h3>
									</div>
									<div class="page__test-6 test test--absolute">
										<div class="test__body">
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											transform: rotate3d(1, 1, 1, 0deg);
										</h3>
									</div>
									<div class="page__test-7 test test--absolute">
										<div class="test__body">
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											3D Трансформація transform-style
										</h3>
									</div>
									<div class="page__test-8 test test--absolute">
										<div class="test__body">
											dfs
										</div>
									</div>
								</div>
								<div class="page__content">
									<a href="#" class="page__next button">
										<div class="button__img">
											<img class="button__link" src="img/arr-right.png" alt="arrow right img">
										</div>
									</a>
									<div class="page__sub-title">
										<h3 class="page__chapter-title">
											
										</h3>
									</div>
				
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</main>

		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer>
	</div>
</body>
<script src="js/script.js"></script>

</html>