<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_15</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__container">
				<a href="#" class="header__logo">
					<img src="img/header/logo.svg" alt="website logo">
				</a>
				<div class="header__body">
					<div class="header__services">
						<form action="" method="get" class="header__search">
							<input type="search" placeholder="Search" class="header__input">
						</form>
						<ul class="header__language language">
							<li class="language__current">
								<a href="#" class="language__link">
									English (united States)
								</a>
								<ul class="language__list">
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Korean
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Datch
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Korean
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Datch
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="header__buttons">
						<a href="#" class="header__button button">Login</a>
						<a href="#" class="header__button button button--white">Sign Up</a>
					</div>
				</div>
			</div>
		</header>

		<main class="page">
			<div class="page__categories categories">
				<div class="categories__container">
					<h2 class="categories__title title">
							Categories For Men
					</h2>
					<div class="categories__products products">
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/shirt.webp" alt="">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Shirts
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link"></a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<div class="item-product__image">
									<img src="img/categories/shirt.webp" alt="">
								</div>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Shirts
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link"></a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<div class="item-product__image">
									<img src="img/categories/shirt.webp" alt="">
								</div>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Shirts
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link"></a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<div class="item-product__image">
									<img src="img/categories/shirt.webp" alt="">
								</div>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Shirts
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link"></a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<div class="item-product__image">
									<img src="img/categories/shirt.webp" alt="">
								</div>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Shirts
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>

		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer>
	</div>
</body>
<script src="js/script.js"></script>

</html>