<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_15</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__container">
				<a href="#" class="header__logo">
					<img src="img/header/logo.svg" alt="website logo">
				</a>
				<div class="header__body">
					<div class="header__services">
						<form action="" method="get" class="header__search">
							<input type="search" placeholder="Search" class="header__input">
						</form>
						<ul class="header__language language">
							<li class="language__current">
								<a href="#" class="language__link">
									English (united States)
								</a>
								<ul class="language__list">
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Korean
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Datch
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Korean
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Datch
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="header__buttons">
						<a href="#" class="header__button button">Login</a>
						<a href="#" class="header__button button button--white">Sign Up</a>
					</div>
				</div>
			</div>
		</header>

		<main class="page">
			<div class="page__categories categories">
				<div class="categories__container">
					<h2 class="categories__title title">
						Categories For Men
					</h2>
					<div class="categories__products products">
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/shirt.webp" alt="man in shirt">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Shirts
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link">
										<svg class="item-product__arrow" viewBox="0 0 20 14" fill="#797979"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.9571 7.71798C19.2843 7.39075 19.2843 6.86022 18.9571 6.533L13.6247 1.20059C13.2975 0.873368 12.7669 0.873368 12.4397 1.20059C12.1125 1.52781 12.1125 2.05835 12.4397 2.38557L17.1796 7.12549L12.4397 11.8654C12.1125 12.1926 12.1125 12.7232 12.4397 13.0504C12.7669 13.3776 13.2975 13.3776 13.6247 13.0504L18.9571 7.71798ZM0.489258 7.9634L18.3646 7.9634V6.28758L0.489258 6.28758L0.489258 7.9634Z"
												fill="#797979" />
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/black_t-shirt.webp" alt="man in black t-shirt">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Printed T-Shirts
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link">
										<svg class="item-product__arrow" viewBox="0 0 20 14" fill="#797979"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.9571 7.71798C19.2843 7.39075 19.2843 6.86022 18.9571 6.533L13.6247 1.20059C13.2975 0.873368 12.7669 0.873368 12.4397 1.20059C12.1125 1.52781 12.1125 2.05835 12.4397 2.38557L17.1796 7.12549L12.4397 11.8654C12.1125 12.1926 12.1125 12.7232 12.4397 13.0504C12.7669 13.3776 13.2975 13.3776 13.6247 13.0504L18.9571 7.71798ZM0.489258 7.9634L18.3646 7.9634V6.28758L0.489258 6.28758L0.489258 7.9634Z"
												fill="#797979" />
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/brown_t-shirt.webp" alt="man in brown t-shirt">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Plain T-Shirt
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link">
										<svg class="item-product__arrow" viewBox="0 0 20 14" fill="#797979"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.9571 7.71798C19.2843 7.39075 19.2843 6.86022 18.9571 6.533L13.6247 1.20059C13.2975 0.873368 12.7669 0.873368 12.4397 1.20059C12.1125 1.52781 12.1125 2.05835 12.4397 2.38557L17.1796 7.12549L12.4397 11.8654C12.1125 12.1926 12.1125 12.7232 12.4397 13.0504C12.7669 13.3776 13.2975 13.3776 13.6247 13.0504L18.9571 7.71798ZM0.489258 7.9634L18.3646 7.9634V6.28758L0.489258 6.28758L0.489258 7.9634Z"
												fill="#797979" />
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/blue_t-shirt.webp" alt="man in blue t-shirt">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Polo T-Shirt
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link">
										<svg class="item-product__arrow" viewBox="0 0 20 14" fill="#797979"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.9571 7.71798C19.2843 7.39075 19.2843 6.86022 18.9571 6.533L13.6247 1.20059C13.2975 0.873368 12.7669 0.873368 12.4397 1.20059C12.1125 1.52781 12.1125 2.05835 12.4397 2.38557L17.1796 7.12549L12.4397 11.8654C12.1125 12.1926 12.1125 12.7232 12.4397 13.0504C12.7669 13.3776 13.2975 13.3776 13.6247 13.0504L18.9571 7.71798ZM0.489258 7.9634L18.3646 7.9634V6.28758L0.489258 6.28758L0.489258 7.9634Z"
												fill="#797979" />
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/green-hoodie.webp" alt="man in green hoodie">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Hoodies & Sweetshirt
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link">
										<svg class="item-product__arrow" viewBox="0 0 20 14" fill="#797979"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.9571 7.71798C19.2843 7.39075 19.2843 6.86022 18.9571 6.533L13.6247 1.20059C13.2975 0.873368 12.7669 0.873368 12.4397 1.20059C12.1125 1.52781 12.1125 2.05835 12.4397 2.38557L17.1796 7.12549L12.4397 11.8654C12.1125 12.1926 12.1125 12.7232 12.4397 13.0504C12.7669 13.3776 13.2975 13.3776 13.6247 13.0504L18.9571 7.71798ZM0.489258 7.9634L18.3646 7.9634V6.28758L0.489258 6.28758L0.489258 7.9634Z"
												fill="#797979" />
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/jeans.webp" alt="img with jeans">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Jeans
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link">
										<svg class="item-product__arrow" viewBox="0 0 20 14" fill="#797979"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.9571 7.71798C19.2843 7.39075 19.2843 6.86022 18.9571 6.533L13.6247 1.20059C13.2975 0.873368 12.7669 0.873368 12.4397 1.20059C12.1125 1.52781 12.1125 2.05835 12.4397 2.38557L17.1796 7.12549L12.4397 11.8654C12.1125 12.1926 12.1125 12.7232 12.4397 13.0504C12.7669 13.3776 13.2975 13.3776 13.6247 13.0504L18.9571 7.71798ZM0.489258 7.9634L18.3646 7.9634V6.28758L0.489258 6.28758L0.489258 7.9634Z"
												fill="#797979" />
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/black-pants.webp" alt="man in black pants">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Activewear
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link">
										<svg class="item-product__arrow" viewBox="0 0 20 14" fill="#797979"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.9571 7.71798C19.2843 7.39075 19.2843 6.86022 18.9571 6.533L13.6247 1.20059C13.2975 0.873368 12.7669 0.873368 12.4397 1.20059C12.1125 1.52781 12.1125 2.05835 12.4397 2.38557L17.1796 7.12549L12.4397 11.8654C12.1125 12.1926 12.1125 12.7232 12.4397 13.0504C12.7669 13.3776 13.2975 13.3776 13.6247 13.0504L18.9571 7.71798ZM0.489258 7.9634L18.3646 7.9634V6.28758L0.489258 6.28758L0.489258 7.9634Z"
												fill="#797979" />
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="products__column">
							<div class="products__item item-product">
								<a href="#" class="item-product__image">
									<img src="img/categories/boxers.webp" alt="мужик в труханах">
								</a>
								<div class="item-product__body">
									<div class="item-product__content">
										<h3 class="item-product__title">
											Boxers
										</h3>
										<div class="item-product__text">
											Explore Now!
										</div>
									</div>
									<a href="#" class="item-product__link">
										<svg class="item-product__arrow" viewBox="0 0 20 14" fill="#797979"
											xmlns="http://www.w3.org/2000/svg">
											<path
												d="M18.9571 7.71798C19.2843 7.39075 19.2843 6.86022 18.9571 6.533L13.6247 1.20059C13.2975 0.873368 12.7669 0.873368 12.4397 1.20059C12.1125 1.52781 12.1125 2.05835 12.4397 2.38557L17.1796 7.12549L12.4397 11.8654C12.1125 12.1926 12.1125 12.7232 12.4397 13.0504C12.7669 13.3776 13.2975 13.3776 13.6247 13.0504L18.9571 7.71798ZM0.489258 7.9634L18.3646 7.9634V6.28758L0.489258 6.28758L0.489258 7.9634Z"
												fill="#797979" />
										</svg>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="page__wish wish">
				<div class="wish__container">
					<h2 class="wish__title">
						Wishlist
					</h2>
					<div class="wish__content">
						<div class="wish__item item-wish">
							<div class="item-wish__properties">
								<a href="#" class="item-wish__cancel"></a>
								<a href="$" class="item-wish__img">
									<img src="img/wish/blue_flower_print_crop_top.webp"
										alt="girl in blue flower print crop top">
								</a>
								<div class="item-wish__body">
									<h3 class="item-wish__title">
										Blue Flower Print Crop Top
									</h3>
									<h3 class="item-wish__title">
										Color : <span>Yellow</span>
									</h3>
									<h3 class="item-wish__title">
										Quantity : <span>1</span>
									</h3>
								</div>
							</div>
							<div class="item-wish__price">
								$29.00
							</div>
							<a href="#" class="item-wish__button button button--small">
								Add to cart
							</a>
						</div>

					</div>
				</div>
			</div>
		</main>

		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer>
	</div>
</body>
<script src="js/script.js"></script>

</html>