@import url("fonts.css");

@import url("reset.css");

/* ======== care======== */
[class*="__container"] {
	max-width: 651px;
	margin: 0 auto;
	padding: 0 15px;
}

body {
	color: #7d7d7d;
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

h2,
h3 {
	color: #37393f;
	font-family: "Poppins", sans-serif;
}
.header {
	margin-top: 10px;
	margin-bottom: 100px;
}
.header__container {
}
.header__list {
	text-align: right;
}

.header__list li {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 1px solid;
	margin-right: 15px;
}

ul > *:last-child {
	margin-right: 0;
}

.page {
	margin-bottom: 100px;
}

.page__care {
	margin-bottom: 150px;
}
.care {
}

.care__body {
}

.care__header {
	margin-bottom: 20px;
	max-width: 414px;
}

.care__header span {
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
	display: inline-block;
	margin-right: 6px;
}

.care__header h4 {
	color: #37393f;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 16px;
	text-transform: capitalize;
}

.care__header h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	text-transform: capitalize;
}

.care__text {
	line-height: 1.46;
	margin-bottom: 20px;
}
.care__text p {
	margin-bottom: 15px;
}

.care__list {
	max-width: 392px;
	margin-bottom: 43px;
}
.care__item {
	min-height: 30px;
	background: url("../img/check.svg") no-repeat;
	padding-left: 35px;
	margin-bottom: 23px;
}

.care__item span {
	vertical-align: middle;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	line-height: 1;
}

.care__content {
	font-size: 0;
	margin-bottom: 37px;
}

.content-care {
}
.content-care__body {
	display: inline-block;
	font-size: 0;
	border: 1px solid #e3e3e3;
	max-width: 297px;
	padding: 31px 32px 32px;
	margin-right: 21px;
}

/* .content-care__body:not(:last-child) {
	margin-right: 21px;
} */

.content-care__img {
	display: inline-block;
	vertical-align: top;
	width: 39px;
	height: 41px;
	margin-right: 19px;
}
.sertificate {
	background: url("../img/sertificate.svg") center / cover no-repeat;
}
.content-care__article {
	display: inline-block;
	max-width: 173px;
}

.content-care__article h3 {
	padding-top: 5px;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	text-transform: capitalize;
}
.content-care__text p {
	font-size: 16px;
	line-height: 1.35;
	margin-bottom: 10px;
}

.cup {
	background: url("../img/cup.svg") center / cover no-repeat;
}

/* на цьому моменті подивився 9 заняття:)) */

.care__button {
	display: inline-block;
	vertical-align: middle;
	background-color: #6b77e5;
	padding: 21px 27px 22px;
	color: #fff;
	font-weight: 600;
	line-height: 1;
	text-transform: capitalize;
}

.care__content > *:last-child {
	margin-right: 0;
}

.care__body > *:last-child {
	margin-bottom: 0;
}
/* ======== projects============= */

.page__projects {
	margin-bottom: 150px;
}
.projects {
}

.box {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.projects__header {
	text-align: center;
	max-width: 852px;
	margin: 0 auto 37px;
}

.title > *:not(:last-child) {
	margin-bottom: 20px;
}

.title span {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #40ddb6;
	margin-right: 6px;
}

.title h4 {
	color: #37393f;
	font-weight: 500;
	line-height: 1.2;
}

.title h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
}

.title p {
	color: #7d7d7d;
	font-size: 18px;
	line-height: 1.46;
}

.text > *:not(:last-child) {
	margin-bottom: 10px;
}

.projects__content {
	font-size: 0;
}

.projects__row {
	margin-bottom: 58px;
}

.projects__row > *:not(:last-child) {
	margin-right: 34px;
}

.projects__cart {
	width: 31.475%;
	min-width: 312px;
	display: inline-block;
}

.img-project {
	min-height: 501px;
	margin-bottom: 24px;
}

.projects__monitor {
	background: url("../img/monitor.jpg") 50% / cover no-repeat;
}
.projects__sofa {
	background: url("../img/sofa.jpg") 50% / cover no-repeat;
}
.projects__phone {
	background: url("../img/phone.jpg") 50% / cover no-repeat;
}
.projects__woman {
	background: url("../img/woman.jpg") 50% / cover no-repeat;
}
.projects__pen {
	background: url("../img/pen.jpg") 50% / cover no-repeat;
}
.projects__coffee {
	background: url("../img/coffee.jpg") 50% / cover no-repeat;
}

.projects__info {
	max-width: 346px;
}

.projects__info h3 {
	color: #37393f;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 10px;
}
.projects__info a {
	border-bottom: 1px solid;
}
.projects__date {
	font-size: 14px;
	line-height: 1.46;
}

.projects__date span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3.35px;
	width: 22px;
	height: 22px;
	background: url("../img/calendar.svg") center / cover no-repeat;
}

/* ===== Clothing for Women Online in India ======= */

.page__clothing {
	margin-bottom: 160px;
}

.clothing {
}

.clothing__content {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

.clothing__content > *:last-child {
	margin-bottom: 0;
}

.page__clothing h2,
h3 {
	font-family: "Core Sans C", sans-serif;
	font-weight: 650;
}

.clothing__reexplore h2 {
	margin-bottom: 30px;
	margin-left: -21px;
	padding-left: 21px;
	background: url("../img/obround.png") no-repeat;
}

/* .clothing__obround {
	display: inline-block;
	width: 6px;
	height: 28px;
	border-radius: 10px;
	background-color: #8a33fd;
	vertical-align: top;
	margin-right: 15px;
} */

.clothing__reexplore h2 {
	color: #3c4242;
	font-size: 28px;
	line-height: 1.2;
	letter-spacing: 0.56px;
}

.clothing__reexplore {
	padding-left: 21px;
	margin-bottom: 25px;
}

.clothing__reexplore h3,
.clothing__destination h3 {
	color: #807d7e;
	font-size: 20px;
	line-height: 1.67;
	letter-spacing: 0.4px;
	margin-bottom: 25px;
}

.clothing__content span {
	font-weight: 700;
	letter-spacing: 0.4px;
}

.clothing__reexplore > *:last-child {
	margin-bottom: 0;
}

.clothing__text {
	color: #807d7e;
	font-family: "Causten", sans-serif;
	font-size: 20px;
	line-height: 1.67;
	letter-spacing: 0.4px;
}

.clothing__text p {
	margin-bottom: 20px;
}

.clothing__text > *:last-child {
	margin-bottom: 0;
}

.clothing__destination {
	padding-left: 21px;
}

.clothing__destination > *:last-child {
	margin-bottom: 0;
}

.clothing__link {
	color: #807d7e;
	font-family: "Core Sans C", sans-serif;
	font-weight: 650;
	display: inline-block;
	border-bottom: 1px solid;
}
/* =============== Fashion================ */
.page__fashion {
	margin-bottom: 150px;
}

.fashion {
}

.fashion__box {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

.fashion__body {
	font-size: 0;
}
.fashion__leaves {
	padding: 183px 74px 175px;
	vertical-align: top;
	display: inline-block;
	min-height: 640px;
	width: 614px;
	background: url("../img/leaves.jpg") center / cover no-repeat;
}

.fashion__leaves h2 {
	color: #fff;
	font-family: "Core Sans C", sans-serif;
	font-size: 34px;
	font-weight: 800;
	line-height: 1.47;
	letter-spacing: 0.208px;
	text-transform: uppercase;
	margin-bottom: 17px;
}

.fashion__content {
	max-width: 466px;
}

.fashion__text {
	margin-bottom: 48px;
}
.fashion__text p {
	color: #fff;
	font-family: "Causten", sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 1px;
}
.fashion__link {
	display: inline-block;
	color: #3c4242;
	font-size: 18px;
	font-family: "Causten", sans-serif;
	font-weight: 600;
	line-height: 1.2;
	padding: 12px 44px;
	background-color: #fff;
	border-radius: 8px;
}

.fashion__people {
	vertical-align: top;
	display: inline-block;
	min-height: 640px;
	min-width: 626px;
	background: url("../img/people.jpg") center / cover no-repeat;
}

/* ============== test ================= */

.page__test {
}
.test {
}
.test__el1 {
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	margin-bottom: 30px;
	border: 1px dashed black;
	background: url("../img/people.jpg") 0 0 / contain no-repeat, rgba(64, 221, 182, 0.775);
}
.test__el2 {
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	margin-bottom: 30px;
	border: 1px dashed black;
	background: url("../img/people.jpg") center / cover no-repeat, rgba(64, 221, 182, 0.775);
}
.test__el3 {
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	margin-bottom: 30px;
	border: 1px dashed black;
	background: url("../img/people.jpg") 20px 20px / 200px no-repeat,
		url("../img/sofa.png") 75% 75% / 30% no-repeat, url("../img/coffee.jpg") 100% 100% / 300px fixed;
}

.test__el4 {
	padding: 20px;
	overflow: scroll;
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	margin-bottom: 30px;
	border: 1px dashed black;
	background-image: url("../img/phone.jpg"), url("../img/monitor.jpg"), url("../img/pen.jpg");
	background-repeat: no-repeat;
	background-position: right, left, 50%;
	background-size: 500px, auto auto, cover;
	background-attachment: local, fixed, scroll;
}
