<!DOCTYPE html>
<html lang="ua">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Favorite Films</title>
</head>
<style>
	* {
		text-align: center;
	}
</style>

<body>
	<h1>Films</h1>
</body>

</html>