<!DOCTYPE html>
<html lang="ua">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мої цілі</title>
</head>
<style>
	* {
		text-align: center;
	}
</style>

<body>
	<h1>Моя ціль дійти до кінця курсу :)</h1>
	<p>Жартую, звісно дійду</p>
</body>

</html>