<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>BBC NEWS Україна</title>
</head>

<!-- Насправді дуже важлива тема заняття, мені хороших знань комбінацій звернень до селекторів, атрибутів, та каскадності, на js дуже не вистачало, тому вирішив тут приділити побільше часу -->

<body>
	<header class="header">
		<div class="header__menu menu">
			<div class="menu__body">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="#warning" class="menu__link">
							Це останнє попередження, заявляють вчені, найбільше попередження про ризики зростання світової
							температури.
						</a>
					</li>
					<li class="menu__item">
						<a href="#conclusiongs-id" class="menu__link">
							Які ж головні висновки?
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							П'ять кроків до 1,5° C
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Скільки це все коштуватиме?
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Що я можу зробити?
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Що станеться, якщо ми не будемо діяти?
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Зменшення льодяного покриву в Арктиці
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Це все заради порятунку маленьких острівних держав?
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							Як довго нам лишилося?
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<main class="page">

		<div class="page__title title">
			<div class="title__container">
				<div class="title__main">
					<h1>
						Люди, схаменіться! Як врятувати світ від "кліматичної катастрофи"
					</h1>
					<img src="img/introduction-earth-img.png" alt="introduction-earth-img">
				</div>
				</div>
			</div>
		</div>

		<div class="page__warning warning">
			<div class="warning__container">
				<div class="warning__title">
					<h2 id="warning-id">
						Це останнє попередження, заявляють вчені, найбільше попередження про ризики зростання світової
						температури.
					</h2>
				</div>
				<div class="warning__body body-warning">
					<div class="body-warning__text">
						<p>
							Їхній драматичний звіт про намагання стримати зростання температури на рівні нижче 1,5°C
							свідчить,
							що
							світ зараз повністю збився зі свого шляху, і зростання температури може скласти 3°C.
						</p>
						<p>
							Аби утримати його на рівні нижче 1,5°C потрібно "швидко, довгостроково та безпрецедентно змінити
							усі
							аспекти суспільства".
						</p>
						<p>
							Це коштуватиме надзвичайно дорого, говориться в доповіді, але вікно можливостей ще не закрите.
						</p>
						<p>
							Після трьох років досліджень та тижня суперечок між ученими та урядовцями на зустрічі в
							Південній
							Кореї
							Міжурядова група з питань зміни клімату випустила спеціальну доповідь про вплив глобального
							потепління
							на
							рівні 1,5°C.
						</p>
					</div>
					<ul class="body-warning__list">
						<li class="warning__item">NASA запустило в космос лазер для вивчення льоду на Землі</li>
						<li class="warning__item">Три кроки, які допоможуть людству подолати зміни клімату</li>
						<li class="warning__item">Парникова Земля: життя під загрозою - попри зменшення викидів CO2</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="page__conclusions conclusiongs">
			<div class="conclusiongs__container">
				<div class="conclusiongs__title">
					<h2 id="conclusiongs-id">
						Які ж головні висновки?
					</h2>
				</div>
				<div class="conclusiongs__body body-conclusiongs">
					<div class="body-conclusiongs__text">
						<p>
							"Вчені, можливо, хотіли б написати великими літерами "ДІЙТЕ ЗАРАЗ, ІДІОТИ", але вони повинні
							сказати
							це
							за допомогою фактів та цифр", - говорить Каїса Косонен з "Грінпіс", яка була спостерігачем на
							переговорах. "І вони це кажуть".
						</p>
						<p>
							Дослідники використовують факти та цифри, аби намалювати картину світу охопленого небезпечною
							лихоманкою,
							викликаною людьми.
						</p>
						<p>
							Ми звикли думати, що якщо ми зможемо втримати глобальне потепління на рівні нижче 2°C у цьому
							столітті,
							тоді зміни, які ми відчуємо, можуть бути керованими.
						</p>
					</div>
					<div class="body-conclusiongs__img">
						<img src="img/conclusions-ocean-img.png" alt="conclusions-ocean-img">
					</div>
					<div class="body-conclusiongs__subtext">
						<p>
							Це вже не так. Нове дослідження говорить про те, що розв'язання питання утримання глобального
							потепління на рівні 1,5°C визначить чи житиме планета. А планку у 1,5°C ми можемо подолати
							всього
							за
							12 років, тобто у 2030 році.
						</p>
						<p>
							Ми можемо залишитися нижче цього рівня, але це вимагатиме негайних, масштабних змін з боку
							урядів
							та
							окремих осіб, а також на це доведеться витратити величезну кількість грошей - близько 2,5%
							світового
							ВВП протягом двох десятиліть.
						</p>
						<p>
							Навіть тоді нам все одно будуть потрібні машини, дерева та рослини для захоплення вуглецю з
							повітря,
							аби ми могли його потім зберігати глибоко під землею. Назавжди!
						</p>
					</div>
				</div>
			</div>

		</div>
		<!-- Ну і так далі, спочатку замахнувся на всю статтю, потім побачив що далі тупо однотипні блоки, отже якщо в наведених блоках є помилка в побудові структури, вона (помилка) буде тільки розповсюджуватись -->

		<!-- блок знущань-->
		<!-- на атрибут fortest валідатор свариться, та то тільки для тесту, через js не хотілось задавати -->
		<div class="page__test test">
			<div class="some-div">
				<a href="#" data-fortest="some-value">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias,
					in?</a>
				<a href="#" data-fortest="yellow">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, in?</a>
				<a href="#" data-fortest="yellow black gray green">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
					Molestias, in?</a>
				<a href="#" data-fortest="Lorem-ipsum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, in?
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore hic optio nostrum, repellat iusto
					aliquid laborum dolore recusandae similique in adipisci a, dolorem eaque atque cupiditate voluptatem
					incidunt quasi itaque.</a>
				<a href="#" data-fortest="Lorem-ipsum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, in?
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore hic optio nostrum, repellat iusto
					aliquid laborum dolore recusandae similique in adipisci a, dolorem eaque atque cupiditate voluptatem
					incidunt quasi itaque.</a>
			</div>
			<div class="some-div2">
				some-div2
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
				<div>Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
			</div>

			<div>
				<div class="some-div3">
					some-div3
					<div>
						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, earum.</h3>
						<div>
							<p class="text">Lorem ipsum dolor sit.</p>

						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="some-div4">
					<div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum quod at omnis!
					</div>
					<div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum quod at omnis!
					</div>
					<div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum quod at omnis!
					</div>
					some-div4
					<div>
						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, earum.</h3>
						<div>
							<p class="text1">Lorem ipsum dolor sit.</p>
							<h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus?</h4>
						</div>
					</div>
				</div>
				<div>
					Lorem, ipsum dolor.
				</div>
				<div>
					Lorem, ipsum dolor.
				</div>
				<div>
					Lorem, ipsum dolor.
				</div>
				<div>
					Lorem, ipsum dolor.
				</div>
				<div>
					Lorem, ipsum dolor.
				</div>
			</div>
			<div class="test5" id="testing">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ex accusamus eaque quam corrupti commodi
					maxime. Nam, aliquid beatae, quis dolorem maiores, ipsum aliquam accusantium expedita quod architecto
					debitis natus!
				</p>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="footer__container">
			<ul class="footer__list">
				<li class="footer__item">Метт МакГрат</li>
				<li class="footer__item">Кореспондент з питань довкілля, Інчхон, Південна Корея</li>
			</ul>
		</div>
	</footer>

</body>

</html>