<div class="title title--center">
	<h1 class="title__main title__main--big">
		The Perfect Jewels for you
	</h1>
	<div class="title__text">
		<p>
			There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
			some form
		</p>
	</div>
	<a href="#" class="title__button button button--big">
		Shop Now
	</a>
</div>

<div class="title-label">
	<h3 class="title-label__sup">
		WHAT WE DO
	</h3>
	<h2 class="title-label__main">
		HANDCRAFTED& ETHICALLY SOURCED
	</h2>
</div>