<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Колобок</title>
</head>

<body>
	<header>
		<div>
			<h1>Українська народна казка <span>Колобок</span></h1>
			<img src="img/round.png" alt="round">
		</div>
	</header>
	<main>
		<div class="chapter-1 grandparens">
			<div class="grandparens__speaking">
				<h2>
					Жили собі дід та баба, та такі убогі, що нічого в них нема. От раз дожились вже до того, що не стало у
					них і хліба — й їсти нічого.
				</h2>
				<ul>
					<li>
						Дід і каже:
						<ul>
							<li>
								Бабусю! Піди у хижку, назмітай у засіці борошенця та спечи мені колобок.
							</li>
						</ul>
					</li>
					<li>
						От баба так і зробила: витопила в печі, замісила яйцями борошно, що назмітала, спекла колобок і
						поклала на вікні, щоб прохолов. А він з вікна — та на призьбу, а з призьби — та на землю, та й побіг
						дорогою. <br>
						<img class="image" src="img/coocking-chef.png" alt="coocking-chef">
					</li>
				</ul>
				<a href="rabbit.html" title="go-to-rabbit">
					Йдемо до зайця
				</a>
			</div>
		</div>
	</main>
	<footer>
		<p>Українська народна казка</p>
		<p>Ілюстрації – А.Савченко</p>
	</footer>
</body>

</html>