<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/Layout/ls_2/ls_2/css/style.css" />
	<title>Rabbit</title>
</head>

<body>

	<header>
		<h1>Пригоди з зайцем</h1>
	</header>

	<main>
		<div class="chapter-2 rabbit">
			<h2>
				Біжить та й біжить, а назустріч йому зайчик:
			</h2>
			<ul>
				<li>
					Колобок, колобок, я тебе з'їм!
				</li>
				<li>
					А він каже:
					<ul>
						<li>
							<p>Не їж мене, зайчику-побігайчику, я тобі пісню заспіваю.</p>
						</li>
					</ul>
				</li>
				<li>
					<p>Ану, якої?</p>
					<img src="img/rabbit-img.png" alt="rabbit">
				</li>
			</ul>
			<h3>
				Я по коробу метений,
				На яйцях спечений, —
				Я од баби та од діда втік,
				Так і од тебе втечу!
			</h3>
			<p>
				<mark>
					Та й побіг.
				</mark>
			</p>
			<a href="wolf.html" target="_blank" title="go-to-wolf">
				Біжимо до вовка
			</a>
		</div>
	</main>

	<footer>
		<p>Українська народна казка</p>
		<p>Ілюстрації – А.Савченко</p>
	</footer>
	
</body>

</html>