<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Wolf</title>
</head>

<body>

	<!--ну наче все використав, заодно і коментарі-->
	<header>
		<h1>
			Пригоди з вовком
		</h1>
		<a href="#run-forest-run">Не гай часу втікай одразу</a>
	</header>

	<main>
		<div class="chapter-3 wolf">
			<h2>
				Біжить та й біжить, — зустрічає його вовк:
			</h2>
			<ul>
				<li>
					Колобок, колобок, я тебе з'їм!
					<ol>
						<li>
							Не їж мене, вовчику-братику, я тобі пісню заспіваю.
						</li>
					</ol>
				</li>
				<li>
					Ану, якої?
					<ol>
						<li>
							<p>
								Я по коробу метений,
							</p>
							<p>
								На яйцях спечений
							</p>
							<p>
								Я од баби та од діда втік,
							</p>
							<p>
								Я від зайця втік,
							</p>
							<p>
								Так і од тебе втечу!
							</p>
						</li>
					</ol>
				</li>
			</ul>
			<div id="run-forest-run">
				<mark>
					Та й побіг.
				</mark>
			</div>
		</div>
	</main>

	<footer>
		<p>Українська народна казка</p>
		<p>Ілюстрації – А.Савченко</p>
	</footer>
</body>

</html>