<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_8</title>
</head>

<body>
	<header class="header">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, harum.
	</header>

	<main class="page">
		<div class="page__care care">
			<div class="care__container">
				<div class="care__body">
					<div class="care__header">
						<h4>
							<span></span>Welcome Whitecollar
						</h4>
						<h2>
							We Care About Your Business Plan.
						</h2>
					</div>
					<div class="care__text">
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative
							approaches to corporate strategy foster collaborative thinking to further the overal.
						</p>
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative
							approaches to corporate strategy
						</p>
					</div>
					<ul class="care__list">
						<li class="care__item">
							<span>
								Components of a Business Strategy
							</span>
						</li>
						<li class="care__item">
							<span>
								Business Consulting
							</span>
						</li>
					</ul>
					<div class="care__content content-care">
						<div class="content-care__body">
							<div class="content-care__img sertificate">
							</div>
							<div class="content-care__article">
								<h3>
									Experience
								</h3>
								<div class="content-care__text">
									<p>
										Leverage frameworks toprovidee werment.
									</p>
								</div>
							</div>
						</div>
						<div class="content-care__body">
							<div class="content-care__img cup">
							</div>
							<div class="content-care__article">
								<h3>
									Awards Winner
								</h3>
								<div class="content-care__text">
									<p>
										Leverage frameworks toprovidee werment.
									</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="care__button">
						More About Us
					</a>
				</div>
			</div>
		</div>
		<div class="page__projects projects">
			<div class="projects__box box">
				<div class="projects__header title">
					<h4>
						<span></span>Latest Projects
					</h4>
					<h2>
						Discover our latest client projects
					</h2>
					<div class="projects__text text">
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level
							overviews.Iterative approaches to corporate strategy foster collaborative thinking to
							further the overal.
						</p>
					</div>
				</div>
				<div class="projects__content">
					<div class="projects__row">
						<div class="projects__cart">
							<div class="projects__monitor img-project"></div>
							<div class="projects__info">
								<h3>
									Financial Investment
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
						<div class="projects__cart">
							<div class="projects__sofa img-project"></div>
							<div class="projects__info">
								<h3>
									Marketing Strategy
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
						<div class="projects__cart">
							<div class="projects__phone img-project"></div>
							<div class="projects__info">
								<h3>
									Business Consulting
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
					</div>
					<div class="projects__row">
						<div class="projects__cart">
							<div class="projects__woman img-project"></div>
							<div class="projects__info">
								<h3>
									Financial Investment
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
						<div class="projects__cart">
							<div class="projects__pen img-project"></div>
							<div class="projects__info">
								<h3>
									Web Development
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
						<div class="projects__cart">
							<div class="projects__coffee img-project"></div>
							<div class="projects__info">
								<h3>
									Financial Investment
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page__work work">
			<div class="work__box box">
				<div class="work__header title">
					<h4>
						<span></span>Work Process
					</h4>
					<h2>
						How We Work
					</h2>
				</div>
				<div class="work__content">
					<div class="work__cart">
						<div class="work__img work-calendar">
						</div>
						<h3>
							Make Appointment
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
					<div class="work__cart">
						<div class="work__img work-pazle">
						</div>
						<h3>
							Consultation
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
					<div class="work__cart">
						<div class="work__img work-check">
						</div>
						<h3>
							Enjoy the Service
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		Lorem.
	</footer>
</body>

</html>