<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_8</title>
</head>

<body>
	<header class="header">
		<div class="header__container">
			<ul class="header__list">
				<li>
					<a href="#care-id" class="header__link">
						care
					</a>
				</li>
				<li>
					<a href="#projects-id" class="header__link">
						projects
					</a>
				</li>
				<li>
					<a href="#clothing-id" class="header__link">
						clothing
					</a>
				</li>
				<li>
					<a href="#fashion-id" class="header__link">
						fashion
					</a>
				</li>
			</ul>
		</div>
	</header>

	<main class="page">
		<div id="care-id" class="page__care care">
			<div class="care__container">
				<div class="care__body">
					<div class="care__header">
						<h4>
							<span></span>Welcome Whitecollar
						</h4>
						<h2>
							We Care About Your Business Plan.
						</h2>
					</div>
					<div class="care__text">
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative
							approaches to corporate strategy foster collaborative thinking to further the overal.
						</p>
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative
							approaches to corporate strategy
						</p>
					</div>
					<ul class="care__list">
						<li class="care__item">
							<span>
								Components of a Business Strategy
							</span>
						</li>
						<li class="care__item">
							<span>
								Business Consulting
							</span>
						</li>
					</ul>
					<div class="care__content content-care">
						<div class="content-care__body">
							<div class="content-care__img sertificate">
							</div>
							<div class="content-care__article">
								<h3>
									Experience
								</h3>
								<div class="content-care__text">
									<p>
										Leverage frameworks toprovidee werment.
									</p>
								</div>
							</div>
						</div>
						<div class="content-care__body">
							<div class="content-care__img cup">
							</div>
							<div class="content-care__article">
								<h3>
									Awards Winner
								</h3>
								<div class="content-care__text">
									<p>
										Leverage frameworks toprovidee werment.
									</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="care__button">
						More About Us
					</a>
				</div>
			</div>
		</div>
		<div id="projects-id" class="page__projects projects">
			<div class="projects__box box">
				<div class="projects__header title">
					<h4>
						<span></span>Latest Projects
					</h4>
					<h2>
						Discover our latest client projects
					</h2>
					<div class="projects__text text">
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level
							overviews.Iterative approaches to corporate strategy foster collaborative thinking to
							further the overal.
						</p>
					</div>
				</div>
				<div class="projects__content">
					<div class="projects__row">
						<div class="projects__cart">
							<div class="projects__monitor img-project"></div>
							<div class="projects__info">
								<h3>
									<a href="#" class="projects__link">
										Financial Investment
									</a>
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
						<div class="projects__cart">
							<div class="projects__sofa img-project"></div>
							<div class="projects__info">
								<h3>
									<a href="#" class="projects__link">
										Marketing Strategy
									</a>
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
						<div class="projects__cart">
							<div class="projects__phone img-project"></div>
							<div class="projects__info">
								<h3>
									<a href="#" class="projects__link">
										Business Consulting
									</a>
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
					</div>
					<div class="projects__row">
						<div class="projects__cart">
							<div class="projects__woman img-project"></div>
							<div class="projects__info">
								<h3>
									<a href="#" class="projects__link">
										Financial Investment
									</a>
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
						<div class="projects__cart">
							<div class="projects__pen img-project"></div>
							<div class="projects__info">
								<h3>
									<a href="#" class="projects__link">
										Web Development
									</a>
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
						<div class="projects__cart">
							<div class="projects__coffee img-project"></div>
							<div class="projects__info">
								<h3>
									<a href="#" class="projects__link">
										Financial Investment
									</a>
								</h3>
								<div class="projects__date">
									<span></span>Sep 2022
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="clothing-id" class="page__clothing clothing">
			<div class="clothing__content">
				<div class="clothing__reexplore">
					<h2>
						<span class="clothing__obround"></span>Clothing for Women Online in India
					</h2>
					<h3>
						Reexplore Women's Clothing Collection Online at Euphoria
					</h3>
					<div class="clothing__text">
						<p>
							Women's Clothing – Are you searching for the best website to buy Clothing for Women
							online
							in
							India? Well, your search for the coolest and most stylish womens clothing ends here.
							From
							trendy
							Casual Womens Wear Online shopping to premium quality cotton women's apparel,
							<span>Euphoria</span>
							has
							closet of Women Collection covered with the latest and best designs of Women's Clothing
							Online.
						</p>
						<p>
							Our collection of clothes for women will make you the trendsetter with an iconic
							resemblance
							of
							choice in Womens Wear.
						</p>
					</div>
				</div>
				<div class="clothing__destination">
					<h3>
						One-Stop Destination to Shop Every Clothing for Women: Euphoria
					</h3>
					<div class="clothing__text">
						<p>
							Today, Clothing for Women is gaining more popularity above all. This is because gone are
							the
							days when women were used to carrying uncomfortable fashion. Today, a lady looks
							prettier
							when
							she is in Casual Womens Wear which is a comfortable outfit. Concerning this,
							<span>Euphoria</span>
							has a
							big
							fat range of Stylish Women's Clothing that would make her the winner wherever she goes.
						</p>
						<p>
							Our collection of clothes for women will make you the trendsetter with an iconic
							resemblance
							of
							choice in Womens Wear. It is quite evident to say that there are very few Womens
							Clothing
							online
							stores where you can buy Western Wear for Women comprising the premium material and
							elegant
							design that you are always seeking for. Basically,
						</p>
						<a href="#" class="clothing__link">
							See More
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="fashion-id" class="page__fashion fashion">
			<div class="fashion__box">
				<div class="fashion__body">
					<div class="fashion__leaves">
						<div class="fashion__content">
							<h2>
								WE MADE YOUR EVERYDAY FASHION BETTER!
							</h2>
							<div class="fashion__text">
								<p>
									In our journey to improve everyday fashion, euphoria presents EVERYDAY wear range -
									Comfortable & Affordable fashion 24/7
								</p>
							</div>
						</div>
						<a class="fashion__link" href="#">Shop Now</a>
					</div>
					<div class="fashion__people">
					</div>
				</div>
			</div>
		</div>
		<div class="page__test test">
			<div class="test__el1">
			</div>
			<div class="test__el2"></div>
			<div class="test__el3"></div>
			<div class="test__el4">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis praesentium eligendi fuga expedita nulla
				reiciendis maxime molestiae earum possimus, corporis qui ipsum labore unde nemo iste. Corrupti vitae
				accusantium error repellat sequi ratione at quis maxime consectetur rerum? Ad repudiandae quis provident
				aliquam eos earum cum nemo nostrum, id nihil ex laboriosam hic, illum ipsa corrupti perferendis aut enim
				harum? Quisquam doloribus repellat voluptatibus iure ut porro fuga deserunt odit odio, nam facere ab
				incidunt sunt unde rerum corporis et magnam maiores. Sed at nam ut, dolor facere minus consequatur
				veritatis adipisci, cumque amet fugit pariatur eius, dolores expedita maiores sequi voluptatem in quasi
				optio laborum ab veniam. Error ullam quaerat corrupti at ducimus ipsam non sint, fuga natus, in quam
				harum, vero laudantium et sunt repellendus cupiditate exercitationem ex ad qui maiores laborum!
				Aspernatur quia quidem exercitationem sapiente. Voluptates explicabo nam doloribus, placeat magni ipsum
				nulla fuga itaque possimus praesentium nesciunt quia deleniti, maiores reprehenderit fugit ex. Harum
				esse a soluta atque doloremque ad! Maiores necessitatibus, minus ipsam ducimus soluta, sapiente quasi
				veritatis quaerat sed obcaecati sequi facilis repellat odit dolorem aspernatur dicta. Veritatis,
				possimus! Numquam omnis, sit dolores placeat nihil fuga nulla culpa, eum suscipit fugit amet vitae odit
				eos nam, ab minima est quaerat. Deserunt animi quod perspiciatis excepturi voluptatem totam deleniti,
				omnis ex similique tenetur provident nobis illum cupiditate fuga! Dicta ipsa omnis in reiciendis. Esse
				vel sapiente voluptatibus, culpa pariatur, quidem quis molestiae odit voluptatum temporibus repudiandae,
				deserunt facilis maiores a officia! Dolore accusantium, excepturi nostrum eum commodi repellat voluptate
				architecto corporis labore quas autem? Accusamus, facilis animi incidunt magnam delectus necessitatibus
				aperiam recusandae ratione expedita beatae perferendis quis ea molestias doloremque cum tenetur quas
				sint. Animi facilis, itaque aut culpa eligendi neque. Distinctio molestias fugit qui velit? Mollitia
				debitis veniam exercitationem dignissimos iste aperiam sed asperiores. Tempora alias fugit unde
				cupiditate veritatis quisquam repudiandae culpa veniam at libero quibusdam inventore reiciendis et
				asperiores enim aliquam ullam autem sed, modi quod earum adipisci soluta perspiciatis quae? Quibusdam
				cupiditate quis, voluptatem alias molestias pariatur dolorum, adipisci id repellendus impedit animi esse
				doloribus commodi corrupti ducimus incidunt tenetur fugit vitae earum culpa consectetur! Recusandae id
				quasi possimus ratione molestias, illum itaque, ipsum at aut deleniti eos nostrum fugit hic. Quidem
				eaque ex laboriosam illo, saepe ipsam fugiat, quo aliquid dolorem labore eius? Aliquid modi id excepturi
				tenetur reprehenderit sunt eius repellendus facilis veritatis amet cumque, perspiciatis eaque sequi nemo
				aut nobis veniam facere odio. Praesentium deleniti, architecto fuga repellat debitis doloremque, labore
				maiores libero ad dicta vitae voluptates fugit. Fugiat at veniam minus quia similique, suscipit natus
				ad. Totam rerum harum velit soluta maiores repellendus fuga quisquam possimus, laudantium est esse error
				sapiente! Officiis, neque tempora vero vitae quaerat fugit dicta ipsa magnam mollitia natus laboriosam,
				tempore a earum dolore commodi quo aliquam? Ullam eligendi doloremque laborum vero recusandae magni
				inventore, delectus architecto voluptates deleniti officiis cupiditate quaerat nam nisi corrupti
				accusamus nulla similique commodi sequi praesentium et quidem ducimus minima harum? Amet accusantium
				ipsam error reprehenderit.
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="footer__container">
			<p>
				Copyright © 2023 Euphoria Folks Pvt Ltd. All rights reserved.
			</p>
		</div>
	</footer>
</body>

</html>