<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_8</title>
</head>

<body>
	<header class="header">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, harum.
	</header>

	<main class="page">
		<div class="page__care care">
			<div class="care__container">
				<div class="care__body">
					<div class="care__header">
						<h5>
							<span></span>Welcome Whitecollar
						</h5>
						<h2>
							We Care About Your Business Plan.
						</h2>
					</div>
					<div class="care__text">
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative
							approaches to corporate strategy foster collaborative thinking to further the overal.
						</p>
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative
							approaches to corporate strategy
						</p>
					</div>
					<ul class="care__list">
						<li class="care__item">
							<span>
								Components of a Business Strategy
							</span>
						</li>
						<li class="care__item">
							<span>
								Business Consulting
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">

	</footer>
</body>

</html>