<!DOCTYPE html>
<html lang="ua">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Master Zoo
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<div class="wrapper">
		<%- include('../partials/header.ejs') %>
			<main class="page">
				<section class="page__hero hero">
					<div class="hero__container">
						<h3>
							На сторінці "Про нас" ви дізнаєтеся:
						</h3>
						<ul class="hero__list">
							<li class="hero__item">
								Як ми почали свою діяльність і наша місія — зробити догляд за улюбленцями доступним і
								зручним для кожного.
							</li>
							<li class="hero__item">
								Як ми відбираємо продукцію — ми співпрацюємо тільки з перевіреними виробниками, щоб
								гарантувати якість товарів для ваших тварин.
							</li>
							<li class="hero__item">
								Чому нас обирають — наш інтернет-магазин пропонує широкий асортимент товарів, швидку
								доставку та професійну підтримку клієнтів.
							</li>
						</ul>
						<div class="text">
							<p>
								Ми прагнемо зробити життя ваших улюбленців здоровішим і щасливішим, надаючи все
								необхідне:
								від кормів та ласощів до аксесуарів та іграшок. Дякуємо за вашу довіру та вибір нашого
								магазину!
							</p>
						</div>
					</div>
				</section>
			</main>
			<%- include('../partials/footer.ejs') %>
	</div>
</body>

</html>