<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<!-- <script src="js/script.js"></script> -->
	<title>HW_17</title>
</head>

<body>
	<div class="wrapper">
		<!-- <header class="header header--fix">
			<div class="header__container">
				<a href="#" class="header__logo">
					<img src="img/header/logo.svg" alt="website logo">
				</a>
				<div class="header__body">
					<div class="header__services">
						<form action="#" id="header-search" method="get" class="header__search"
							enctype="multipart/form-data">
							<input type="search" required placeholder="Search" class="header__input">
						</form>
						<div class="header__language language">
							<select name="language" id="header-language" class="language__select">
								<option value="english">English (united States)</option>
								<option value="korean">Korean</option>
								<option value="datch">Datch</option>
							</select>
						</div>
					</div>
					<div class="header__color">
						<label for="input-color" class="header__label">Body color</label>
						<input id="input-color" type="color" class="header__input-color">
					</div>
					<div class="header__buttons">
						<a href="#" class="header__button button">Login</a>
						<a href="#" class="header__button button button--white">Sign Up</a>
					</div>
				</div>
			</div>
		</header> -->

		<main class="page">
			<div class="page__rings rings">
				<div class="rings__container">
					<div class="rings__title title-rings">
						<h2 class="title-rings__main main-title">
							Ours Popular Products
						</h2>
						<h3 class="title-rings__subtitle">

							Best Seller Product This Week!
						</h3>
					</div>
					<div class="rings__products">
						<a href="#" class="products-rings__item item-ring">
							<div class="item-ring__box">
								<div class="item-ring__content">
									<img class="item-ring__img" src="img/rings/hand-ring-2x.webp"
										alt="girl with ring on hand">
									<h3 class="item-ring__title">
										Engagement Rings – a Buyer’s Guide
									</h3>
									<div class="item-ring__text">
										<p>
											Video marketing is a powerful marketing strategy that allows you to portray
											an
											advertisement in the form of a story, which can
										</p>
									</div>
								</div>
								<div class="item-ring__more">
									Read more
								</div>
							</div>
						</a>
						<a href="#" class="products-rings__item item-ring">
							<div class="item-ring__box">
								<div class="item-ring__content">
									<img class="item-ring__img" src="img/rings/foot-ring-2x.webp"
										alt="girl with ring on hand">
									<h3 class="item-ring__title">
										Engagement Rings – a Buyer’s Guide
									</h3>
									<div class="item-ring__text">
										<p>
											Video marketing is a powerful marketing strategy that allows you to portray
											an
											advertisement in the form of a story, which can
										</p>
									</div>
								</div>
								<div class="item-ring__more">
									Read more
								</div>
							</div>
						</a>
						<a href="#" class="products-rings__item item-ring">
							<div class="item-ring__box">
								<div class="item-ring__content">
									<img class="item-ring__img" src="img/rings/ring-2x.webp"
										alt="girl with ring on hand">
									<h3 class="item-ring__title">
										Engagement Rings – a Buyer’s Guide
									</h3>
									<div class="item-ring__text">
										<p>
											Video marketing is a powerful marketing strategy that allows you to portray
											an
											advertisement in the form of a story, which can
										</p>
									</div>
								</div>
								<div class="item-ring__more">
									Read more
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="page__earrings earrings">
				<div class="earrings__container">
					<div class="earrings__title">
						<h2 class="earrings__title-main main-title main-title--dark-brown main-title--center">
							Most Popular Product
						</h2>
						<h3 class="earrings__subtitle">
							Best Seller Product This Week!
						</h3>
					</div>

					<div class="earrings__products earrings__products--four-col">
						<a href="#" class="earrings__item item-earrings item-earrings--quarter">
							<img class="item-earrings__img item-earrings__img--new-ibg"
								src="img/earrings/earring-1-x2.webp" alt="earring image">
							<h4 class="item-earrings__title earrings-text">
								Embossed hoop earrings
							</h4>
							<div class="item-earrings__price earrings-text">
								$144.00
							</div>
						</a>
						<a href="#" class="earrings__item item-earrings item-earrings--quarter">
							<img class="item-earrings__img item-earrings__img--new-ibg"
								src="img/earrings/earring-2-x2.webp" alt="earring image">
							<h4 class="item-earrings__title earrings-text">
								Embossed hoop earrings
							</h4>
							<div class="item-earrings__price earrings-text">
								$144.00
							</div>
						</a>
						<a href="#" class="earrings__item item-earrings item-earrings--quarter">
							<img class="item-earrings__img item-earrings__img--new-ibg"
								src="img/earrings/earring-3-x2.webp" alt="earring image">
							<h4 class="item-earrings__title earrings-text">
								Embossed hoop earrings
							</h4>
							<div class="item-earrings__price earrings-text">
								$144.00
							</div>
						</a>
						<a href="#" class="earrings__item item-earrings item-earrings--quarter">
							<img class="item-earrings__img item-earrings__img--new-ibg"
								src="img/earrings/earring-4-x2.webp" alt="earring image">
							<h4 class="item-earrings__title earrings-text">
								Embossed hoop earrings
							</h4>
							<div class="item-earrings__price earrings-text">
								$144.00
							</div>
						</a>
					</div>
					<div class="earrings__more">
						<a href="#" class="earrings__button button-earrings">
							View More
						</a>
					</div>
				</div>
			</div>
			<div class="page__embossed-earrings embossed-earrings">
				<div class="embossed-earrings__container">
					<div class="embossed-earrings__title">
						<h2 class="embossed-earrings__main-title">
							Our Products
						</h2>
						<div class="embossed-earrings__subtitle">
							Add our products to weekly lineup
						</div>
					</div>
					<div class="embossed-earrings__actions">
						<a href="#" class="embossed-earrings__link embossed-earrings__link--active">
							Gold
						</a>
						<a href="#" class="embossed-earrings__link">
							Diamond
						</a>
						<a href="#" class="embossed-earrings__link">
							Bronze
						</a>
						<a href="#" class="embossed-earrings__link">
							Silver
						</a>
					</div>
					<div class="embossed-earrings__products embossed-earrings__products--four-col">
						<a href="#"
							class="embossed-earrings__item item-embossed item-embossed--quarter item-embossed--br-white">
							<img src="img/embossed-earrings/earring-1-x2.webp" alt="Embossed hoop earrings image"
								class="item-embossed__img item-embossed__img--new-ibg">
							<h4 class="item-embossed__title">
								Embossed hoop earrings
							</h4>
							<div class="item-embossed__price">
								$144.00
							</div>
						</a>
						<a href="#"
							class="embossed-earrings__item item-embossed item-embossed--quarter item-embossed--br-white">
							<img src="img/embossed-earrings/earring-2-x2.webp" alt="Embossed hoop earrings image"
								class="item-embossed__img item-embossed__img--new-ibg">
							<h4 class="item-embossed__title">
								Embossed hoop earrings
							</h4>
							<div class="item-embossed__price">
								$144.00
							</div>
						</a>
						<a href="#"
							class="embossed-earrings__item item-embossed item-embossed--quarter item-embossed--br-white">
							<img src="img/embossed-earrings/earring-3-x2.webp" alt="Embossed hoop earrings image"
								class="item-embossed__img item-embossed__img--new-ibg">
							<h4 class="item-embossed__title">
								Embossed hoop earrings
							</h4>
							<div class="item-embossed__price">
								$144.00
							</div>
						</a>
						<a href="#"
							class="embossed-earrings__item item-embossed item-embossed--quarter item-embossed--br-white">
							<img src="img/embossed-earrings/earring-4-x2.webp" alt="Embossed hoop earrings image"
								class="item-embossed__img item-embossed__img--new-ibg">
							<h4 class="item-embossed__title">
								Embossed hoop earrings
							</h4>
							<div class="item-embossed__price">
								$144.00
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="page__solutions solutions">
				<div class="solutions__content">
					<div class="solutions__container">
						<div class="solutions__body">
							<div class="solutions__header">
								<h3 class="solutions__label label-solutions">
									Why Choose Me
								</h3>
								<h2 class="solutions__title">
									We Provide Solutions To Grow Your Business
								</h2>
								<div class="solutions__text">
									<p>
										Leverage agile frameworks to provide a robust synopsis for high level overviews.
										thinking to further the overall proposition.
									</p>
								</div>
							</div>
							<div class="solutions__rating rating">
								<div class="rating__item">
									<div class="rating__img">
										<img src="img/solutions/solutions-1.svg" alt="rate img">
									</div>
									<div class="rating__label">
										<div class="rating__suptitle">
											Clients
										</div>
										<h5 class="rating__title">
											Quick Response
										</h5>
									</div>
								</div>
								<div class="rating__item">
									<div class="rating__img">
										<img src="img/solutions/solutions-2.svg" alt="rate img">
									</div>
									<div class="rating__label">
										<div class="rating__suptitle">
											Project
										</div>
										<h5 class="rating__title">
											Finished Jobs
										</h5>
									</div>
								</div>
							</div>
							<div class="solutions__info info">
								<div class="info__item info__item--check">
									<span class="info__text">2,800+</span> 
									Active clients
								</div>
								<div class="info__item info__item--check">
									<span class="info__text">106+</span>
								</div>
								<div class="info__item info__item--check">
									<span class="info__text">1,670 +</span>
									<span class="info__text yellow">
										<span>5</span>
										stars
									</span>
									reviews
								</div>
								<div class="info__item">
									<a href="#" class="info__link">
										Get in Touch
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="solutions__image">

				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer>
	</div>
</body>


</html>