<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/script.js"></script>
	<title>HW_17</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__container">
				<a href="#" class="header__logo">
					<img src="img/header/logo.svg" alt="website logo">
				</a>
				<div class="header__body">
					<div class="header__services">
						<form action="#" id="header-search" method="get" class="header__search"
							enctype="multipart/form-data">
							<input type="search" required placeholder="Search" class="header__input">
						</form>
						<div class="header__language language">
							<select name="language" id="header-language" class="language__select">
								<option value="english">English (united States)</option>
								<option value="korean">Korean</option>
								<option value="datch">Datch</option>
							</select>
						</div>
					</div>
					<div class="header__color">
						<label for="input-color" class="header__label">Body color</label>
						<input id="input-color" type="color" class="header__input-color">
					</div>
					<div class="header__buttons">
						<a href="#" class="header__button button">Login</a>
						<a href="#" class="header__button button button--white">Sign Up</a>
					</div>
				</div>
			</div>
		</header>

		<main class="page">
			<div class="page__rings rings">
				<div class="rings__container">
					<div class="rings__title title-rings">
						<h2 class="title-rings__main">
							Ours Popular Products
						</h2>
						<div class="title-rings__text">
							<p>
								Best Seller Product This Week!
							</p>
						</div>
					</div>
					<div class="rings__products">

						<a href="#" class="products-rings__item item-ring">
							<div class="item-ring__box">
								<div class="item-ring__content">
									<img class="item-ring__img" src="img/rings/hand-ring-2x.webp" alt="girl with ring on hand">
									<h3 class="item-ring__title">
										Engagement Rings – a Buyer’s Guide
									</h3>
									<div class="item-ring__text">
										<p>
											Video marketing is a powerful marketing strategy that allows you to portray an
											advertisement in the form of a story, which can
										</p>
									</div>
								</div>
								<div class="item-ring__more">
									Read more
								</div>
							</div>
						</a>
						<a href="#" class="products-rings__item item-ring">
							<div class="item-ring__box">
								<div class="item-ring__content">
									<img class="item-ring__img" src="img/rings/foot-ring-2x.webp" alt="girl with ring on hand">
									<h3 class="item-ring__title">
										Engagement Rings – a Buyer’s Guide
									</h3>
									<div class="item-ring__text">
										<p>
											Video marketing is a powerful marketing strategy that allows you to portray an
											advertisement in the form of a story, which can
										</p>
									</div>
								</div>
								<div class="item-ring__more">
									Read more
								</div>
							</div>
						</a>
						<a href="#" class="products-rings__item item-ring">
							<div class="item-ring__box">
								<div class="item-ring__content">
									<img class="item-ring__img" src="img/rings/ring-2x.webp" alt="girl with ring on hand">
									<h3 class="item-ring__title">
										Engagement Rings – a Buyer’s Guide
									</h3>
									<div class="item-ring__text">
										<p>
											Video marketing is a powerful marketing strategy that allows you to portray an
											advertisement in the form of a story, which can
										</p>
									</div>
								</div>
								<div class="item-ring__more">
									Read more
								</div>
							</div>
						</a>
				
						


					</div>
				</div>
			</div>


		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer>
	</div>
</body>


</html>