<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>International Business Management Consulting!
	</title>
</head>
<!-- я дивився заняття 7, та бачив структуру Євгена, вже після того як зверстав свою -->
<!-- та залишаю свою, я уявив цю структуру таким чином, і мені цікаво чи має вона право на інування -->
<!-- здогадуюсь що будуть зайві діви, та все ж цікавий ваш коментар, від цього і буду відштовхуватись у майбутньому -->
<!-- також памʼятаю про коментар до минулого дз з приводу зображень в коробочки, з наступного буду робити саме так, тут поки вирішив не чепати -->

<body>
	<header class="header">
		<div class="header__container">
			<div class="header__menu menu">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="#consulting-id" class="menu__link">
							Consulting
						</a>
					</li>
					<li class="menu__item">
						<a href="#benefits-id" class="menu__link">
							Benefits
						</a>
					</li>
					<li class="menu__item">
						<a href="#jewelry-id" class="menu__link">
							Jewelry
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>

	<main class="page">
		<div id="consulting-id" class="page__consulting consulting">
			<div class="consulting__container">
				<div class="consulting__body">
					<img class="consulting__img" src="img/people-on-meeting.jpg" alt="people-on-meeting">
					<h2 class="consulting__title title">
						Why Us For International Business Management Consulting!
					</h2>
					<p>
						Completely synergized resourced taxings relationships premiers markets ultivate one-to-one
						customer
						service with robust ideas dynamically innovated resources leveling customer service for state of
						the
						art customer service innovate product for reliable supply engage web services cutting-edge
						deliverables.
					</p>
				</div>
			</div>
		</div>
		<div id="benefits-id" class="page__benefits benefits">
			<div class="benefits__container">
				<div class="benefits__body">
					<div class="benefits__header">
						<h4 class="benefits__title title">
							Proactively envisioned multimedia based expertise media growth superior collaboration.
						</h4>
						<p>
							One-to-one customer service with robust ideas dynamically innovated resources for reliable
							supply engage web services cutting-edge deliverables.
						</p>
					</div>
					<div class="benefits__body">
						<img class="benefits__img" src="img/desktop.jpg" alt="desktop">
						<div class="benefits__scroll scroll">
							<div class="scroll__header">
								<h3 class="scroll__title title">
									Our benefits
								</h3>
								<h4 class="scroll__subtitle title">
									Incubate standards compliant
									channels benefits.
								</h4>
							</div>
							<ul class="scroll__list">
								<li>
									Credibly reintermediate backend
								</li>
								<li>
									Holistically foster superior
								</li>
								<li>
									Distinctively exploit optimal
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="jewelry-id" class="page__jewelry jewelry">
			<div class="jewelry__box">
				<!-- jewelry__body довелось створити, не хотів font-size: 0; вішати на контейнер -->
				<div class="jewelry__body">
					<div class="jewelry__content">
						<h3>
							WHAT WE DO
						</h3>
						<h2>
							We Develop Create Custom Jewels.
						</h2>
						<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have
							suffered
							alteration in some form, by injected humour, or randomised words which don't look even
							slightly
							believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
							isn't
							anything embarrassing hidden in the middle of text
						</p>
					</div>
					<div class="jewelry__images">
						<img src="img/earrings-2.jpg" alt="earrings-2">
						<img src="img/earrings-1.jpg" alt="earrings-1">
					</div>
				</div>
			</div>
		</div>
		<div class="page__test test">
			<div class="test__box">
				<div class="test__display">
					<p>
						Lorem ipsum dolor sit amet.
					</p>
					<p>
						Lorem ipsum dolor sit amet.
					</p>
					<p>
						Lorem ipsum dolor sit amet.
					</p>
				</div>
				<div class="test__boxsizing">
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur temporibus officia inventore
						qui ab adipisci unde quos perferendis provident sint saepe aperiam dolores laboriosam, autem
						delectus quidem dolorum sit aliquam enim, laborum quo fuga eaque. Sed cupiditate modi sint
						temporibus officia dolore, aut nulla fugiat eius at. Nesciunt, soluta aperiam?
					</p>
				</div>
				<div class="test__margin">
					<div class="test__block1 block"></div>
					<div class="test__block2 block"></div>
					<div class="test__block3 block"></div>
				</div>
				<div class="block__marginzhlopuvannia">
					<p class="par-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, obcaecati?</p>
					<p class="par-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, obcaecati?</p>
				</div>
				<div class="test__overflow">
					<p class="test__over">Lorem ipsum dolor sit amet consectetur adipisicing elit. A rerum quam vel
						suscipit quo? Ipsa odio
						fugit natus id autem quia soluta hic, nihil, dolorem consequatur, suscipit quos quidem
						dignissimos nemo vero dicta eius! Error quis esse repellat veniam! Vitae qui velit pariatur ad
						aspernatur, hic tempore veritatis facere ut. suscipit quo? Ipsa odio
						fugit natus id autem quia soluta hic, nihil, dolorem consequatur, suscipit quos quidem
						dignissimos nemo vero dicta eius! Error quis esse repellat veniam! Vitae qui velit pariatur ad
						aspernatur, hic tempore veritatis facere ut. suscipit quo? Ipsa odio
						fugit natus id autem quia soluta hic, nihil, dolorem consequatur, suscipit quos quidem
						dignissimos nemo vero dicta eius! Error quis esse repellat veniam! Vitae qui velit pariatur ad
						aspernatur, hic tempore veritatis facere ut. suscipit quo? Ipsa odio
						fugit natus id autem quia soluta hic, nihil, dolorem consequatur, suscipit quos quidem
						dignissimos nemo vero dicta eius! Error quis esse repellat veniam! Vitae qui velit pariatur ad
						aspernatur, hic tempore veritatis facere ut.
					</p>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="footer__box">
			<p>Lorem</p>
			<p>Lorem</p>
			<p>Lorem</p>
		</div>
	</footer>
</body>

</html>