<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>International Business Management Consulting!
	</title>
</head>

<body>
	<header class="header">
		<div class="header__menu menu">
			<ul class="menu__list">
				<li class="menu__item">
					<a href="" class="menu__link">

					</a>
				</li>
				<li class="menu__item">
					<a href="" class="menu__link">

					</a>
				</li>
			</ul>
		</div>
	</header>

	<main class="page">
		<div class="page__consulting consulting">
			<div class="consulting__container">
				<div class="consulting__body">
					<img src="img/management-img.png" alt="management">
					<h2 class="consulting__title title">
						Why Us For International Business Management Consulting!
					</h2>
					<p>
						Completely synergized resourced taxings relationships premiers markets ultivate one-to-one
						customer
						service with robust ideas dynamically innovated resources leveling customer service for state of
						the
						art customer service innovate product for reliable supply engage web services cutting-edge
						deliverables.
					</p>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">

	</footer>
</body>

</html>