@import url("fonts.css");

@import url("reset.css");

@import url("common.css");
/* ================= */

body {
	font-family: "Inter", sans-serif;
}

body:has(.menu-open) {
	overflow: hidden;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.page {
}


/* ================ HEADER ============= */

.header {
	background-color: #fefbf7;
}

.header--fix {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.header__container {
	display: flex;
	align-items: center;
	min-height: 100px;
	gap: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.header__logo {
	color: #000;
	font-family: "Merriweather", serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 700;
	flex-shrink: 0;
	position: relative;
	z-index: 5;
}
.menu {
	flex: 1 1 auto;
}
.menu__body {
}
.menu__list {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 36px;
	row-gap: 8px;
	flex-wrap: wrap;
}
.menu__item {
}

.menu__item--active .menu__link {
	font-weight: 700;
	text-decoration-line: underline;
	color: #d58417;
}

.menu__link {
	color: #000;
	font-family: "Merriweather", serif;
	font-size: 20px;
	line-height: 1;
	transition: color 3s; /* повернутись*/
}

@media (any-hover: hover) {
	.menu__item:hover .menu__link {
		text-decoration-line: underline; /* повернутись*/
	}
}

.menu__item--parent {
	position: relative;
}

.menu__item--parent .menu__link {
	display: flex;
	align-items: center;
	gap: 4px;
}

.menu__item--parent .menu__link::after {
	content: "";
	background: url("../img/header/arr.png") 0 0 no-repeat;
	flex: 0 0 16px;
	width: 16px;
	height: 8px;
	transition: transform 0.3s;
}

.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	padding-top: 5px;
	transform: translate(0, 10%);
}

.menu__item--parent:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	transform: translate(0);
	pointer-events: all;
}

.menu__item--parent:hover .menu__link::after {
	transform: rotate(180deg);
}

.sub-menu__list {
	background-color: #3a250b;
	padding: 15px;
	min-width: 150px;
	border-radius: 0 8px 8px 8px;
	box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}
.sub-menu__item {
}

.sub-menu__item:not(:last-child) {
	margin-bottom: 6px;
}

.sub-menu__link {
	color: #fff;
	font-family: "Cormorant Infant", serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	padding: 5px 0;
	transition: color 0.3s;
	position: relative;
}

.sub-menu__link::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: #fff;
	transition: all 0.3s;
	left: 50%;
}

@media (any-hover: hover) {
	.sub-menu__link:hover::after {
		width: 100%;
		left: 0;
		background-color: #f4e4cf;
	}
	.sub-menu__link:hover {
		color: #f4e4cf;
	}
}

.header__actions {
	flex-shrink: 0;
}
.actions-header {
	display: flex;
	align-items: center;
	gap: 25px;
}
.actions-header__item {
	flex: 0 0 32px;
	position: relative;
	transition: transform 0.3s;
}

@media (any-hover: hover) {
	.actions-header__item:hover {
		transform: scale(1.1);
	}
}

.actions-header__item img {
	max-width: 100%;
}

.actions-header__item span {
	position: absolute;
	font-size: 9px;
	color: #fff;
	text-align: center;
	line-height: 12px;
	top: 0;
	right: 0;
	min-width: 12px;
	background-color: red;
	border-radius: 50%;
}

.icon-menu {
	display: none;
}
@media (max-width: 991.98px) {
	.header__container {
		min-height: 50px;
	}

	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto; /* !!! обовʼязково */
		top: 0;
		left: -100%;
		transition: left 0.3s;
		padding: 80px 15px 30px;
		background-color: #fefbf7da;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 50px;
		top: 0;
		left: -100%;
		transition: left 0.3s;
		z-index: 2;
		background-color: #fefbf7;
	}

	.menu-open.menu__body {
		left: 0;
	}

	.menu-open.menu__body::before {
		left: 0;
	}

	.menu__list {
		flex-direction: column;
		align-items: stretch;
		text-align: right;
		row-gap: 25px;
	}

	.menu__link {
		font-size: 28px;
	}

	.menu__item--parent .menu__link {
		justify-content: end;
	}


	.sub-menu {
		position: relative;
		height: 0;
		transform: translateX(-100%);
		padding-top: 10px;
	}

	.menu__item--parent:hover .sub-menu {
		visibility: visible;
		height: auto;
		transform: translateX(0);
	}

	.sub-menu__list {
		border-radius: 0;
	}

	.sub-menu__link {
		font-size: 24px;
		width: 100%;
	}

	.sub-menu__item:not(:last-child) {
		margin-bottom: 20px;
	}

	.icon-menu {
		width: 30px;
		height: 18px;
		display: block;
		flex: 0 0 30px;
		position: relative;
		z-index: 5;
	}

	.icon-menu::before,
	.icon-menu::after,
	.icon-menu span {
		content: "";
		height: 2px;
		width: 100%;
		background-color: #000;
		position: absolute;
		left: 0;
		transition: all 0.3s;
	}

	.icon-menu::before {
		top: 0;
	}

	.icon-menu::after {
		bottom: 0;
	}

	.icon-menu span {
		top: 50%;
		margin-top: -1px;
	}

	.icon-menu.menu-open span {
		transform: scale(0);
	}

	.icon-menu.menu-open::before {
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -1px;
	}
	.icon-menu.menu-open::after {
		transform: rotate(45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}
}

@media (max-width: 440px) {
	.header__container {
		gap: 5px;
	}
	.header__logo {
		font-size: 24px;
	}
	.actions-header {
		gap: 10px;
	}
}

/* ================ HERO ============= */

.page__hero {
}
.hero {
	background-color: #502203;
	padding: 100px 0;
	display: flex;
	align-items: center;
	color: #fff;
	font-family: "Cormorant Infant", serif;
	min-height: 100vh;
	position: relative;
}
.hero__container {
	max-width: 1220px;
	display: flex;
	flex: 1 1 auto;
	align-items: start;
	position: relative;
}
.hero__body {
	flex-grow: 1;
	flex-basis: 30.168067%; /* 359/1190 */
	padding: 57px 30px 0 0;
}

.hero__body > *:not(:last-child) {
	margin-bottom: 9px;
}

.hero__title {
	font-size: 78px;
	font-weight: 700;
	line-height: 1.29;
	max-width: 324px;
}
.hero__button {
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	padding: 15px 25px;
	border-radius: 4px;
	border: 1px solid #fff;
	position: relative;
}

.hero__button::before {
	content: "";
	position: absolute;
	top: 15px;
	left: -8px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.06);
	transition: all 0.3s;
	pointer-events: none;
}

@media (any-hover: hover) {
	.hero__button:hover::before {
		top: 0;
		left: 0;
	}
}

.hero__image {
	flex: 0 0 36.134454%; /* 430/1190 */
	aspect-ratio: 430/610;
	padding: 27px 19px;
	border-radius: 215px;
	border: 1px solid #fff;
}

.hero__image img {
	width: 100%;
	height: 100%;
	aspect-ratio: 390/554;
	object-fit: cover;
	border-radius: 215px;
}

.hero__content {
	flex-basis: 33.445378%; /* 398/1190 */
	flex-grow: 1;
	padding: 76px 0 0 23px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-self: stretch;
}
.content-hero {
}
.content-hero__text {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.48;
	max-width: 312px;
}

.content-hero__text > *:not(:last-child) {
	margin-bottom: 10px;
}

.content-hero__title {
	font-size: 32px;
	font-weight: 600;
	margin: auto 0;
	max-width: 257px;
	align-self: end;
	padding-left: 12px;
	position: relative;
}

.content-hero__title::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 78.947368%; /* 60/76 */
	background-color: #fff;
	transform: translateY(-50%);
}

.hero__decor-left {
	display: none;
}

.hero__decor-right {
	display: none;
}

.hero__line-left {
	position: absolute;
	top: -107px;
	left: -27px;
	width: 190px;
	height: 500px;
	background: url("../img/hero/decor.svg") center no-repeat;
}
.hero__line-right {
	position: absolute;
	top: 40%;
	right: 0;
	width: 190px;
	height: 500px;
	background: url("../img/hero/decor-1.svg") center no-repeat;
}

@media (min-width: 1550px) {
	.hero__decor-left {
		display: block;
		position: absolute;
		aspect-ratio: 240/215;
		width: 15%; /* 240/1600 */
		left: 2.1875%;
		bottom: 4px;
		border-radius: 195px 195px 0px 0px;
		border: 1px solid #fff;
	}
	.hero__decor-img-left {
		overflow: hidden;
		position: absolute;
		top: 5px;
		left: 6px;
		width: 100%;
		height: 100%;
		border-radius: 195px 195px 0px 0px;
	}

	.hero__decor-img-left img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.hero__decor-right {
		display: block;
		position: absolute;
		bottom: 55px;
		right: -6.4375%; /* 103/1600 */
		aspect-ratio: 261/371;
		width: 16.3125%; /* 261/1600 */
		padding: 17px 12px;
		border-radius: 215px;
		border: 1px solid #fff;
		overflow: hidden;
		z-index: 3;
	}

	.hero__decor-right img {
		width: 100%;
		height: 100%;
		aspect-ratio: 237/337;
		object-fit: cover;
		border-radius: 215px;
	}
}
/* @media (max-width: 1199.98px){
	.hero {
		padding: 80px 0;
	}
} */

@media (max-width: 991.98px) {
	.hero__container {
		flex-wrap: wrap;
		row-gap: 40px;
		column-gap: 30px;
	}
	.hero {
		padding: 80px 0;
	}
	.hero__body {
		flex: 1 1 100%;
		text-align: center;
		padding: 0;
	}
	.hero__content {
		flex: 1 1 auto;
		padding-left: 0;
	}

	.hero__title {
		font-size: 68px;
		max-width: none;
	}
	.hero__image {
		max-width: 430px;
		flex: 0 1 50%;
	}
	.hero__content {
		padding-top: 0;
	}
}

@media (max-width: 767.98px) {
	.hero__container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.hero__title {
		font-size: 48px;
		max-width: none;
	}
	.hero {
		padding: 60px 0;
	}
	.hero__content {
		/* flex-direction: row-reverse; */
		/* justify-content: space-between; */
		flex-direction: column-reverse;
		text-align: center;
		gap: 15px;
	}

	.hero__image{
		flex-basis: 100%;
	}

	.content-hero__title {
		margin: 0;
		font-size: 28px;
		max-width: none;
		align-self: center;
	}
	
	.content-hero__title br{
		display: none;
	}

	.content-hero__text {
		max-width: none;
	}
}

@media (max-width: 575.98px){
	.hero {
		padding: 40px 0;
	}
	.hero__title {
		font-size: 36px;
	}

	.hero__image {
		padding: 15px 12px;
	}

	.content-hero__title {
		font-size: 24px;
	}
	.content-hero__text{
		font-size: 18px;
	}
}

/* ================ footer ============= */
.footer__container {
}

.footer {
	min-height: 100px;
	padding: 25px 0;
	display: flex;
	align-items: center;
	background-color: #fefbf7;
	text-align: center;
}

.footer-text {
	color: #000;
	margin-bottom: 30px;
}

.footer__link{
	font-family: "Merriweather", serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 700;
	text-decoration-line: underline;
	text-decoration-color: transparent;
	transition: text-decoration-color 0.3s;
}

@media(any-hover: hover){
	.footer__link:hover{
		text-decoration-color: #000;
	}
}

.green {
	color: #40ddb6;
}
.purple {
	color: #6b77e5;
}
