<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/script.js"></script>
	<title>HW_16</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__container">
				<a href="#" class="header__logo">
					<img src="img/header/logo.svg" alt="website logo">
				</a>
				<div class="header__body">
					<div class="header__services">
						<form action="#" id="header-search" method="get" class="header__search" enctype="multipart/form-data">
							<input type="search" required placeholder="Search" class="header__input">
						</form>
						<div class="header__language language">
							<select name="language" id="header-language" class="language__select">
								<option value="english">English (united States)</option>
								<option value="korean">Korean</option>
								<option value="datch">Datch</option>
							</select>
						</div>
						
						<!-- <ul class="header__language language">
							<li class="language__current">
								<a href="#" class="language__link">
									English (united States)
								</a>
								<ul class="language__list">
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Korean
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Datch
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Korean
										</a>
									</li>
									<li class="language__item">
										<a href="#" class="language__sub-link">
											Datch
										</a>
									</li>
								</ul>
							</li>
						</ul> -->
					</div>
					<div class="header__color">
						<label for="input-color" class="header__label">Body color</label>
						<input id="input-color" type="color" class="header__input-color">
					</div>
					<div class="header__buttons">
						<a href="#" class="header__button button">Login</a>
						<a href="#" class="header__button button button--white">Sign Up</a>
					</div>
				</div>
			</div>
		</header>

		<main class="page">
			<div class="page__contact-us contact-us">
				<div class="contact-us__container">
					<div class="contact-us__title title-contact">
						<h3 class="title-contact__suptitle">
							Contact Us
						</h3>
						<h2 class="title-contact__main">
							Request A Call Back !
						</h2>
					</div>
					<form id="consulting-form" class="contact-us__form form-contact-us" enctype="multipart/form-data"
						action="#">
						<div class="form-contact-us__body">
							<div class="form-contact-us__item">
								<input type="text" name="first-name" placeholder="Your Name" required>
							</div>
							<div class="form-contact-us__item">
								<input type="email" name="email" placeholder="Email Address" required>
							</div>
							<div class="form-contact-us__item">
								<input type="tel" name="phone" placeholder="Phone Number" required>
							</div>
							<div class="form-contact-us__item">
								<input type="text" name="subject" placeholder="Subject" required>
							</div>
							<div class="form-contact-us__item form-contact-us__item--textarea">
								<textarea name="message" autocomplete="off" placeholder="Message..."
									required></textarea>
							</div>

						</div>
						<button class="form-contact-us__btn" type="submit">
							Submit
						</button>
					</form>
				</div>
			</div>
			<div class="page__info info">
				<div class="info__container">
					<div class="info__title title">
						<h2 class="title__main">
							My Info
						</h2>
						<h3 class="title__subtitle subtitle">
							Add Address
						</h3>
					</div>
					<form action="#" id="address-form" class="info__form form-info" enctype="multipart/form-data">
						<div class="form-info__body body-form">
							<div class="body-form__item item-form">
								<label for="first-name-info" class="item-form__label label">First Name*</label>
								<input id="first-name-info" class="item-form__input" type="text" name="first-name-info"
									required placeholder="First Name">
							</div>
							<div class="body-form__item item-form">
								<label for="second-name-info" class="item-form__label label">Last Name*</label>
								<input id="second-name-info" class="item-form__input" type="text" name="last-name-info"
									required placeholder="Last Name">
							</div>
							<div class="body-form__item item-form">
								<label for="region-info" class="item-form__label label">Country / Region*</label>
								<input id="region-info" class="item-form__input" type="text" name="region-info" required
									placeholder="Country / Region">
							</div>
							<div class="body-form__item item-form">
								<label for="company-info" class="item-form__label label">Company Name</label>
								<input id="company-info" class="item-form__input" type="text" name="region-info"
									required placeholder="Company (optional)">
							</div>
							<div class="body-form__item item-form">
								<label for="adress-info" class="item-form__label label">Street Address*</label>
								<input id="adress-info" class="item-form__input" type="text" name="adress-info" required
									placeholder="House number and street name">
							</div>
							<div class="body-form__item item-form">
								<label for="apartment-info" class="item-form__label label">Apt, suite, unit</label>
								<input id="apartment-info" class="item-form__input" type="text" name="apartment-info"
									required placeholder="apartment, suite, unit, etc. (optional)">
							</div>
							<div class="body-form__item item-form">
								<label for="city-info" class="item-form__label label">City*</label>
								<input id="city-info" class="item-form__input" type="text" name="city-info" required
									placeholder="Town / City">
							</div>
							<div class="body-form__item item-form">
								<label for="state-info" class="item-form__label label">State*</label>
								<select id="state" name="state" class="item-form__select"  required>
									<option value="" disabled selected hidden>
										Choose State
									</option>
									<option value="china">
										China
									</option>
									<option value="ukraine">
										Ukraine
									</option>
									<option value="uk">
										UK (United Kingdom)
									</option>
									<option value="brasil">
										Brasil
									</option>
								</select>
							</div>
							<div class="body-form__item item-form">
								<label for="phone-info" class="item-form__label label">Phone*</label>
								<input id="phone-info" class="item-form__input" type="tel" name="phone-info" required
									placeholder="Phone">
							</div>
							<div class="body-form__item item-form">
								<label for="postal-info" class="item-form__label label">Postal Code*</label>
								<input id="postal-info" class="item-form__input" type="number" name="postal-info"
									required placeholder="Postal Code">
							</div>
							<div class="body-form__textarea-item">
								<label class="body-form__label label" for="delivery-info">Delivery Instruction</label>
								<textarea class="body-form__textarea" name="delivery-info" id="delivery-info" required
									autocomplete="off" placeholder="Delivery Instruction"></textarea>
							</div>
						</div>
						<div class="form-info__checkbox checkbox">
							<div class="checkbox__body">
								<input id="shipping-adress" type="checkbox" class="checkbox__input"
									name="shipping-adress">
								<label for="shipping-adress" class="checkbox__label">Set as default shipping
									address</label>
							</div>
							<div class="checkbox__body">
								<input id="billing-adress" type="checkbox" class="checkbox__input"
									name="billing-adress">
								<label for="billing-adress" class="checkbox__label">Set as default billing
									address</label>
							</div>
						</div>
						<div class="form-info__buttons buttons">
							<button type="submit" class="buttons__button button button--small">
								Save
							</button>
							<button type="submit" class="buttons__button button button--small" disabled>
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="page__check-out check-out">
				<div class="check-out__container">
					<div class="check-out__title title">
						<h2 class="title__main title__main--decor">
							Check Out
						</h2>
						<h3 class="title__subtitle subtitle">
							Billing Details
						</h3>
					</div>
					<form action="#" id="address-form-check" class="check-out__form form-check-out"
						enctype="multipart/form-data">
						<div class="form-check-out__body body-form body-form--left">
							<div class="body-form__item item-form item-form--fz14">
								<label for="first-name" class="item-form__label label label--fz16">First
									Name*</label>
								<input id="first-name" class="item-form__input" type="text" name="first-name-info"
									required placeholder="First Name">
							</div>
							<div class="body-form__item item-form item-form--fz14">
								<label for="second-name" class="item-form__label label label--fz16">Last
									Name*</label>
								<input id="second-name" class="item-form__input" type="text" name="last-name-info"
									required placeholder="Last Name">
							</div>
							<div class="body-form__item item-form item-form--fz14">
								<label for="region" class="item-form__label label label--fz16">Country /
									Region*</label>
								<input id="region" class="item-form__input" type="text" name="region-info" required
									placeholder="Country / Region">
							</div>
							<div class="body-form__item item-form item-form--fz14">
								<label for="company" class="item-form__label label label--fz16">Company
									Name</label>
								<input id="company" class="item-form__input" type="text" name="region-info" required
									placeholder="Company (optional)">
							</div>
							<div class="body-form__item item-form item-form--fz14">
								<label for="adress" class="item-form__label label label--fz16">Street Address*</label>
								<input id="adress" class="item-form__input" type="text" name="adress-info" required
									placeholder="House number and street name">
							</div>
							<div class="body-form__item item-form item-form--fz14">
								<label for="apartment" class="item-form__label label label--fz16">Apt, suite,
									unit</label>
								<input id="apartment" class="item-form__input" type="text" name="apartment-info"
									required placeholder="apartment, suite, unit, etc. (optional)">
							</div>
							<div class="body-form__three-col ">
								<div class="body-form__item item-form item-form--fz14 item-form--triple">
									<label for="city" class="item-form__label label label--fz16">City*</label>
									<input id="city" class="item-form__input" type="text" name="city-info" required
										placeholder="Town / City">
								</div>
								<div class="body-form__item item-form item-form--fz14 item-form--triple">
									<label for="state" class="item-form__label label label--fz16">State*</label>
									<select id="state" name="state" class="item-form__select"  required>
										<option value="" disabled selected hidden>
											Choose State
										</option>
										<option value="china">
											China
										</option>
										<option value="ukraine">
											Ukraine
										</option>
										<option value="uk">
											UK (United Kingdom)
										</option>
										<option value="brasil">
											Brasil
										</option>
									</select>
								</div>
								<div class="body-form__item item-form item-form--fz14 item-form--triple">
									<label for="postal" class="item-form__label label label--fz16">Postal Code*</label>
									<input id="postal" class="item-form__input" type="number" name="postal-info"
										required placeholder="Postal Code">
								</div>
							</div>
							<div class="body-form__item item-form item-form--fz14">
								<label for="phone" class="item-form__label label label--fz16">Phone*</label>
								<input id="phone" class="item-form__input" type="tel" name="phone-info" required
									placeholder="Phone">
							</div>
						</div>
						<button type="submit" class="form-check-out__button button button--smallest">
							Continue to delivery
						</button>
						<div class="form-check-out__checkbox checkbox">
							<div class="checkbox__body">
								<input id="pers-info" name="pers-info" type="checkbox" class="checkbox__input">
								<label for="pers-info" class="checkbox__label checkbox__label--fz-18">
									Save my information for a faster checkout
								</label>
							</div>
						</div>
					</form>
					<form action="#" id="shipping-details" enctype="multipart/form-data"
						class="check-out__shipping-details shipping-details">
						<div class="shipping-details__body body-details">
							<div class="body-details__header">
								<h3 class="body-details__title">
									Shipping Address
								</h3>
								<div class="body-details__text text">
									Select the address that matches your card or payment method.
								</div>
							</div>
							<div class="body-details__item item-details">
								<div class="item-details__body">
									<input id="shipping-address-radio" checked name="shipping-address-radio" value="same-adress"
										type="radio"  class="item-details__radio ">
									<label for="shipping-address-radio"
										class="item-details__label item-details__label--title-details">
										Same as Billing address
									</label>
								</div>
								<div class="item-details__body">
									<input id="different-address-radio"  name="shipping-address-radio"
										value="different-adress" type="radio" class="item-details__radio radio-input">
									<label for="different-address-radio"
										class="item-details__label item-details__label--title-details ">
										Use a different shipping address
									</label>
								</div>
							</div>
						</div>
						<div class="shipping-details__body body-details">
							<div class="body-details__header">
								<h3 class="body-details__title">
									Shipping Method
								</h3>
							</div>
							<div class="body-details__item item-details">
								<div class="item-details__body">
									<h4 class="item-details__title item-details__title--title-details">
										Arrives by Monday, June 7
									</h4>
								</div>
								<div class="item-details__body item-details__body--inline">
									<div class="item-details__left">
										<h4 class="item-details__title item-details__title--title-details">
											Delivery Charges
										</h4>
										<div class="item-details__text text text--gray">
											Additional fess may apply
										</div>
									</div>
									<h4 class="item-details__price item-details__label--title-details">
										$5.00
									</h4>
								</div>
							</div>
						</div>
						<div class="shipping-details__body body-details">
							<div class="body-details__header">
								<h3 class="body-details__title">
									Payment Method
								</h3>
								<div class="body-details__text text">
									All transactions are secure and encrypted.
								</div>
							</div>
							<div class="body-details__item item-details item-details--big">
								<div class="item-details__body">
									<input id="payment-radio"  name="payment-radio" value="credit-card" type="radio"
										 class="item-details__radio">
									<label for="payment-radio"
										class="item-details__label item-details__label--column item-details__label--title-details">
										Credit Card
										<span class="text">We accept all major credit cards.</span>
									</label>
									<div class="item-details__methods methods">
										<div class="methods__images radio-methods">

											<input class="radio-methods__input"  id="pay-radio" type="radio"
												name="pay-radio" value="pay">
											<label class="radio-methods__label" for="pay-radio" name="pay-radio">
												<img src="img/icons/pay.svg" alt="img with pay method">
											</label>

											<input class="radio-methods__input" checked  id="visa-radio" type="radio"
												name="pay-radio" value="visa">
											<label class="radio-methods__label" for="visa-radio" name="pay-radio">
												<img src="img/icons/visa.svg" alt="img with visa method">
											</label>

											<input class="radio-methods__input"  id="pay-pal-radio" type="radio"
												name="pay-radio" value="pay-pal">
											<label class="radio-methods__label" for="pay-pal-radio" name="pay-radio">
												<img src="img/icons/pay-pal.svg" alt="img with pay-pal method">
											</label>

											<input class="radio-methods__input"  id="pay-pass-radio" type="radio"
												name="pay-radio" value="pay-pass">
											<label class="radio-methods__label" for="pay-pass-radio" name="pay-radio">
												<img src="img/icons/pay-pass.svg" alt="img with pay-pass method">
											</label>


										</div>
										<div class="methods__body">
											<div class="methods__item">
												<input class="methods__input"  placeholder="Card number"
													id="card-number-method" required type="number" name="card-number" >
											</div>
											<div class="methods__item">
												<input class="methods__input" placeholder="Name of card"
													id="card-name-method" required type="text" name="card-number" >
											</div>
											<div class="methods__item">
												<input class="methods__input" placeholder="Expiration date (MM/YY)"
													id="card-date-method" required type="number" name="card-date" >
											</div>
											<div class="methods__item methods__item--security">
												<input class="methods__input" placeholder="Security Code"
													id="card-code-method" required type="number" name="card-code" >
												<button class="methods__button">
													<svg width="20" height="20" viewBox="0 0 20 20" fill="none"
														xmlns="http://www.w3.org/2000/svg">
														<path
															d="M2.42442 10.9764C2.13978 10.3572 2.13978 9.64275 2.42442 9.02349C3.742 6.15698 6.63866 4.16663 10.0002 4.16663C13.3617 4.16663 16.2584 6.15698 17.576 9.02349C17.8606 9.64276 17.8606 10.3572 17.576 10.9764C16.2584 13.8429 13.3617 15.8333 10.0002 15.8333C6.63866 15.8333 3.74201 13.8429 2.42442 10.9764Z"
															stroke="#807D7E" stroke-width="1.5" />
														<path
															d="M12.5002 9.99996C12.5002 11.3807 11.3809 12.5 10.0002 12.5C8.61948 12.5 7.50019 11.3807 7.50019 9.99996C7.50019 8.61925 8.61948 7.49996 10.0002 7.49996C11.3809 7.49996 12.5002 8.61925 12.5002 9.99996Z"
															stroke="#807D7E" stroke-width="1.5" />
													</svg>
												</button>
											</div>
										</div>
									</div>

								</div>

								<div class="item-details__body">
									<input id="payment-radio-delivery" checked name="payment-radio" value="cash-delivery" type="radio"
										 class="item-details__radio">
									<label for="payment-radio-delivery"
										class="item-details__label item-details__label--column item-details__label--title-details">
										Cash on delivery
										<span class="text">Pay with cash upon delivery.</span>
									</label>
								</div>
								<div class="item-details__body">
									<input id="paypal-radio"  name="payment-radio" value="paypal"
										type="radio" class="item-details__radio radio-input">
									<label for="paypal-radio"
										class="item-details__label item-details__label--title-details ">
										Paypal
									</label>
								</div>
							</div>
						</div>
					</form>
					<button form="shipping-details" type="submit" class="check-out__button button button--smallest">
						Pay Now
					</button>

				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer>
	</div>
</body>


</html>