<div class="header">
	<nav class="header__nav">
		<a href="/" class="header__link"> Home </a>
		<a href="/courses" class="header__link"> Courses </a>
		<a href="/students" class="header__link"> Students </a>
	</nav>
</div>
