:root {
	/*====================== Colors ========================*/
	--main-color: #662c2c;
	--hover-color: #481d1d;
	--light-text: #fff;
	--light-text-hover: #f1d42e;
	--dark-text: #000;

	--color-gray-100: oklch(0.967 0.003 264.542);
	--color-gray-400: oklch(0.707 0.022 261.325);

	--color-black: #000;
	--color-white: #fff;
}
