@import url("fonts.css");

@import url("reset.css");

/* ================= */

body {
	font-family: "Causten", sans-serif;
	font-size: 20px;
	color: #807d7e;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ==================  header ============ */

.header {
	min-height: 111px;
	padding: 32px 0;
	border-bottom: 1px solid #bebcbd;
}
.header--fix {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	flex-wrap: wrap;
}
.header__logo {
	flex: 0 0 91px;
	align-self: center;
}

.header__logo img {
	width: 100%;
}

.header__body {
	display: flex;
	justify-content: space-between;
	flex: 0 1 79.51%;
	column-gap: 60px;
	row-gap: 15px;
}
.header__services {
	display: flex;
	justify-content: space-between;
	flex: 0 1 66.93%;
	/* flex: 0 1 610px; */
	column-gap: 15px;
}
.header__search {
	position: relative;
	align-self: center;
	padding: 12px 12px;
	background-color: #f6f6f6;
	border-radius: 8px;
	flex: 0 0 184px;
}

.header__input {
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	text-transform: capitalize;
	background: url("../img/header/icons/search.svg") 40px 0 / 20px 20px no-repeat;
}

.header__input::placeholder {
	padding-left: 70px;
}

.header__input:focus {
	background: none;
}

.header__input:focus::placeholder {
	padding-left: 0px;
}

.header__input::-webkit-search-cancel-button {
	display: none;
}

.header__language {
	flex: 0 0 221px;
	align-self: center;
}
.language {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}
.language__current {
	position: relative;
}

.language__link {
	width: 100%;
	padding: 12px 30px 12px 15px;
	border-radius: 8px 8px 0 0;
	transition: all 0.3s ease;
}

.language__link::after {
	content: "";
	position: absolute;
	top: 19px;
	right: 5px;
	width: 10px;
	height: 5px;
	background: url("../img/header/icons/arr-down.svg") 0 0 no-repeat;
	transition: transform 0.3s ease;
}

.language__list {
	position: absolute;
	width: 100%;
	transform: translate(0, 25%);
	top: 100%;
	left: 0;
	opacity: 0;
	border-radius: 0 0 8px 8px;
	background-color: #f6f6f6;
	transition: all 0.4s ease;
	overflow: hidden;
	visibility: hidden;
}

.language__current:hover .language__link {
	background-color: #f6f6f6;
}

.language__current:hover .language__list {
	transform: translate(0, 0);
	visibility: visible;
	opacity: 1;
}

.language__current:hover .language__link::after {
	transform: rotate(180deg);
}

.language__item {
	padding: 5px 15px;
}

.language__item:hover {
	background-color: #bababa;
}

.language__item:not(:last-child) {
	margin-bottom: 10px;
}

.header__buttons {
	display: flex;
	column-gap: 30px;
	flex: 1 0 auto;
	max-width: 327px;
}
.header__button {
	align-self: center;
}
.button {
	padding: 12px 47px;
	border-radius: 8px;
	text-align: center;
	background-color: #8a33fd;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	transition: background-color 0.3s ease;
}

.button:hover {
	background: #6620c1;
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.button--white {
	border: 1px solid #3c4242;
	background-color: #fff;
	color: #8a33fd;
}

.button--white:hover {
	border: 1px solid #3c4242;
	background: rgba(102, 32, 193, 0.03);
}

/* =============== CATEGORIES ============ */


.page {
	padding-top: 100px;
}
.page__categories {
	margin-bottom: 100px;
}
.categories {
}
.categories__container {
}
.categories__title {
	margin-bottom: 70px;
}
.title {
	display: flex;
	column-gap: 20px;
	color: #3c4242;
	font-family: "Core Sans C", sans-serif;
	font-size: 34px;
	font-weight: 650;
	line-height: 1; 
	letter-spacing: 0.68px;
	text-transform: capitalize;
}

.title::before {
	content: "";
	flex: 0 0 6px;
	height: 30px;
	border-radius: 10px;
	background-color: #8a33fd;
}


.categories__products {
}
.products {
	--col:4;
	--gap:50px;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}
.products__item {
}
.item-product {
	flex: 0 1 calc((100% - (var(--gap) * (var(--col) - 1))) / var(--col));
}
.item-product__image {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	padding-bottom: 145%;
	position: relative;
	margin-bottom: 12px;
	object-fit: cover;
}

.item-product__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}

.item-product__image img:hover {
	transform: scale(1.05);
}

.item-product__body {
	display: flex;
	flex-grow: 1;
	column-gap: 15px;
}
.item-product__content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.item-product__content > *:not(:last-child) {
	margin-bottom: 4px;
}

.item-product__title {
	color: #2a2f2f;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.59; 
	letter-spacing: -0.715px;
	text-transform: capitalize;
}
.item-product__text {
	color: #7f7f7f;
	font-size: 13px;
	font-weight: 500;
	line-height: 1; 
	letter-spacing: -0.536px;
	text-transform: capitalize;
}
.item-product__link {
	flex: 0 0 18px;
	align-self: start;
	min-height: 30px;
}

.item-product__arrow path {
	transition: all 0.3s ease;
}

.item-product__link:hover .item-product__arrow path {
	fill: #8a33fd;
}

/* .categories__products {
	margin: 0 -25px;
	row-gap: 45px;
}
.products {
	display: flex;
	flex-wrap: wrap;
}
.products__column {
	padding: 0 25px;
	flex: 0 0 25%;
}
.products__item {
}
.item-product {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.item-product__image {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	padding-bottom: 145%;
	position: relative;
	margin-bottom: 12px;
	object-fit: cover;
}

.item-product__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}

.item-product__image img:hover {
	transform: scale(1.05);
}

.item-product__body {
	display: flex;
	flex-grow: 1;
	column-gap: 15px;
}
.item-product__content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.item-product__content > *:not(:last-child) {
	margin-bottom: 4px;
}

.item-product__title {
	color: #2a2f2f;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.59; 
	letter-spacing: -0.715px;
	text-transform: capitalize;
}
.item-product__text {
	color: #7f7f7f;
	font-size: 13px;
	font-weight: 500;
	line-height: 1; 
	letter-spacing: -0.536px;
	text-transform: capitalize;
}
.item-product__link {
	flex: 0 0 18px;
	align-self: start;
	min-height: 30px;
}

.item-product__arrow path {
	transition: all 0.3s ease;
}

.item-product__link:hover .item-product__arrow path {
	fill: #8a33fd;
} */
/* ================ WISH_LIST ============= */

.page__wish {
	margin-bottom: 70px;
}

.wish {
}

.wish__container {
	max-width: 927px;
}

.wish__title {
	color: #3c4242;
	font-family: "Core Sans C", sans-serif;
	font-size: 28px;
	font-weight: 650;
	letter-spacing: 0.56px;
	margin-bottom: 20px;
}

.wish__content {
}

.wish__item {
	display: flex;
	align-items: center;
	column-gap: 50px;
	padding: 30px 0;
	border-bottom: 1px solid #edeef2;
}
.item-wish {
}

.item-wish__cancel {
	flex: 0 0 22px;
	height: 22px;
	align-self: center;
	background: url("../img/wish/icons/cancel.svg") center no-repeat;
}
.item-wish__img {
	border-radius: 4px;
	flex: 0 0 110px;
	height: 110px;
	/* align-self: center; */
}

.item-wish__img img {
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}

.item-wish__img img:hover{
	transform: scale(1.05);
}

.item-wish__properties {
	display: flex;
	flex: 1 1 auto;
	column-gap: 36px;
	align-items: center;
}

.item-wish__body {
}

.item-wish__body > *:not(:last-child) {
	margin-bottom: 12px;
}

.item-wish__title {
	color: #3c4242;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
	text-transform: capitalize;
}

.item-wish__title span {
	color: #807d7e;
	font-weight: 500;
	letter-spacing: 0.44px;
}

.item-wish__price {
	color: #807d7e;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
}
.item-wish__button {
}

.button--small {
	padding: 14px 28px;
}
/* ================ ORDERS ============= */
.page__orders {
	padding-bottom: 100px;
}
.orders {
}
.orders__container {
	max-width: 925px;
}
.orders__body {
}

.orders__body:not(:last-child){
	margin-bottom: 30px;
}

.order {
	border-bottom: 1px solid #edeef2;
	gap: 15px;
}

.order__details {
}

.details-order {
	padding: 28px 47px;
	border-radius: 8px;
	background-color: #f6f6f6;
	display: flex;
	justify-content: space-between;
}
.details-order__properties {
	flex: 1 0 50%;
}

.details-order__properties > *:last-child,
.details-order__status > *:last-child {
	margin-bottom: 0;
}

.details-order__title {
	color: #3c4242;
	font-weight: 600;
	margin-bottom: 14px;
}
.details-order__subtitle {
	margin-bottom: 7px;
}

.subtitle-order {
	color: #807d7e;
	font-size: 14px;
	font-weight: 600;
}

.subtitle-order span {
	color: #bebcbd;
	font-weight: 400;
}

.details-order__status {
	align-self: end;
}
.order__properties {
}
.properties-order {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	column-gap: 15px;
	align-items: center;
}
.properties-order__content {
	display: flex;
	align-items: center;
	gap: 25px;
}
.properties-order__img {
	border-radius: 4px;
	flex: 0 0 96px;
	height: 96px;
	overflow: hidden;
}

.properties-order__img img{
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
}

.properties-order__img img:hover{
	transform: scale(1.05);
}

.properties-order__body {
}

.properties-order__body >*:last-child{
	margin-bottom: 0;
}

.properties-order__title {
	color: #3c4242;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	transition: color 0.3s ease;
}

.properties-order__title:hover{
	color: #8a33fd;
}

.properties-order__subtitle {
	margin-bottom: 5px;
}
.subtitle-order--black {
	color: #3C4242;
}
/* ================ footer ============= */

.footer__container {

}

.footer {
	min-height: 100px;
	padding: 25px 0;
	display: flex;
	align-items: center;
	background-color: #416c85;
	/* text-align: center; */
}

.footer-text {
	color: #fff;
}
.green {
	color: #40ddb6;
}
.purple {
	color: #6b77e5;
}
