<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<script type="module" src="js/script.js"></script>
	<title>HW_22</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__top top-header">
				<div class="top-header__container">
					<div class="top-header__contacts" data-da=".header__menu, 690,">
						<address class="top-header__left">
							<a href="https://www.google.com/maps/search/24+Olive+Street,+Prairie,+NY+53590/@40.6970193,-74.3093248,10z/data=!3m1!4b1?entry=ttu"
								class="top-header__link _icon-geo-h">
								24 Olive Street, Prairie, NY 53590
							</a>
							<a href="mailto:whitecollar@gmail.com" class="top-header__link _icon-mail-h">
								whitecollar@gmail.com
							</a>
						</address>
						<div class="top-header__right">
							<div class="top-header__time _icon-time-h">
								Mon - Fri: 8:00 am - 5:00 pm
							</div>
						</div>
					</div>
					<div class="top-header__social social">
						<a href="#" target="_blank" aria-label="instagram" class="social__item _icon-inst-s">
						</a>
						<a href="#" target="_blank" aria-label="facebook" class="social__item _icon-fb-s">
						</a>
						<a href="#" target="_blank" aria-label="twitter" class="social__item _icon-tw-s">
						</a>
						<a href="#" target="_blank" aria-label="pinterest" class="social__item _icon-p-s">
						</a>
					</div>
				</div>
			</div>

			<div class="header__bottom">
				<div class="header__container">
					<div class="header__logo">
						<img src="img/header/logo.svg" aria-label="logotype" alt="logo">
					</div>
					<div class="header__menu menu">
						<nav class="menu__body">
							<ul class="menu__list">
								<li class="menu__item">
									<a href="#" class="menu__link">
										Home
									</a>
								</li>
								<li class="menu__item">
									<a href="#" class="menu__link">
										About Us
									</a>
								</li>
								<li class="menu__item menu__item--active">
									<a href="#" class="menu__link _icon-arr-h">
										Pages
									</a>

									<div class="menu__sub sub-menu">
										<ul class="sub-menu__list">
											<li class="sub-menu__item">
												<a href="#" class="sub-menu__link">
													Management
												</a>
											</li>
											<li class="sub-menu__item">
												<a href="#" class="sub-menu__link">
													Management
												</a>
											</li>
											<li class="sub-menu__item">
												<a href="#" class="sub-menu__link">
													Management
												</a>
											</li>
											<li class="sub-menu__item">
												<a href="#" class="sub-menu__link">
													Management
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="menu__item">
									<a href="#" class="menu__link">
										Services
									</a>
								</li>
								<li class="menu__item">
									<a href="#" class="menu__link">
										Blog
									</a>
								</li>
								<li class="menu__item">
									<a href="#" class="menu__link">
										Contact Us
									</a>
								</li>
							</ul>
						</nav>
					</div>
					<a href="#" class="header__button button" data-da=".top-header__container, 530">
						Get Consulting
					</a>
					<button class="icon-menu">
						<span></span>
					</button>
				</div>
			</div>
		</header>

		<main class="page">
			<div class="page__hero hero">
				<img class="hero__img" src="img/hero/hero.webp" alt="people on meeting">
				<div class="hero__body">
					<section class="hero__content">
						<h4 class="hero__label label-title label-title--white">
							Welcome to Whitecollar Solution
						</h4>
						<h1 class="hero__title">
							The Best Value for <span class="green">Business</span> and Corporation
						</h1>
						<div class="hero__text">
							<p>
								Collaboratively administrate empowered markets plug
								and play networks dynamically procrastinated
							</p>
						</div>
						<div class="hero__buttons">
							<a href="#" class="hero__link button button--green">
								Get Consulting
							</a>
							<a href="#" class="hero__play-link _icon-play">
								<span>Watch Videos</span>

							</a>
						</div>
					</section>
				</div>
			</div>
			<div class="page__whitecollar whitecollar">
					<div class="whitecollar__bg">
					</div>
				<div class="whitecollar__container">
					<article class="whitecollar__left left-whitecollar">
						<img class="left-whitecollar__img" src="img/whitecollar/whitecollar.webp" alt="whitecollar">
						<div class="left-whitecollar__content">
							<h3 class="left-whitecollar__title">
								We’re Ready To Grow Your Business With Us
							</h3>
							<div class="left-whitecollar__text">
								<p>
									Leverage agile frameworks to provide a robust synopsis for high level overviews.
									thinking to further the overall value proposition.
								</p>
							</div>
							<a href="#" class="left-whitecollar__link">
								Get in Touch
							</a>
						</div>
					</article>
					<article class="whitecollar__right right-whitecollar">
						<div class="right-whitecollar__title title title--left">
							<h4 class="title__label label-title">
								Welcome Whitecollar
							</h4>
							<h2 class="title__main main-title">
								We Care About Your Business Plan.
							</h2>
						</div>
						<div class="right-whitecollar__text">
							<p>
								Leverage agile frameworks to provide a robust synopsis for high level
								overviews.Iterative approaches to corporate strategy foster collaborative thinking to
								further the overal.
							</p>
							<p>
								Leverage agile frameworks to provide a robust synopsis for high level
								overviews.Iterative approaches to corporate strategy
							</p>
						</div>
						<ul class="right-whitecollar__list">
							<li class="right-whitecollar__item _icon-check">
								Components of a Business Strategy
							</li>
							<li class="right-whitecollar__item _icon-check">
								Business Consulting
							</li>
						</ul>
						<div class="right-whitecollar__advantages advantages">
							<div class="advantages__item _icon-exp">
								<div class="advantages__content">
									<h5 class="advantages__title">
										Experience
									</h5>
									<div class="advantages__text">
										<p>
											Leverage frameworks toprovidee werment.
										</p>
									</div>
								</div>
							</div>
							<div class="advantages__item _icon-cup">
								<div class="advantages__content">
									<h5 class="advantages__title">
										Awards Winner
									</h5>
									<div class="advantages__text">
										<p>
											Leverage frameworks toprovidee werment.
										</p>
									</div>
								</div>
							</div>
						</div>
						<a href="#" class="right-whitecollar__link button">
							More About Us
						</a>
					</article>
				</div>
			</div>
			<div class="page__brands brands">
				<div class="brands__container">
					<div class="brands__item">
						<img src="img/brands/home.svg" alt="home brand">
					</div>
					<div class="brands__item">
						<img src="img/brands/original.svg" alt="original brand">
					</div>
					<div class="brands__item">
						<img src="img/brands/brand.svg" alt="brand">
					</div>
					<div class="brands__item">
						<img src="img/brands/nature.svg" alt="nature brand">
					</div>
					<div class="brands__item">
						<img src="img/brands/fn.svg" alt="fn brand">
					</div>
				</div>
			</div>
			<section class="page__expertise expertise">
				<div class="expertise__container">
					<div class="expertise__title title">
						<h4 class="title__label label-title">
							We Are Expertise In
						</h4>
						<h2 class="title__main main-title">
							We Provide Professional Business Solutions.
						</h2>
					</div>
					<div class="expertise__items">
						<article class="expertise__item item-expertise">
							<div class="item-expertise__content">
								<h4 class="item-expertise__title">
									Financial Consultancy
								</h4>
								<a href="#" class="item-expertise__link">
									Read More
								</a>
							</div>
							<div class="item-expertise__icon">
								<img src="img/expertise/01.svg" alt="Financial Consultancy">
							</div>
						</article>
						<article class="expertise__item item-expertise">
							<div class="item-expertise__content">
								<h4 class="item-expertise__title">
									Business Management
								</h4>
								<a href="#" class="item-expertise__link">
									Read More
								</a>
							</div>
							<div class="item-expertise__icon item-expertise__icon--blue">
								<img src="img/expertise/02.svg" alt="Financial Consultancy">
							</div>
						</article>
						<article class="expertise__item item-expertise">
							<div class="item-expertise__content">
								<h4 class="item-expertise__title">
									Consultants & program
								</h4>
								<a href="#" class="item-expertise__link">
									Read More
								</a>
							</div>
							<div class="item-expertise__icon">
								<img src="img/expertise/03.svg" alt="Financial Consultancy">
							</div>
						</article>
						<article class="expertise__item item-expertise">
							<div class="item-expertise__content">
								<h4 class="item-expertise__title">
									Company Management
								</h4>
								<a href="#" class="item-expertise__link">
									Read More
								</a>
							</div>
							<div class="item-expertise__icon">
								<img src="img/expertise/04.svg" alt="Financial Consultancy">
							</div>
						</article>
						<article class="expertise__item item-expertise">
							<div class="item-expertise__content">
								<h4 class="item-expertise__title">
									Financial & Insurance jobs
								</h4>
								<a href="#" class="item-expertise__link">
									Read More
								</a>
							</div>
							<div class="item-expertise__icon">
								<img src="img/expertise/05.svg" alt="Financial Consultancy">
							</div>
						</article>
						<a href="#" class="expertise__button button">
							More Services
						</a>
					</div>
				</div>
			</section>
			<section class="page__solutions solutions">
				<div class="solutions__content">
					<div class="solutions__container">
						<div class="solutions__body">
							<div class="solutions__title title title--left title--white">
								<h4 class="title__label label-title">
									Why Choose Me
								</h4>
								<h2 class="title__main main-title">
									We Provide Solutions To Grow Your Business
								</h2>
								<div class="title__text">
									<p>
										Leverage agile frameworks to provide a robust synopsis for high level overviews.
										thinking to further the overall proposition.
									</p>
								</div>
							</div>
							<div class="solutions__rating rating">
								<article class="rating__item">
									<div class="rating__img" data-circle-wrap>
										<span class="rating__text number" data-counter="1,1 , 100"
											data-circle="#37393F, #40DDB6, 3.3">95</span>
										<span class="rating__perc">%</span>

									</div>
									<div class="rating__label">
										<div class="rating__suptitle">
											Clients
										</div>
										<h5 class="rating__title">
											Quick Response
										</h5>
									</div>
								</article>
								<article class="rating__item">
									<div class="rating__img" data-circle-wrap>
										<span class="rating__text number" data-counter="1, , 100"
											data-circle="#37393F, #40DDB6, 3.3">85</span>
										<span class="rating__perc">%</span>
									</div>
									<div class="rating__label">
										<div class="rating__suptitle">
											Project
										</div>
										<h5 class="rating__title">
											Finished Jobs
										</h5>
									</div>
								</article>
							</div>
							<div class="solutions__info info">
								<div class="info__item _icon-check">
									<span class="info__text">2,800+</span>
									Active clients
								</div>
								<div class="info__item _icon-check">
									<span class="info__text">106+</span>
								</div>
								<div class="info__item _icon-check">
									<span class="info__text">1,670 +</span>
									<span class="info__text yellow">
										5
										<img class="yellow__img-star" src="img/solutions/star.svg" alt="star icon">
										stars
									</span>
									reviews
								</div>
								<div class="info__item">
									<a href="#" class="info__link">
										Get in Touch
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="solutions__image">
					<img src="img/solutions/solutions-decor.webp" alt="woman with laptop decor image">
				</div>
			</section>
			<section class="page__products products">
				<div class="products__container">
					<div class="products__header">
						<div class="products__title title title--left">
							<h4 class="title__label label-title">
								Our Project
							</h4>
							<h2 class="title__main main-title">
								You can check our projects as inspirations.
							</h2>
						</div>
						<a href="#" data-da=".page__products, 767.98" class="products__button button button--green button--white">
							More Work
						</a>
					</div>
				</div>
				<div class="products__items">
					<a href="#" class="products__item">
						<img src="img/projects/comp.webp" alt="computer">
					</a>
					<a href="#" class="products__item">
						<img src="img/projects/man.webp" alt="man">
					</a>
					<a href="#" class="products__item">
						<img src="img/projects/phone.webp" alt="phone">
					</a>
					<a href="#" class="products__item">
						<img src="img/projects/woman.webp" alt="woman">
					</a>
				</div>
			</section>
			<section class="page__reviews reviews">
				<div class="reviews__container">
					<div class="reviews__title title title--left">
						<h4 class="title__label label-title">
							Testimonial
						</h4>
						<h2 class="title__main main-title">
							What Our Client Say’s
						</h2>
						<div class="title__text title__text--gray">
							<p>
								Leverage agile frameworks to provide a robust synopsis for high level
								overviews.Iterative
							</p>
						</div>
					</div>

					<article class="reviews__item item-reviews">
						<div class="item-reviews__head">
							<div class="item-reviews__img">
								<img src="img/reviews/natasha.webp" alt="user photo">
							</div>
							<div class="item-reviews__content">
								<h4 class="item-reviews__title">
									Nattasha Kelvin
								</h4>
								<div class="item-reviews__subtitle">
									Designer
								</div>


								<div data-rate-value="4.5" class="item-reviews__rate rate _icon-rate">
									<div class="rate__active _icon-rate-fill"></div>
								</div>
							</div>
						</div>
						<div class="item-reviews__text">
							<p>
								“ dd an excerpt from your personal biography, or simply let the world know who you are
								and what you have to offer. Connect with your site visitor’s on a personal level and
								make sure that your site.
							</p>
						</div>
					</article>

					<article class="reviews__item item-reviews">
						<div class="item-reviews__head">
							<div class="item-reviews__img">
								<img src="img/reviews/cinci.webp" alt="user photo">
							</div>
							<div class="item-reviews__content">
								<h4 class="item-reviews__title">
									Cincinnati
								</h4>
								<div class="item-reviews__subtitle">
									Designer
								</div>
								<div data-rate-value="4.5" class="item-reviews__rate rate _icon-rate">
									<div class="rate__active _icon-rate-fill"></div>
								</div>
							</div>
						</div>
						<div class="item-reviews__text">
							<p>
								“ Leverage agile frameworks to provide a robust synopsis for high level overviews ”
							</p>
						</div>
					</article>

				</div>
			</section>
			<div class="page__next next">
				<div class="next__container">
					<article class="next__work work">
						<div class="work__title title title--left">
							<h4 class="title__label label-title">
								How We Work
							</h4>
							<h2 class="title__main main-title">
								To Get Your Business To The Next Level
							</h2>
							<div class="title__text title__text--gray">
								<p>
									Leverage agile frameworks to provide synopsis for high level overviews.Iterative
									approaches to corporate strategy foster collaborative thinking to further the
									overal.
								</p>
							</div>
						</div>
						<div class="work__card card-work">
							<div data-circle-wrap class="card-work__img">
								<div class="card-work__top">
									<span data-counter="1, 3" data-circle='#40DDB6, #6B77E5, 3.4'
										class="card-work__value">562</span>
									<span class="card-work__perc">+</span>
								</div>

								<span class="card-work__bottom">Project</span>
							</div>
							<div class="card-work__text">
								We have <span class="bold">50+</span> years of experience. We offer <span
									class="bold">whitecollar</span> services to you
							</div>
						</div>
						<ul class="work__list list-work">
							<li class="list-work__item _icon-check">
								<h4 class="list-work__title">
									Planning
								</h4>
								<div class="list-work__text">
									<p>
										Leverage agile frameworks to provide synopsis for high level overviews.
									</p>
								</div>
							</li>
							<li class="list-work__item _icon-check">
								<h4 class="list-work__title">
									Briefing
								</h4>
								<div class="list-work__text">
									<p>
										Leverage agile frameworks to provide synopsis for high level approaches
									</p>
								</div>
							</li>
							<li class="list-work__item _icon-check">
								<h4 class="list-work__title">
									Evaluation
								</h4>
								<div class="list-work__text">
									<p>
										Leverage agile frameworks to provide synopsis for high level overviews
										Iterative.
									</p>
								</div>
							</li>
						</ul>
					</article>
					<article class="next__book book">
						<div class="book__title title title--left">
							<h4 class="title__label label-title">
								Book Now
							</h4>
							<h2 class="title__main main-title">
								Get Free Business Appointment
							</h2>
						</div>
						<form class="book__form form-book" action="#" method="POST">
							<input required type="text" name="name" placeholder="Yourname" class="form-book__input">
							<input required type="email" name="mail" placeholder="Email Address"
								class="form-book__input">
							<input required type="tel" name="phoneNumber" placeholder="Phone Number"
								class="form-book__input">

							<div class="form-book__box">
								<input required autocomplete="off" onfocus="(this.type='date')" onblur="(this.type='text')" type="text" name="date"
									placeholder="Date" class="form-book__input">
								<input required autocomplete="off" onfocus="(this.type='time')" onblur="(this.type='text')" type="text" name="time" placeholder="Time"
									class="form-book__input">
							</div>
							<textarea class="form-book__textarea" autocomplete="off" name="description"
								placeholder="Service Description"></textarea>
							<button class="form-book__btn button button--green" type="submit">
								Submit
							</button>
						</form>
					</article>
				</div>
			</div>
			<section class="page__team team">
				<img class="team__img" src="img/team/team.webp" alt="team">
				<a href="#" class="team__link">
					<h2 class="team__title">
						Our Expert Team
					</h2>
				</a>
			</section>
			<section class="page__posts posts">
				<div class="posts__container">
					<div class="posts__header">
						<div class="posts__title title title--left">
							<h4 class="title__label label-title">
								Testimonial
							</h4>
							<h2 class="title__main main-title">
								What Our Client Say’s
							</h2>
						</div>
						<a href="#" class="posts__link button button--black">
							More News
						</a>
					</div>
					<div class="posts__items">
						<article class="posts__item item-posts">
							<div class="item-posts__top">
								<img class="item-posts__img" src="img/posts/laptop.webp" alt="laptop">
								<div class="item-posts__info">
									<time datetime="2021-04-13" class="item-posts__left">
										April 13/ 2021
									</time>
									<div class="item-posts__right">
										<div class="item-posts__item _icon-name">
											Miranda Doe
										</div>
										<div class="item-posts__item _icon-business">
											Business
										</div>
									</div>
								</div>
							</div>
							<div class="item-posts__content">
								<h3 class="item-posts__title">
									<a class="item-posts__link-title" href="#">
										A Business Consulting That Can Produce
									</a>
								</h3>
								<div class="item-posts__text">
									<p>
										Leverage agile frameworks to provide a robust synopsis for high level
										overviews.Iterative approaches to corporate strategy foster collaborative
										thinking.
									</p>
								</div>
								<a href="#" class="item-posts__link">
									Read More
								</a>
							</div>
						</article>
						<article class="posts__item item-posts">
							<div class="item-posts__top">
								<img class="item-posts__img" src="img/posts/girl.webp" alt="girl">
								<div class="item-posts__info">
									<time datetime="2021-04-13" class="item-posts__left">
										April 13/ 2021
									</time>
									<div class="item-posts__right">
										<div class="item-posts__item _icon-name">
											Miranda Doe
										</div>
										<div class="item-posts__item _icon-business">
											Business
										</div>
									</div>
								</div>
							</div>
							<div class="item-posts__content">
								<h3 class="item-posts__title">
									<a class="item-posts__link-title" href="#">
										Team Identifiers, Benefits, and How to Build One that Works
									</a>
								</h3>
								<div class="item-posts__text">
									<p>
										Leverage agile frameworks to provide a robust synopsis for high level
										overviews.Iterative approaches to corporate strategy foster collaborative
										thinking.
									</p>
								</div>
								<a href="#" class="item-posts__link">
									Read More
								</a>
							</div>
						</article>

					</div>
				</div>
			</section>
			<section class="page__experience experience">
				<div class="experience__container">
					<img src="img/experience/experience-bg.webp" alt="background" class="experience__img">
					<div class="experience__title title">
						<h4 class="title__label label-title label-title--blue">
							Subscribe Whitecollar
						</h4>
						<h2 class="title__main main-title">
							Need An Experienced <span class="white">Whitecollar</span> job Service? Contact Us
						</h2>
						<div class="title__text">
							<p>
								Leverage agile frameworks to provide a robust synopsis for high level
								overviews.Iterative approaches to corporate strategy foster collaborative
								thinkingfurther the overal.
							</p>
						</div>
						<a href="#" class="experience__link button">
							Get Started
						</a>
					</div>
				</div>
			</section>
		</main>

		<footer class="footer">
			<div class="footer__container">
				<div class="footer__body-top top-footer">
					<div class="top-footer__logo">
						<img src="img/footer/logo-foot.svg" aria-label="logotype" alt="logo">
					</div>
					<address class="top-footer__address">
						<a href="tel:+01569896654" class="top-footer__item">
							<div class="top-footer__icon _icon-phone">
							</div>
							<div class="top-footer__content">
								<div class="top-footer__title">
									Call Us
								</div>
								<div class="top-footer__text">
									+01 569 896 654
								</div>
							</div>
						</a>
						<a href="mailto:Info@Example.com" class="top-footer__item">
							<div class="top-footer__icon _icon-mail-h">
							</div>
							<div class="top-footer__content">
								<div class="top-footer__title">
									Mail Us
								</div>
								<div class="top-footer__text">
									Info@Example.com
								</div>
							</div>
						</a>
						<a target="_blank"
							href="https://www.google.com/maps/search/24+Olive+Street,+Prairie,+NY+53590/@40.6970193,-74.3093248,10z/data=!3m1!4b1?entry=ttu"
							class="top-footer__item">
							<div class="top-footer__icon _icon-geo-h">
							</div>
							<div class="top-footer__content">
								<div class="top-footer__title">
									Location
								</div>
								<div class="top-footer__text">
									Amsterdam, 109-74
								</div>
							</div>
						</a>
					</address>
				</div>
				<div class="footer__body-middle middle-footer">
					<ul data-spollers="575.98" data-one-spoller class="middle-footer__list">
						<li class="middle-footer__item">
							<h5 data-spoller class="middle-footer__title label-title label-title--blue ">
								<button class="label-title__arr _icon-arr-h">
									Quick Link
								</button>
							</h5>
							<ul class="middle-footer__sub sub-footer">
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Home
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link sub-footer__link--active">
										About Us
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Blog
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Services
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Contact
									</a>
								</li>
							</ul>
						</li>
						<li class="middle-footer__item">
							<h5 data-spoller class="middle-footer__title label-title label-title--blue _icon-arr-h">
								<button class="label-title__arr _icon-arr-h">
									Our Services
								</button>
							</h5>
							<ul class="middle-footer__sub sub-footer">
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Financial Consulting
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Business Management
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Consultant & Programs
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Company Management
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Insurance & Finance
									</a>
								</li>
							</ul>
						</li>
						<li class="middle-footer__item">
							<h5 data-spoller class="middle-footer__title label-title label-title--blue _icon-arr-h">
								<button class="label-title__arr _icon-arr-h">
									Uitility Page
								</button>
							</h5>
							<ul class="middle-footer__sub sub-footer">
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Style Guide
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Licenses
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Instructions
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										Changelog
									</a>
								</li>
								<li class="sub-footer__item">
									<a href="#" class="sub-footer__link">
										404 Page
									</a>
								</li>
							</ul>
						</li>
					</ul>

					<form class="middle-footer__form form-footer" action="#" method="POST">
						<h4 class="form-footer__title">
							Subscribe
						</h4>
						<label class="form-footer__label" for="mail">
							Join Our Mailing List & to get our news.
						</label>
						<div class="form-footer__body">
							<input class="form-footer__input" required id="mail" type="email" name="form[]"
								placeholder="your email address">
							<button class="form-footer__button button" type="submit">
								Subscribe
							</button>
						</div>
					</form>
				</div>
				<div class="footer__body-bottom bottom-footer">
					<div class="bottom-footer__copy">
						Copyright © <span class="green">WhiteCollar</span> | Designed by <span
							class="blue">VictorFlow</span> Templates - Powered by Webflow
					</div>
					<div class="bottom-footer__social">
						<div class="bottom-footer__follow">
							Follow :
						</div>
						<div class="bottom-footer__links social">
							<a href="#" target="_blank" aria-label="instagram" class="social__item _icon-inst-s">
							</a>
							<a href="#" target="_blank" aria-label="facebook" class="social__item _icon-fb-s">
							</a>
							<a href="#" target="_blank" aria-label="twitter" class="social__item _icon-tw-s">
							</a>
							<a href="#" target="_blank" aria-label="pinterest" class="social__item _icon-p-s">
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>


</html>