@import url('https://fonts.googleapis.com/css?family=Shantell+Sans:300,regular,500,600,700,800&display=swap');

body {
	font-family: 'Shantell Sans', sans-serif;
}

[class*='-container'] {
	max-width: 91.875rem;
	margin: 0 auto;
	padding: 0 0.9375rem;
}
