<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_9</title>
</head>
<!-- Контейнери всюди різні, втомився думати як реалізовувати, робив окремими класами, подекуди повторюються, розумію що повторення то погано, та вони мене втомили)) -->

<body>
	<header class="header">
		<div class="header__container">
			<ul class="header__list">
				<li>
					<a href="#work-id" class="header__link">
						How We Work
					</a>
				</li>
				<li>
					<a href="#care-id" class="header__link">
						Business Plan
					</a>
				</li>
				<li>
					<a href="#consulting-id" class="header__link">
						Business Management
					</a>
				</li>
				<li>
					<a href="#jewels-id" class="header__link">
						Custom Jewels
					</a>
				</li>
				<li>
					<a href="#test-id" class="header__link">
						Test Block
					</a>
				</li>
				<li>
					<a href="#jewels-id" class="header__link">
						Play Game
					</a>
				</li>
			</ul>
		</div>
	</header>

	<main class="page">
		<div id="work-id" class="page__work work">
			<div class="work__container">
				<div class="work__header title">
					<h4>Work Process</h4>
					<h2>
						How We Work
					</h2>
				</div>
				<div class="work__content">
					<div class="work__cart">
						<div class="work__img work-calendar">
							<a href="#">
								<img src="img/calendar-work.svg" alt="icon with calendar">
							</a>
						</div>
						<h3>
							Make Appointment
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
					<div class="work__cart">
						<div class="work__img">
							<a href="#">
								<img src="img/pazle.svg" alt="icon with pazzle">
							</a>
						</div>
						<h3>
							Consultation
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
					<div class="work__cart">
						<div class="work__img">
							<a href="#">
								<img src="img/check-work.svg" alt="icon with check sign">
							</a>
						</div>
						<h3>
							Enjoy the Service
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="care-id" class="page__care care">
			<div class="care__container">
				<div class="care__header title">
					<h4>Welcome Whitecollar</h4>
					<h2>
						We Care About Your Business Plan.
					</h2>
					<div class="care__text text">
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative
							approaches to corporate strategy foster collaborative thinking to further the overal.
						</p>
						<p>
							Leverage agile frameworks to provide a robust synopsis for high level overviews.Iterative
							approaches to corporate strategy
						</p>
					</div>
				</div>
				<div class="care__content">
					<div class="care__body">
						<div class="care__cart cart-care">
							<h3>Our Vision</h3>
							<div class="cart-care__text">
								<p>
									Capitalize on low hanging fruit to identify a ballpark value added activity to beta
									clickthroughs.
								</p>
							</div>
						</div>
					</div>
					<div class="care__body">
						<div class="care__cart cart-care">
							<h3>Our Vision</h3>
							<div class="cart-care__text">
								<p>
									Capitalize on low hanging fruit to identify a ballpark value added activity to beta
									clickthroughs.
								</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="care__link">
					More About Us
				</a>
			</div>
		</div>
		<div id="consulting-id" class="page__consulting consulting">
			<div class="consulting__container">
				<div class="consulting__body">
					<div class="consulting__img">
					</div>
					<h2 class="consulting__title">
						Why Us For International Business Management Consulting!
					</h2>
					<div class="consulting__text">
						<p>
							Completely synergized resourced taxings relationships premiers markets ultivate one-to-one
							customer
							service with robust ideas dynamically innovated resources leveling customer service for
							state of
							the
							art customer service innovate product for reliable supply engage web services cutting-edge
							deliverables.
						</p>
					</div>

				</div>
				<div class="consulting__benefits benefits">
					<div class="benefits__container">
						<div class="benefits__content">
							<div class="benefits__header">
								<h4 class="benefits__title">
									Proactively envisioned multimedia based expertise media growth superior
									collaboration.
								</h4>
								<div class="benefits__text">
									<p>
										One-to-one customer service with robust ideas dynamically innovated resources
										for
										reliable
										supply engage web services cutting-edge deliverables.
									</p>
								</div>
							</div>
							<div class="benefits__body">
								<div class="benefits__img"></div>
								<div class="benefits__scroll scroll">
									<div class="scroll__header">
										<h3 class="scroll__title">
											Our benefits
										</h3>
										<h4 class="scroll__subtitle">
											Incubate standards compliant
											channels benefits.
										</h4>
									</div>
									<ul class="scroll__list">
										<li>
											Credibly reintermediate backend
										</li>
										<li>
											Holistically foster superior
										</li>
										<li>
											Distinctively exploit optimal
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="consulting__questions questions">
					<h3>
						Frequently Asked Questions
					</h3>
					<div class="questions__text">
						<p>
							Leveling customer service for state of the art customer service innovate product for
							reliable
							supply engage web services cutting-edge deliverables.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="jewels-id" class="page__jewels jewels">
			<div class="jewels__container">
				<div class="jewels__body">
					<div class="jewels__header">
						<h2>
							We Develop Create Custom Jewels.
						</h2>
					</div>
					<div class="jewels__cart cart-jewels">
						<a href="#" class="cart-jewels__link">
							<div class="cart-jewels__img">
								<img src="img/ring-1.jpg" alt="girls hand with one ring">
							</div>
						</a>
						<div class="cart-jewels__title title-jewels-cart">
							<a href="#" class="title-jewels-cart__link">
								<h4>
									Embossed hoop earrings
								</h4>
							</a>
							<div class="title-jewels-cart__price">
								<h4>
									$144.00
								</h4>
							</div>
						</div>
					</div>
					<div class="jewels__cart cart-jewels">
						<div class="cart-jewels__suptitle">
							<h3>
								#02
							</h3>
							<h3>
								new jewellery collection
							</h3>
						</div>
						<a href="#" class="cart-jewels__link">
							<div class="cart-jewels__img">
								<img src="img/ring-2.jpg" alt="girls hand with two rings">
							</div>
						</a>
						<div class="cart-jewels__title title-jewels-cart">
							<a href="#" class="title-jewels-cart__link">
								<h4>
									Embossed hoop earrings
								</h4>
							</a>
							<div class="title-jewels-cart__price">
								<h4>
									$144.00
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page__test-block test" id="test-id">
			<div class="test__container">
				<div class="test__block1 block-1">
					<a href="#" class="block-1__link">
						menu
					</a>
					<div class="block-1__child">
						<img src="img/desktop.jpg" alt="bla bla">
					</div>
				</div>
				<div class="test__block2 block2">
					<form action="#" class="form">
						<input class="custom-input" type="text" id="block2-id-1" placeholder="0">
						<input class="custom-input" type="text" id="block2-id-2" placeholder="0">
						<input class="custom-input" type="text" id="block2-id-3" placeholder="0">
						<input class="custom-input" type="text" id="block2-id-4" placeholder="0">
						<input class="custom-input" type="text" id="block2-id-5" placeholder="0">
						<input class="custom-input" type="text" id="block2-id-6" placeholder="0">
					</form>
				</div>
				<div class="test__block3 block-3">
					<a href="#id-4" class="block-3__link">
						menu
					</a>
					<div class="block-1__child" id="id-4">
						<img src="img/desktop.jpg" alt="bla bla">
					</div>
				</div>
				<div class="test__block4 block-4">
					<table>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="test__block5 block-5">
					<table>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
				</div>
				<div class="test__block6 block-6">
					<div class="header__container">
						<ul class="block-5__list">
							<li>
								<a href="">MENU</a>
								<ul class="test-list">
									<li>
										<a href="#work-id" class="block-5__link">
											How We Work
										</a>
									</li>
									<li>
										<a href="#care-id" class="block-5__link">
											Business Plan
										</a>
									</li>
									<li>
										<a href="#consulting-id" class="block-5__link">
											Business Management
										</a>
									</li>
									<li>
										<a href="#jewels-id" class="block-5__link">
											Custom Jewels
										</a>
									</li>
									<li>
										<a href="#test-id" class="block-5__link">
											Test Block
										</a>
									</li>
									<li>
										<a href="#jewels-id" class="block-5__link">
											Play Game
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="test__block7 block-7">
					<div class="header__container">
						<ol>
							<li>Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor sit amet.</li>
							<li>Lorem ipsum dolor sit amet.</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="footer__container">
			<p>
				Copyright © <span class="green">WhiteCollar</span> | Designed by <span class="purple">VictorFlow</span>
				Templates - Powered by
				Webflow
			</p>
		</div>
	</footer>
</body>

</html>