<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_9</title>
</head>

<body>
	<header class="header">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, harum.
	</header>

	<main class="page">
		<div class="page__work work">
			<div class="work__container">
				<div class="work__header title">
					<h4>
						Work Process
					</h4>
					<h2>
						How We Work
					</h2>
				</div>
				<div class="work__content">
					<div class="work__cart">
						<div class="work__img work-calendar">
						</div>
						<h3>
							Make Appointment
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
					<div class="work__cart">
						<div class="work__img work-pazle">
						</div>
						<h3>
							Consultation
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
					<div class="work__cart">
						<div class="work__img work-check">
						</div>
						<h3>
							Enjoy the Service
						</h3>
						<div class="work__text">
							<p>
								Leverage agile frameworks provide synopsishigh level overviews value proposition.
							</p>
						</div>
						<a href="#" class="work__link">
							Testimonials
						</a>
					</div>
				</div>
			</div>
		</div>

	</main>

	<footer class="footer">
		Lorem.
	</footer>
</body>

</html>