@use 'sass:math';
@use '../utilities/mixins' as *;
@use './settings' as *;

body {
	font-family: 'Shantell Sans', sans-serif;
	font-size: 1rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}

#app {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	@supports (overflow: clip) {
		overflow: clip;
	}

	> main {
		flex: 1 1 auto;
		padding-top: 5.625rem;
		padding-bottom: 1.875rem;
	}
	> * {
		min-width: 0;
	}
}

[class*='container'] {
	max-width: toRem($maxWidthContainer);
	margin: 0 auto;
	padding: 0 toRem(math.div($containerPadding, 2));
}
