@use 'sass:math';

@function toEm($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

// Adaptive Grid ===============================================================================================================================================================================================================================================================================================
// Min Page Width
$minWidth: 320;
// Web Width
$maxWidth: 1920;
// Container Width
$maxWidthContainer: 1440;
// Containers paddings
// (15px + 15px)
$containerPadding: 30;

// First Brakepoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Brakepionts
$pc: $containerWidth;
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);
