
$white: #fff;

$pc: toEm(1399.98);
$pcMin: toEm(1199.98);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(575.98);
$minMobileSmall: toEm(576);

[class*="__container"] {
	max-width: toRem($maxWidthContainer);
	padding: 0 toRem(15);
	margin: 0 auto;
}

.menu-open body {
	overflow: hidden;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: toRem(12);
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	& > main {
		flex: 1 1 auto;
	}
}
