@import url("fonts.css");
@import url("reset.css");

[class*="__container"] {
	max-width: 1248px;
	margin: 0 auto;
	padding: 0px 15px;
}

body {
	color: #7d7d7d;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	line-height: 1.46;
}
.header {
	margin-bottom: 150px;
}
.header__list {
	text-align: right;
}

.header__list li {
	display: inline-block;
}
.header__link {
	margin-right: 15px;
	border-bottom: 1px solid;
}

.page {
	margin-bottom: 150px;
}

.page__licencing {
	margin-bottom: 50px;
}

.licencing {
}

.licencing__header {
	text-align: center;
	margin-bottom: 70px;
}

.licencing__template {
	margin-bottom: 16px;
	font-size: 0;
}

.licencing__template span {
	display: inline-block;
	height: 12px;
	border-left: 12px solid #40ddb6;
	margin-right: 6px;
}

.licencing__template h5 {
	font-size: 18px;
	line-height: 1.21;
	color: #37393f;
	font-weight: 500;
	text-transform: capitalize;
}

.title {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	line-height: 1.2;
}

.licencing__title {
	font-size: 60px;
}

/* ======== licencing__body====== */
.licencing__body {
}

.licencing__body span {
	color: #40ddb6;
}
.licencing__body h4 span {
	font-weight: 400;
	/* здається саме в цьому випадку актуально використати margin-left */
	margin-left: 16px;
}

.licencing__body h3 {
	font-size: 40px;
	margin-bottom: 11px;
}

.licencing__body h4 {
	font-size: 30px;
	margin-bottom: 12.5px;
}

.licencing {
}

.licencing__icons {
	margin-bottom: 104.5px;
}

.icons {
}
.icons__text {
	margin-bottom: 36.5px;
}

.icons__text p {
	/* вигаданий відступ */
	margin-bottom: 10px;
}
.icons__subtitle {
}
.subtitle {
}
.licencing__photography {
	margin-bottom: 110px;
}
.photography {
}

.photography__text {
	margin-bottom: 28.5px;
}

.photography__text p {
	margin-bottom: 10px;
}

.photography__subtitle {
}

.photography__subtitle p {
	margin-bottom: 38px;
}

.licencing__fonts {
}

.fonts {
}
.fonts__text p {
	margin-bottom: 10px;
}
/* ========== Project Information========== */

[class*="__box"] {
	max-width: 860px;
	padding: 0 15px;
	margin: 0 auto;
}

.page__information {
	margin-bottom: 100px;
}

.page__information h2 {
	font-size: 40px;
	line-height: 1.27;
	margin-bottom: 13px;
}
.information {
}

.information__text {
	margin-bottom: 35px;
}

.information__text p {
	margin-bottom: 30px;
}

.information__list {
	margin-bottom: 35px;
}

.information__list li {
	margin-bottom: 30px;
	font-weight: 500;
	padding-left: 43px;
}
/* ===========  Clothing for Women Online in India =============== */

.page__clothing {
	margin-bottom: 160px;
}

.clothing {
}

.clothing__content {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

.page__clothing h2,
h3 {
	font-family: "Core Sans C", sans-serif;
	font-weight: 650;
}

.clothing__content span {
	font-weight: 700;
	letter-spacing: 0.4px;
}

.clothing__header {
	margin-bottom: 30px;
}

.clothing__obround {
	display: inline-block;
	width: 6px;
	height: 28px;
	border-radius: 10px;
	background-color: #8a33fd;
	vertical-align: top;
	margin-right: 15px;
}

.clothing__header h2 {
	color: #3c4242;
	font-size: 28px;
	line-height: 1.2;
	letter-spacing: 0.56px;
}

.clothing__reexplore {
	padding-left: 21px;
	margin-bottom: 25px;
}

.clothing__reexplore h3,
.clothing__destination h3 {
	color: #807d7e;
	font-size: 20px;
	line-height: 1.67;
	letter-spacing: 0.4px;
	margin-bottom: 25px;
}

.clothing__text {
	color: #807d7e;
	font-family: "Causten", sans-serif;
	font-size: 20px;
	line-height: 1.67;
	letter-spacing: 0.4px;
}

.clothing__text p {
	margin-bottom: 20px;
}

.clothing__destination {
	padding-left: 21px;
}
.clothing__link {
	color: #807d7e;
	font-family: "Core Sans C", sans-serif;
	font-weight: 650;
	display: inline-block;
	border-bottom: 1px solid;
}
.clothing__link {
}
/* ====== Jewels ======== */

.page__jewels {
	margin-bottom: 160px;
}
.jewels {
}
.jewels__case {
	max-width: 1133px;
	padding: 0 15px;
	margin: 0 auto;
}

.jewels__body {
	font-family: "Cormorant Infant", serif;
	font-weight: 700;
	line-height: 1;
	font-size: 0;
}

.jewels__content {
	display: inline-block;
	max-width: 503px;
	padding-top: 70px;
	margin-right: 89px;
}

.jewels__content h3 {
	color: #d58417;
	font-size: 20px;
	margin-bottom: 27px;
}

.jewels__content h2 {
	color: #000;
	font-size: 64px;
	margin-bottom: 31px;
}
.jewels__text {
	color: #606060;
	font-size: 30px;
	line-height: 1.4;
}

.jewels__text p {
	margin-bottom: 15px;
}

.jewels__images {
	display: inline-block;
	vertical-align: top;
}

.jewels__img {
	border-radius: 235px;
	border: 1px solid #502203;
	display: inline-block;
	vertical-align: middle;
}

.woman-left {
	margin: 14px 10px -20px -10px;
}

.woman-right {
	margin: 19px 11px -13px -10px;
}
.jewels__img:not(:last-child) {
	margin-right: 20px;
}

/* ======== page__test ========= */
.page__test {
	margin-bottom: 100px;
}

.test__border {
	max-width: 500px;
	padding: 10px;
	margin-bottom: 30px;
	/* border: 4px solid blue; */
	/* border: 4px dotted blue; */
	/* border: 4px dashed blue; */
	/* border: 4px double blue; */

	border-top: 4px solid blue;
	border-right: 6px dotted rgb(83, 83, 91);
	border-bottom: 8px dashed rgb(63, 148, 101);
	border-left: 10px double rgb(181, 54, 77);
	border-top: none;
	outline: 2px solid red;
	border-radius: 10px;
}

.test__bordersecond {
	max-width: 500px;
	padding: 100px;
	margin-top: -200px;
	border: 2px solid blue;
	/* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
	border-radius: 45% 55% 100% 0% / 100% 41% 59% 0%;
	background-color: #40ddb6;
	overflow: hidden;
	box-shadow: 4.7px 6.4px 2.7px rgba(0, 0, 0, 0.049), 10.6px 14.4px 6.9px rgba(0, 0, 0, 0.068),
		19.4px 26.3px 14.2px rgba(0, 0, 0, 0.086), 36.7px 49.9px 29.2px rgba(0, 0, 0, 0.109),
		100px 136px 80px rgba(0, 0, 0, 0.14);
	/* visibility: hidden; */
	opacity: 0.5;
}
