<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/fawIcon/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_10</title>
</head>

<body>
	<header class="header">
		<div class="header__container">
			<ul class="header__list">
				<li>
					<a href="#" class="header__link">
						List Item
					</a>
				</li>
				<li>
					<a href="#" class="header__link">
						List Item
					</a>
				</li>
				<li>
					<a href="#" class="header__link">
						List Item
					</a>
				</li>
				<li>
					<a href="#" class="header__link">
						List Item
					</a>
				</li>
				<li>
					<a href="#" class="header__link">
						List Item
					</a>
				</li>

			</ul>
		</div>
	</header>

	<main class="page">
		<div class="page__icons icons">
			<div class="icons__container">
				<h2>Іконки, векторні, SVG</h2>
				<p>
					<img src="img/svg/geo.svg" alt="geo position icon">
					<img src="img/svg/letter.svg" alt="icon with letter">
					<img src="img/svg/clock.svg" alt="icon with clock">
					<img src="img/svg/play.svg" alt="watch videos icon">
					<img src="img/svg/check.svg" alt="check icon">
					<img src="img/svg/sertificate.svg" alt="sertificate icon">
					<img src="img/svg/cup.svg" alt="icon with cup">
					<img src="img/svg/house.svg" alt="icon with house">
					<img src="img/svg/business-managment.svg" alt="business managment icon">
					<img src="img/svg/consultants.svg" alt="consultants icon">
					<img src="img/svg/managment.svg" alt="managment icon">
					<img src="img/svg/financial.svg" alt="financial icon">
					<img src="img/svg/green-check.svg" alt="green check icon">
					<img src="img/svg/star.svg" alt="gold star icon">
				</p>

				<h2>Іконка (fawIcon), вектор, SVG</h2>
				<p>
					<img src="img/svg/instagram.svg" alt="instagram icon">
					<img src="img/svg/fb.svg" alt="face book icon">
					<img src="img/svg/twitter.svg" alt="twitter icon">
					<img src="img/svg/pintrest.svg" alt="pintrest icon">
				</p>

			</div>
		</div>

		<div class="page__content content">
			<div class="content__container">
				<h2>Логотипи, контентні, SVG</h2>
				<p>
					<img src="img/svg/logo.svg" alt="main web site`s logo">
					<img src="img/svg/home.svg" alt="home logo">
					<img src="img/svg/organical.svg" alt="organical logo">
					<img src="img/svg/brand.svg" alt="brand logo">
					<img src="img/svg/nature-home.svg" alt="nature home logo">
					<img src="img/svg/florals.svg" alt="florals logo">
				</p>
				<h2>Контентні svg</h2>
				<p>
					<img src="img/svg/clients-loading.svg" alt="clients loading icon">
					<img src="img/svg/project-loading.svg" alt="project loading icon">
				</p>
				<div class="content__rastr">
					<h2>Контентні Растрові Зображення, webp</h2>
					<p>
						<img src="img/greeting-people_1x.webp"
							srcset="img/greeting-people_1x.webp 1x, img/greeting-people_2x.webp 2x"
							alt="some people on meeting">
						<img src="img/people-with-laptop_1x.webp"
							srcset="img/people-with-laptop_1x.webp 1x, img/people-with-laptop_2x.webp 2x"
							alt="some people on meeting">
						<img src="img/people-with-laptop-2_1x.webp"
							srcset="img/people-with-laptop-2_1x.webp 1x, img/people-with-laptop-2_2x.webp 2x"
							alt="some people on meeting">
					</p>
				</div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<div class="footer__container">
			<p>
				Copyright © <span class="green">WhiteCollar</span> | Designed by <span class="purple">VictorFlow</span>
				Templates - Powered by
				Webflow
			</p>
		</div>
	</footer>
</body>

</html>