@import url("fonts.css");

@import url("reset.css");

/* ================= */

body {
	font-family: "Inter", sans-serif;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

/* ==================  header ============ */
.header {
	background-color: #416c85;
	color: #ffffff;
	/* min-height: 130px; */
	padding: 18px 0;
	font-size: 0;
}

[class*="__container"] {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__container > * {
	vertical-align: middle;
	display: inline-block;
}

.header__container > *:last-child {
	margin-right: 0;
}

.header--fix {
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
}
.header__logo {
	margin-right: 195px;
}

.header__menu {
	margin-right: 40px;
}
.menu__item {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	position: relative;
	/* цей падінг ізза бордера у сабменю */
	padding: 5px 0;
	transition: color 0.3s ease;
}

.menu__item:not(:last-child) {
	margin-right: 40px;
}

.menu__link {
}

.menu__item:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
}
.menu__item:hover .menu__link {
	color: #40ddb6;
}

.sub-menu,
.sub-menu ul {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba(65, 108, 133, 0.926);
	border: 1px solid black;
	border-radius: 0 10px 0 0;
	width: 150px;
	transition: all 0.3s ease;
	visibility: hidden;
	/* overflow: hidden; я години три просидів не розуміючи чому наступні меню не відкриваються залишу собі на памʼять*/
	opacity: 0;
}

/* .sub-menu--margin {
	і це все ізза бордера
	margin-top: -1px;
} */

.sub-menu__item,
.sub-menu__item ul li {
	position: relative;
	transition: background-color 0.3s ease;
}

.sub-menu__item ul {
	top: 0;
	left: 100%;
}

.sub-menu__item:not(:last-child),
.sub-menu__item ul li:not(:last-child) {
	border-bottom: 1px solid black;
}

.sub-menu__link,
.sub-menu__item ul li a {
	padding: 10px;
}

.sub-menu__item:hover,
.sub-menu__item ul li:hover {
	background-color: #40ddb6;
	color: black;
}

.sub-menu__item:hover > ul,
.sub-menu__item ul li:hover > ul {
	opacity: 1;
	visibility: visible;
}

.arrow,
.sub-menu__item ul li a.arrow {
	position: relative;
	padding-right: 17px;
}

/* підтримка has слабенька 89% та іншого способу вийти з ситуації не знайшов */
.menu__item:has(> .arrow):not(:last-child) {
	margin-right: 23px;
}

/* ці танці з бубном з margin-right повʼязані з відсутністю флексу, всі розміри жорсткі і будь які зміни роблять перенос рядка, зробив гнучко наскільки це можливо для мене*/

.menu__item.arrow:last-child {
	margin-right: 0;
}

.arrow::after {
	content: "";
	position: absolute;
	margin-top: -4px;
	top: 50%;
	right: 0;
	width: 10px;
	height: 8px;
	background: url("../img/header/icons/arrow-down.svg") 50% / contain no-repeat;
	transition: transform 0.3s ease;
}

.arrow--right::after {
	transform: rotate(-90deg);
}

/* привʼязка саме до бем елемента мені не подобається, та по іншому задачу вирішити не вийшло */
.menu__item:hover > ::after {
	transform: rotate(180deg);
}

.sub-menu__item:hover > ::after,
.sub-menu__item ul li:hover > ::after {
	transform: rotate(90deg);
}

.header__button {
	/* відступ безпеки */
	margin-right: 15px;
}

.button {
	/* тут колір тексту на весь хедер заданий, але якщо цей елемент ще десь будуть використовувати де колір не буде інший вирішив перестрахувати кнопку */
	color: #ffffff;
	padding: 21px 35px;
	background-color: #6b77e5;
	font-size: 18px;
	transition: all 0.3s ease;
}

.button:hover {
	background-color: #40ddb6;
	color: black;
}

/* ============== experts======== */

.page {
	padding-top: 100px;
}
.page__experts {
}
.experts {
}
.experts__container {
}
.experts__team {
	font-size: 0;
}
.experts__card {
	margin: 0 31px 31px 0;
}

/* це тимчасове ліниве рішення (поки флекси не вчили) */
.experts__card:nth-child(3n + 3) {
	margin-right: 0;
}

.card {
	position: relative;
	width: 31.6%;
	min-width: 320px;
	min-height: 532px;
	overflow: hidden;
	display: inline-block;
}
.card__img {
}

.card__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card__social {
	width: 100%;
	height: 100%;
	background-color: rgba(107, 119, 229, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}

.card:hover .card__social {
	visibility: visible;
	opacity: 1;
}

.social-item {
}

.social-item__body {
	position: absolute;
	margin-left: -80.5px;
	margin-top: -25px;
	font-size: 0;
	top: 50%;
	left: 50%;
}
.social-item__link {
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50%;
	background-color: #40ddb6;
	transition: background-color 0.3s ease;
}

.social-item__link:not(:last-child) {
	margin-right: 13px;
}

.social-item__link img {
	width: 100%;
}

.social-item__link:hover {
	background-color: #4e5cdf;
}

.card__content {
	padding: 24px;
	width: 88.45%;
	background-color: #ffffff;
	position: absolute;
	bottom: 22px;
	left: 5.84%;
	text-align: center;
	max-width: 341px;
}
.card__content > *:not(:last-child) {
	margin-bottom: 8px;
}
.card__title-link {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 25px;
	color: #37393f;
	transition: color 0.3s ease;
}

.card__title-link:hover {
	color: #4e5cdf;
}

.card__subtitle {
	color: #7d7d7d;
	line-height: 1.35;
	font-size: 18px;
}

/* ================ footer ============= */

.footer__container {
	max-width: 1244px;
	padding: 0 15px;
	margin: 0 auto;
}

.footer {
	min-height: 100px;
	padding: 25px 0;
	background-color: #416c85;
	text-align: center;
}

.footer-text {
	color: #fff;
}
.green {
	color: #40ddb6;
}
.purple {
	color: #6b77e5;
}
/* ======== test-block======= */

.page__test {
}
.test {
	position: relative;
}
.space {
	width: 100vw;
	height: 100vh;
}
.test__first-lvl {
	background: url("../img/test/space.jpg") center / cover no-repeat;
}
.test__second-lvl {
	background: url("../img/test/space-1.jpg") center / cover no-repeat;
}
.test__third-lvl {
	background: url("../img/test/space-2.jpg") center / cover no-repeat;
}
.test__fourth-lvl {
	background: url("../img/test/space.jpg") center / cover no-repeat;
}

.ship-space {
	width: 100px;
	height: 100px;
	position: sticky;
	top: 20%;
	left: 50%;
	margin-left: -50px;
}

.space .space__ship-box img {
	width: 100%;
	transform: rotate(90deg);
}

.test__second-lvl .ship-space {
	left: 70%;
}
.test__third-lvl .ship-space {
	left: 20%;
}
.test__fourth-lvl .ship-space {
	left: 60%;
}

.space__meteor-field {
	position: relative;
}

.meteor {
	position: absolute;
	top: 5%;
	left: 30%;
	width: 150px;
	height: 150px;
}

.meteor img {
	width: 100%;
	transform: rotate(115deg);
}

.test__first-lvl .meteor:nth-child(1) {
	top: 100px;
	left: 60%;
}
.test__first-lvl .meteor:nth-child(2) {
	top: 400px;
	left: 80%;
}
.test__first-lvl .meteor:nth-child(3) {
	top: 600px;
	left: 40%;
}
.test__first-lvl .meteor:nth-child(4) {
	top: 500px;
	left: 20%;
}
.test__first-lvl .meteor:nth-child(5) {
	top: 500px;
	left: 60%;
}
/* ================================= */
.test__second-lvl .meteor:nth-child(1) {
	top: 100px;
	left: 60%;
}
.test__second-lvl .meteor:nth-child(2) {
	top: 400px;
	left: 80%;
}
.test__second-lvl .meteor:nth-child(3) {
	top: 600px;
	left: 40%;
}
.test__second-lvl .meteor:nth-child(4) {
	top: 500px;
	left: 20%;
}
.test__second-lvl .meteor:nth-child(5) {
	top: 500px;
	left: 60%;
}
/* ========================= */

.test__third-lvl .meteor:nth-child(1) {
	top: 100px;
	left: 30%;
}
.test__third-lvl .meteor:nth-child(2) {
	top: 400px;
	left: 10%;
}
.test__third-lvl .meteor:nth-child(3) {
	top: 600px;
	left: 40%;
}
.test__third-lvl .meteor:nth-child(4) {
	top: 500px;
	left: 25%;
}
.test__third-lvl .meteor:nth-child(5) {
	top: 500px;
	left: 60%;
}

/* ================================ */

.test__fourth-lvl .meteor:nth-child(1) {
	top: 100px;
	left: 40%;
}
.test__fourth-lvl .meteor:nth-child(2) {
	top: 400px;
	left: 70%;
}
.test__fourth-lvl .meteor:nth-child(3) {
	top: 600px;
	left: 65%;
}
.test__fourth-lvl .meteor:nth-child(4) {
	top: 500px;
	left: 80%;
}
.test__fourth-lvl .meteor:nth-child(5) {
	top: 500px;
	left: 50%;
}

.finish {
	background: url("../img/test/finish.jpg") center / contain no-repeat;
}
