@import url("fonts.css");

@import url("reset.css");

/* ================= */

body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

/* ==================  header ============ */
.header {
	background-color: #416c85;
	color: #ffffff;
	/* min-height: 130px; */
	padding: 18px 0;
	font-size: 0;
}

[class*="__container"] {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__container > * {
	vertical-align: middle;
	display: inline-block;
}

.header__container > *:last-child {
	margin-right: 0;
}

.header--fix {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.header__container {
}
.header__logo {
	margin-right: 195px;
}
.header__menu {
	margin-right: 40px;
}
.menu {
}
.menu__list {
}
.menu__item {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}

.menu__item:not(:last-child) {
	margin-right: 40px;
}

.menu__link {
}
.header__button {
}
.button {
	/* тут колір тексту на весь хедер заданий, але якщо цей елемент ще десь будуть використовувати де колір не буде інший вирішив перестрахувати кнопку */
	color: #ffffff;
	padding: 21px 35px;
	background-color: #6b77e5;
	font-size: 18px;
}

/* ============== experts======== */

.page {
}
.page__experts {
	padding-top: 160px;
}
.experts {
}
.experts__container {
}
.experts__list {
}
.experts__item {
}
.experts__card {
}

.card {
	position: relative;
	max-width: 386px;
	min-height: 532px;
	text-align: center;
	font-size: 0;
	overflow: hidden;
}
.card__link {
}
.card__link img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card__social {
}

.social-item {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.social-item__body {
	position: absolute;
	top: 50%;
	left: 50%;
}

.social-item__link {
	width: 45px;
	height: 45px;
	overflow: hidden;
}
.social-item__link img {
	width: 100%;
}

.card__content {
	padding: 24px 69px;
	background-color: #ffffff;
	position: absolute;
	bottom: 22px;
	left: 22.5px;
}
.card__content > *:not(:last-child) {
	margin-bottom: 8px;
}
.card__title {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 25px;
	color: #37393f;
}
.card__subtitle {
	color: #7d7d7d;
	line-height: 1.35;
	font-size: 18px;
}
