.title {
	& > *:not(:last-child) {
		margin-bottom: 30px;

		@media (max-width: $phone) {
			margin-bottom: 40px;
		}
	}

	&.hero__title {
		position: relative;
	}
	
	// .title--center
	&--center {
		text-align: center;
	}
	// .title__main
	&__main {
		font-family: $dmSerif, serif;
		font-size: 58px;
		line-height: 1;
		max-width: 800px;

		@media (max-width: $tablet) {
			font-size: 48px;
		}
		@media (max-width: $phone) {
			font-size: 38px;
		}

		// .title__main--big
		&--big {
			line-height: 1.39;

			@media (max-width: $phoneMin) {
				line-height: 1.2;
			}
		}
	}
	&__text {
		color: #fff;
		line-height: 1.8;
		max-width: 605px;

		& > *:not(:last-child) {
			margin-bottom: 15px;
		}

		.title--center & {
			margin-right: auto;
			margin-left: auto;
		}

		@media (max-width: $phone) {
			line-height: 1.4;
		}
	}
	// .title__button
	&__button {
	}
}

.title-label {
	& > *:not(:last-child) {
		margin-bottom: 13px;
	}
	
	@media (max-width: $phoneMin) {
		text-align: center;
	}
	// .title-label__sup
	&__sup {
		color: $goldTitle;
		font-size: 28px;
		@media (max-width:$tablet) {
			font-size: 24px;
		}
	}
	// .title-label__main
	&__main {
		font-family: $dmSerif, serif;
		font-size: 64px;
		line-height: 1.46;
		@media (max-width:$tablet) {
			font-size: 50px;
		}
		@media (max-width:$phone) {
			font-size: 40px;
		}
		
	}
}

.button {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	padding: 12px 25px;
	border-radius: 2px;
	background-color: $gold;
	transition: background-color 0.3s;
	flex-shrink: 0;
	position: relative;

	@media (any-hover: hover) {
		&:hover {
			background-color: #d18819;
		}
		&:active {
			background-color: rgb(198, 124, 13);
		}
	}

	&--big {
		font-family: $dmSerif, serif;
		font-size: 28px;
		border-radius: 5px;
		padding: 17px 38px;
	}

	&.header__button img {
		display: none;
	}

	@media (max-width: $phoneMin) {
		&.header__button {
			padding: 0;
			height: 44px;
			flex-basis: 44px;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				display: none;
			}
			img {
				display: block;
				flex: 0 0 30px;
			}
		}
	}
}
