// @use "sass:math";

@import "_fonts.scss";
@import "_reset.scss";
@import "_temple.scss";
@import "_common.scss";
@import "_header.scss";

// HERO

.page {
	// .page__hero
	&__hero {
	}
	&__sourced {
	}
	&__popular {
	}
	&__custom {
	}
	&__offers {
	}
	&__products {
	}
}

// HERO

.hero {
	position: relative;
	padding-top: clamp(50px, 6.25vw, 200px);
	padding-bottom: clamp(50px, 6.25vw, 100px);
	min-height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;

	// .hero__container
	&__container {
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// .hero__title
	&__title {
		// position: relative;
	}
}

// OFFERS

.offers {
	background-color: $bgMain;
	padding: clamp(50px, 6.25vw, 100px) 0;
	// .offers__container
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		gap: 30px;
	}
	// .offers__item
	&__item {
	}
}
.item-offers {
	max-width: 290px;
	text-align: center;
	// margin: 0 auto;
	justify-self: center;

	& > *:last-child {
		margin-bottom: 0;
	}

	@media (max-width: $phone) {
		max-width: none;
	}
	// .item-offers__img
	&__img {
		margin-bottom: 21px;
		min-height: 68.5px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			stroke: white;
			transition: stroke 0.3s;

			@media (any-hover: hover) {
				.item-offers:hover & {
					stroke: $goldTitle;
				}
			}
		}
	}
	// .item-offers__title
	&__title {
		font-family: $dmSerif, serif;
		font-size: 30px;
		margin-bottom: 8px;
		transition: color 0.3s;

		@media (max-width: $phone) {
			font-size: 26px;
		}

		@media (any-hover: hover) {
			.item-offers:hover & {
				color: $goldTitle;
			}
		}
	}
	// .item-offers__text
	&__text {
		color: #c2c2c2;
		line-height: 1.6;
		transition: color 0.3s;

		& > *:not(:last-child) {
			margin-bottom: 10px;
		}

		@media (max-width: $phone) {
			line-height: 1.2;
		}

		@media (any-hover: hover) {
			.item-offers:hover & {
				color: $goldTitle;
			}
		}
	}
}

// CUSTOM

.custom {
	background: url("../img/custom/decor.svg") center no-repeat, $bgMain;
	padding: clamp(50px, 6.25vw, 100px) 0;
	// .custom__container
	&__container {
		max-width: 1055px;

		@media (min-width: $minWPhoneMin) {
			min-height: clamp(31.25rem, 10.135rem + 43.99vw, 54.125rem);
			display: grid;
			grid-template-columns: 0.5715fr 0.4285fr;
			grid-template-rows: auto;
			row-gap: 30px;
			column-gap: clamp(1.25rem, -0.827rem + 4.327vw, 3.5rem);
			align-content: space-between;
			justify-content: space-between;
		}

		@media (max-width: $tablet) {
			row-gap: 20px;
		}
	}
	// .custom__title
	&__title {
	}
	// .custom__right
	&__right {
		@media (min-width: $minWPhoneMin) {
			grid-row: span 2;
			@media (max-width: $phoneMin) {
				grid-row: 1fr;
			}
		}
	}
	// .custom__img
	&__img {
		aspect-ratio: 397/506;
		// margin-left: auto;
		// .custom__img--big
		&--big {
			@media (min-width: $minWPhoneMin) {
				aspect-ratio: 414/608;
			}
			margin-bottom: 39px;
		}
		// .custom__img--left
		&--left {
			display: none;

			@media (min-width: $minWPhoneMin) {
				max-width: 397px;
				display: block;
				justify-self: end;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}
	}
	// .custom__text
	&__text {
		font-size: 20px;
		line-height: 1.8;
		@media (max-width: $phone) {
			line-height: 1.4;
		}
		@media (max-width: $phoneMin) {
			text-align: center;
			font-size: 18px;
		}
	}
}

// POPULAR

.popular {
	background: url("../img/popular/decor.svg") center right no-repeat, $bgMain;
	padding: clamp(50px, 6.25vw, 100px) 0;
	// .popular__container
	&__container {
	}
	// .popular__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
		gap: 30px;
		@media (max-width: $tablet) {
			column-gap: 20px;
		}
	}
	// .popular__item
	&__item {
		font-family: $cormorant, serif;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.4;
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	// .popular__img
	&__img {
		aspect-ratio: 270/270;
		border-radius: 5px;
		overflow: hidden;
		margin-bottom: 17px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			transition: transform 0.3s;

			@media (any-hover: hover) {
				.popular__item:hover & {
					transform: scale(1.01);
				}
			}
		}
	}
	// .popular__title
	&__title {
		margin-bottom: 4px;
		text-decoration-line: underline;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.3s;

		@media (max-width: $phone) {
			font-size: 22px;
		}
		@media (any-hover: hover) {
			.popular__item:hover & {
				text-decoration-color: $goldTitle;
			}
		}
	}
	// .popular__price
	&__price {
		margin-bottom: 10px;
		@media (max-width: $phone) {
			font-size: 22px;
		}
	}
}

// sourced

.sourced {
	background: $bgMain;
	background: url("../img/sourced/decor.svg") left 246px no-repeat, $bgMain;
	padding: clamp(50px, 6.25vw, 100px) 0;

	// .sourced__container
	&__container {
	}
	// .sourced__items
	&__items {
		display: grid;
		grid-template-columns: 0.3424fr 0.3152fr 0.3424fr;
		column-gap: clamp(20px, 3.25vw, 52px);
		row-gap: 30px;
		min-height: clamp(41rem, 39.547rem + 7.266vw, 46.813rem);
		@media (max-width: $pcMin) {
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			min-height: auto;
		}
		@media (max-width: $tablet) {
			grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		}
	}
	// .sourced__item
	&__item {
		& > *:not(:last-child) {
			margin-bottom: 30px;
		}
		&--pd {
			padding-top: 40px;
			@media (max-width: $pcMin) {
				padding-top: 0;
			}
		}
		&--bottom {
			display: grid;
			align-content: end;
			@media (max-width: $pcMin) {
				display: block;
			}
		}
	}
	// .sourced__img
	&__img {
		aspect-ratio: 370/552;
		border-radius: 5px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s ease;
			@media (any-hover: hover) {
				.sourced__item &:hover {
					transform: scale(1.02);
				}
			}
		}
	}
	// .sourced__text
	&__text {
		font-size: 20px;
		line-height: 1.8;
		& > *:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

// PRODUCTS

.products {
	background: url("../img/products/decor-right.svg") right top no-repeat $bgMain;
	padding: clamp(50px, 6.25vw, 100px) 0;
	// .products__container
	&__container {
		@media (min-width: $tablet) {
			max-width: 1390px;
			padding: 0 105px;
			@media (max-width: $pc) {
				max-width: 1324px;
				padding: 0 72px;
			}
		}
	}
	// .products__title
	&__title {
	}
	// .products__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		gap: 39px;
		align-content: stretch;
		position: relative;
		@media (max-width: $pc) {
			row-gap: 30px;
		}
		@media (max-width: $pcMin) {
			column-gap: 20px;
		}
	}
	// .products__button
	&__button {
		display: none;
		@media (min-width: $tablet) {
			display: block;
			position: absolute;
			top: 50%;
			left: -98px;
			width: 26px;
			height: 52px;
			stroke: white;
			transition: stroke 0.3s ease;
			transform: translate(50%, -50%);

			@media (any-hover: hover) {
				&:hover {
					stroke: $goldTitle;
				}
			}
			@media (max-width: $pc) {
				left: -65px;
			}

			// .products__button--right
			&--right {
				transform: translate(-50%, -50%) rotate(180deg);
				left: auto;
				right: -98px;
				@media (max-width: $pc) {
					right: -65px;
				}
			}
		}
	}
	// .products__item
	&__item {
	}
}

.item-products {
	// .item-products__img

	&__img {
		aspect-ratio: 364/265;
		border-radius: 5px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s ease;
			@media (any-hover: hover) {
				.item-products:hover & {
					transform: scale(1.02);
				}
			}
		}
	}
	// .item-products__content
	&__content {
		padding: 27px 24px 18px 24px;
		margin-top: -3px;
		background-color: #050314;
		border: 1px solid rgba(232, 239, 237, 0.29);
		border-top: none;
		border-radius: 0 0 20px 20px;
		& > *:not(:last-child) {
			margin-bottom: 23px;
		}
	}
	// .item-products__title
	&__title {
		font-family: $dmSerif, serif;
		-webkit-line-clamp: 1;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	// .item-products__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 20px;
		font-size: 16px;
	}
	// .item-products__date
	&__date {
		display: flex;
		column-gap: 7.5px;
		align-items: center;
		&::before {
			content: "";
			width: 17.5px;
			height: 17px;
			flex: 0 0 17.5px;
			background: url("../img/products/cal.svg") center no-repeat;
		}
	}
	// .item-products__text
	&__text {
	}
	// .item-products__link
	&__link {
		font-family: $dmSerif, serif;
		font-size: 16px;
		text-decoration-line: underline;
		transition: all 0.3s ease;
		@media (any-hover: hover) {
			.item-products:hover & {
				text-decoration-color: $goldTitle;
				color: $goldTitle;
			}
		}
	}
}

// FOOTER

.footer {
	background: url("../img/footer/decor.svg") left bottom no-repeat, $bgMain;
	padding: 40px 0;
	border-top: 1px solid rgba(249, 249, 249, 0.22);
	text-align: center;
	line-height: 1.4;
	@media (max-width: $phone) {
		line-height: 1.2;
	}
	// .footer__container
	&__container {
	}
	// .footer__content
	&__content {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 52px;
		font-family: $cormorant, serif;
		& > *:last-child {
			margin-bottom: 0;
		}
		@media (max-width: $tablet) {
			margin-bottom: 30px;
		}
		@media (max-width: $phone) {
			margin-bottom: 15px;
			max-width: none;
		}
	}
	// .footer__number
	&__number {
		font-size: 30px;
		font-weight: 500;
		line-height: 1.4;
		margin-bottom: 7px;
		@media (max-width: $phone) {
			font-size: 24px;
		}
	}
	// .footer__mail
	&__mail {
		font-size: 40px;
		font-style: italic;
		font-weight: 700;
		margin-bottom: 17px;
		@media (max-width: $phone) {
			font-size: 26px;
		}
	}
	// .footer__text
	&__text {
		font-family: "Inter", sans-serif;
		font-size: 16px;
		margin-bottom: 21px;
	}
	// .footer__social
	&__social {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
		gap: 18px;
		flex-wrap: wrap;
	}
	// .footer__link
	&__link {
		@media (any-hover: hover) {
			&:hover svg {
				fill: #fff;
			}
		}
		svg {
			fill: $gold;
			transition: fill 0.3s ease;
		}
	}
	// .footer__links
	&__links {
		font-weight: 500;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 50px;
		row-gap: 25px;

		a {
			text-decoration-line: underline;
			text-decoration-color: #fff;
			transition: all 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					text-decoration-color: $goldTitle;
					color: $goldTitle;
				}
			}
		}
	}
}
