<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/script.js"></script>
	<title>HW_19</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__container">
				<div class="header__logo">
					Pretty Stones
				</div>
				<div class="menu">
					<div class="menu__body">
						<ul class="menu__list">
							<li class="menu__item menu__item--active">
								<a href="#" class="menu__link">
									Home
								</a>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Shop
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Product
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Blog
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Pages
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Contact
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="header__actions actions-header">
					<a href="#" class="actions-header__item">
						<img src="img/header/favorite.png" alt="favorite icon">
						<span>1</span>
					</a>
					<a href="#" class="actions-header__item">
						<img src="img/header/cart.png" alt="favorite icon">
						<span>1</span>
					</a>
					<button type="button" class="icon-menu">
						<span></span>
					</button>
				</div>
			</div>
		</header>

		<main class="page">
			<div class="page__products products">
				<div class="products__container">
					<div class="products__items items-products">
						<div class="items-products__item item">
							<img src="img/products/coziness.webp" alt="girl in yellow sunglasses" class="item__img">

							<div class="item__content">
								<h4 class="item__label">
									Low Price
								</h4>
								<h3 class="item__title">
									High Coziness
								</h3>
								<div class="item__discount">
									UPTO 50% OFF
								</div>
							</div>
							<a href="#" class="item__link">
								Explore Items
							</a>
						</div>
						<div class="items-products__item item">
							<img src="img/products/unsplash.webp" alt="girl in yellow sunglasses" class="item__img">
							<div class="item__content">
								<h4 class="item__label">
									Beyoung Presents
								</h4>
								<h3 class="item__title">
									Breezy Summer Style
								</h3>
								<div class="item__discount">
									UPTO 50% OFF
								</div>
							</div>
							<a href="#" class="item__link">
								Explore Items
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="page__arrival arrival">
				<div class="arrival__container">
					<h2 class="arrival__title title">
						New Arrival
					</h2>
					<div class="arrival__body">
						<div class="arrival__items items-arrival">
							<a href="#" class="items-arrival__item item-arrival">
								<div class="item-arrival__img">
									<img src="img/arrival/black-pants.webp" alt="man in black pants">
								</div>
								<h3 class="item-arrival__title">
									Knitted Joggers
								</h3>
							</a>
							<a href="#" class="items-arrival__item item-arrival">
								<div class="item-arrival__img">
									<img src="img/arrival/brown-sweater.webp" alt="man in brown sweater">
								</div>
								<h3 class="item-arrival__title">
									Knitted Joggers
								</h3>
							</a>
							<a href="#" class="items-arrival__item item-arrival">
								<div class="item-arrival__img">
									<img src="img/arrival/black-tshirt.webp" alt="man in black tshirt">
								</div>
								<h3 class="item-arrival__title">
									Knitted Joggers
								</h3>
							</a>
							<a href="#" class="items-arrival__item item-arrival">
								<div class="item-arrival__img">
									<img src="img/arrival/white-tshirt.webp" alt="girl in white tshirt">
								</div>
								<h3 class="item-arrival__title">
									Knitted Joggers
								</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="page__saving saving">
				<div class="saving__container">
					<h2 class="saving__title title">
						Big Saving Zone
					</h2>
					<div class="saving__items items-saving">
						<div class="items-saving__item item-saving item-saving--left">
							<img class="item-saving__img" src="img/saving/hawaiian-shirts.webp"
								alt="man in hawaiian shirts">
							<div class="item-saving__body">
								<div class="item-saving__content">
									<h3 class="item-saving__title">
										Hawaiian Shirts
									</h3>
									<div class="item-saving__text">
										Dress up in summer vibe
									</div>
									<h4 class="item-saving__discount">
										UPTO 50% OFF
									</h4>
								</div>
								<a href="#" class="item-saving__button">
									<div class="item-saving__arr">
										<img src="img/saving/arrow.svg" alt="">
									</div>
									<span>SHOP NOW</span>
								</a>
							</div>
						</div>
						<div class="items-saving__item item-saving">
							<img class="item-saving__img" src="img/saving/printed-t-shirt.webp"
								alt="girl in hawaiian shirts">
							<div class="item-saving__body">
								<div class="item-saving__label">
									Limited Stock
								</div>
								<div class="item-saving__content">
									<h3 class="item-saving__title">
										Printed <br> T-Shirt
									</h3>
									<div class="item-saving__text">
										Dress up in summer vibe
									</div>
									<h4 class="item-saving__discount">
										UPTO 40% OFF
									</h4>
								</div>
								<a href="#" class="item-saving__button">
									<div class="item-saving__arr">
										<img src="img/saving/arrow.svg" alt="">
									</div>
									<span>SHOP NOW</span>
								</a>
							</div>
						</div>
						<div class="items-saving__item item-saving item-saving--black">
							<img class="item-saving__img" src="img/saving/cargo-joggers.webp"
								alt="girl in cargo-joggers">
							<div class="item-saving__body">
								<div class="item-saving__content">
									<h3 class="item-saving__title">
										Cargo Joggers
									</h3>
									<div class="item-saving__text">
										Move with style & comfort
									</div>
									<h4 class="item-saving__discount">
										UPTO 50% OFF
									</h4>
								</div>
								<a href="#" class="item-saving__button">
									<div class="item-saving__arr">
										<svg xmlns="http://www.w3.org/2000/svg" width="23" height="26"
											viewBox="0 0 23 26" fill="none">
											<path
												d="M11.8423 1.66675L11.8423 23.675M22 15.2103L13.0394 24.1709C12.3783 24.832 11.3064 24.832 10.6452 24.1709L1.68465 15.2103"
												stroke-width="2" stroke-linecap="round" />
										</svg>
									</div>
									<span>SHOP NOW</span>
								</a>
							</div>
						</div>
						<div class="items-saving__item item-saving item-saving--big item-saving--black">
							<img class="item-saving__img" src="img/saving/urban-shirts.webp" alt="girl in urban shirt">
							<div class="item-saving__body">
								<div class="item-saving__content">
									<h3 class="item-saving__title">
										Urban Shirts
									</h3>
									<div class="item-saving__text">
										Live In Confort
									</div>
									<h4 class="item-saving__discount">
										UPTO 60% OFF
									</h4>
								</div>
								<a href="#" class="item-saving__button">
									<div class="item-saving__arr">
										<svg xmlns="http://www.w3.org/2000/svg" width="23" height="26"
											viewBox="0 0 23 26" fill="none">
											<path
												d="M11.8423 1.66675L11.8423 23.675M22 15.2103L13.0394 24.1709C12.3783 24.832 11.3064 24.832 10.6452 24.1709L1.68465 15.2103"
												stroke-width="2" stroke-linecap="round" />
										</svg>
									</div>
									<span>SHOP NOW</span>
								</a>
							</div>
						</div>
						<div class="items-saving__item item-saving item-saving--big item-saving--black">
							<img class="item-saving__img" src="img/saving/oversized-t-shirts.webp"
								alt="man in oversized t-shirt">
							<div class="item-saving__body">
								<div class="item-saving__content">
									<h3 class="item-saving__title">
										Oversized <br> T-Shirts
									</h3>
									<div class="item-saving__text">
										Street Style Icon
									</div>
									<h4 class="item-saving__discount">
										UPTO 60% OFF
									</h4>
								</div>
								<a href="#" class="item-saving__button">
									<div class="item-saving__arr">
										<svg xmlns="http://www.w3.org/2000/svg" width="23" height="26"
											viewBox="0 0 23 26" fill="none">
											<path
												d="M11.8423 1.66675L11.8423 23.675M22 15.2103L13.0394 24.1709C12.3783 24.832 11.3064 24.832 10.6452 24.1709L1.68465 15.2103"
												stroke-width="2" stroke-linecap="round" />
										</svg>
									</div>
									<span>SHOP NOW</span>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer>

	</div>
</body>


</html>