<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<title>HW_12</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__container">
				<a href="#" class="header__logo">
					<img src="img/header/icons/logo.svg" alt="websites logotype">
				</a>
				<ul class="header__menu menu">
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Home
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">
							About Us
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link arrow">
							Pages
						</a>
						<ul class="sub-menu">
							<li class="sub-menu__item">
								<a href="#" class="sub-menu__link">
									Sub Item #1
								</a>
							</li>
							<li class="sub-menu__item">
								<a href="#" class="sub-menu__link arrow arrow--right">
									Sub Item #1
								</a>
								<ul>
									<li>
										<a href="#">
											Sub Item #2
										</a>
									</li>
									<li>
										<a href="#">
											Sub Item #2
										</a>
									</li>
									<li>
										<a href="#" class="arrow arrow--right">
											Sub Item #2
										</a>
										<ul>
											<li>
												<a href="#">
													Sub Item #3
												</a>
											</li>
											<li>
												<a href="#" class="arrow arrow--right">
													Sub Item #3
												</a>
												<ul>
													<li>
														<a href="#">
															Sub Item #4
														</a>
													</li>
													<li>
														<a href="#">
															Sub Item #4
														</a>
													</li>
													<li>
														<a href="#">
															Sub Item #4
														</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">
													Sub Item #3
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="sub-menu__item">
								<a href="#" class="sub-menu__link">
									Sub Item #1
								</a>

							</li>
							<li class="sub-menu__item">
								<a href="#" class="sub-menu__link">
									Sub Item #1
								</a>
							</li>
						</ul>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Services
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Blog
						</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link ">
							Contact Us
						</a>
					</li>
				</ul>
				<a href="#" class="header__button button">
					Get Consulting
				</a>
			</div>
		</header>

		<main class="page">
			<div class="page__experts experts">
				<div class="experts__container">
					<div class="experts__team">
						<div class="experts__card card">
							<div href="#" class="card__img">
								<img src="img/experts/girl-in-glasses.webp" alt="girl in glasses">
							</div>
							<div class="card__social social-item">
								<!-- тут перехід для вивільнення імен -->
								<div class="social-item__body">
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/inst.svg" alt="instagram icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/fb.svg" alt="facebook icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/twitter.svg" alt="twitter icon">
									</a>
								</div>
							</div>
							<div class="card__content">
								<a href="#" class="card__title-link">
									Nattasha Kelvin
								</a>
								<h3 class="card__subtitle">
									Managing Director
								</h3>
							</div>
						</div>
						<div class="experts__card card">
							<div href="#" class="card__img">
								<img src="img/experts/man-in-yellow-shirt.webp" alt="man in yellow shirt">
							</div>
							<div class="card__social social-item">
								<div class="social-item__body">
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/inst.svg" alt="instagram icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/fb.svg" alt="facebook icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/twitter.svg" alt="twitter icon">
									</a>
								</div>
							</div>
							<div class="card__content">
								<a href="#" class="card__title-link">
									David Simpson
								</a>
								<h3 class="card__subtitle">
									Designer
								</h3>
							</div>
						</div>
						<div class="experts__card card">
							<div href="#" class="card__img">
								<img src="img/experts/girl-in-white-shirt.webp" alt="girl in white shirt">
							</div>
							<div class="card__social social-item">
								<div class="social-item__body">
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/inst.svg" alt="instagram icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/fb.svg" alt="facebook icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/twitter.svg" alt="twitter icon">
									</a>
								</div>
							</div>
							<div class="card__content">
								<a href="#" class="card__title-link">
									Madeleine Grant
								</a>
								<h3 class="card__subtitle">
									Marketing Specialist
								</h3>
							</div>
						</div>
						<div class="experts__card card">
							<div href="#" class="card__img">
								<img src="img/experts/man-in-blue-shirt.webp" alt="man in blue shirt">
							</div>
							<div class="card__social social-item">
								<div class="social-item__body">
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/inst.svg" alt="instagram icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/fb.svg" alt="facebook icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/twitter.svg" alt="twitter icon">
									</a>
								</div>
							</div>
							<div class="card__content">
								<a href="#" class="card__title-link">
									Jonathan Coleman
								</a>
								<h3 class="card__subtitle">
									Managing Director
								</h3>
							</div>
						</div>
						<div class="experts__card card">
							<div href="#" class="card__img">
								<img src="img/experts/girl-in-green-shirt.webp" alt="girl in green shirt">
							</div>
							<div class="card__social social-item">
								<div class="social-item__body">
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/inst.svg" alt="instagram icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/fb.svg" alt="facebook icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/twitter.svg" alt="twitter icon">
									</a>
								</div>
							</div>
							<div class="card__content">
								<a href="#" class="card__title-link">
									Wanda Forsyth
								</a>
								<h3 class="card__subtitle">
									Designer
								</h3>
							</div>
						</div>
						<div class="experts__card card">
							<div href="#" class="card__img">
								<img src="img/experts/man-in-red-shirt.webp" alt="man in red shirt">
							</div>
							<div class="card__social social-item">
								<div class="social-item__body">
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/inst.svg" alt="instagram icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/fb.svg" alt="facebook icon">
									</a>
									<a href="#" class="social-item__link">
										<img src="img/experts/icons/twitter.svg" alt="twitter icon">
									</a>
								</div>
							</div>
							<div class="card__content">
								<a href="#" class="card__title-link">
									Austin Randall
								</a>
								<h3 class="card__subtitle">
									Marketing Specialist
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>

		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
			</div>
		</footer>
	</div>
	<div class="test">
		<div class="test__first-lvl space">
			<div class="space__ship-box ship-space">
				<img src="img/test/space-ship.png" alt="space ship" class="space__ship-img">
			</div>
			<div class="space__meteor-field">
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
			</div>
		</div>
		<div class="test__second-lvl space">
			<div class="space__ship-box ship-space">
				<img src="img/test/space-ship.png" alt="space ship" class="space__ship-img">
			</div>
			<div class="space__meteor-field">
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
			</div>
		</div>
		<div class="test__third-lvl space">
			<div class="space__ship-box ship-space">
				<img src="img/test/space-ship.png" alt="space ship" class="space__ship-img">
			</div>
			<div class="space__meteor-field">
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
			</div>
		</div>
		<div class="test__fourth-lvl space">
			<div class="space__ship-box ship-space">
				<img src="img/test/space-ship.png" alt="space ship" class="space__ship-img">
			</div>
			<div class="space__meteor-field">
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
				<div class="space__meteor-box meteor">
					<img src="img/test/meteor-1.png" alt="meteor img" class="space__meteor-img">
				</div>
			</div>
		</div>
		<div class="space finish">
		</div>
	</div>
</body>

</html>