<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/script.js"></script>
	<title>HW_18</title>
</head>

<body>
	<div class="wrapper">
		<header class="header header--fix">
			<div class="header__container">
				<div class="header__logo">
					Pretty Stones
				</div>
				<div class="menu">
					<div class="menu__body">
						<ul class="menu__list">
							<li class="menu__item menu__item--active">
								<a href="#" class="menu__link">
									Home
								</a>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Shop
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Product
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Blog
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Pages
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="menu__item menu__item--parent">
								<a href="#" class="menu__link">
									Contact
								</a>
								<div class="sub-menu">
									<ul class="sub-menu__list">
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-1
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-2
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-3
											</a>
										</li>
										<li class="sub-menu__item">
											<a href="#" class="sub-menu__link">
												Shop-4
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="header__actions actions-header">
					<a href="#" class="actions-header__item">
						<img src="img/header/favorite.png" alt="favorite icon">
						<span>1</span>
					</a>
					<a href="#" class="actions-header__item">
						<img src="img/header/cart.png" alt="favorite icon">
						<span>1</span>
					</a>
					<button type="button" class="icon-menu">
						<span></span>
					</button>
				</div>
			</div>
		</header>

		<main class="page">
			<div class="page__hero hero">
				<div class="hero__decor-left">
					<div class="hero__decor-img-left">
						<img src="img/hero/earrings.webp" alt="earrings img">
					</div>
				</div>
				<div class="hero__decor-right">
					<img src="img/hero/bracelet.webp" alt="bracelet img">
				</div>
				<div class="hero__line-left">
				</div>
				<div class="hero__line-right">
				</div>
				<div class="hero__container">
					<div class="hero__body">
						<h1 class="hero__title">
							Jewellery Collection
						</h1>
						<a href="#" class="hero__button">
							Shop Now
						</a>
					</div>
					<div class="hero__image">
						<img src="img/hero/girl.webp" alt="girl in necklace">
					</div>
					<div class="hero__content content-hero">
						<div class="content-hero__text">
							<p>
								There are many variations of passages of Lorem Ipsum available, but the majority
							</p>
						</div>
						<h3 class="content-hero__title">
							Handcrafted <br> & ethically Sources
						</h3>
					</div>
				</div>
			
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer-text">
					Copyright © <span class="green">WhiteCollar</span> | Designed by <span
						class="purple">VictorFlow</span>
					Templates - Powered by
					Webflow
				</div>
				<a href="individual.html" target="_blank" class="footer__link">Next Page >>></a>
			</div>
		</footer>

	</div>
</body>


</html>