@import url("fonts.css");

@import url("reset.css");

/* ================= */

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	color: #000;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* ==================  header ============ */

.header {
	min-height: 111px;
	padding: 32px 0;
	border-bottom: 1px solid #bebcbd;
	background-color: #fff;
}
.header--fix {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	flex-wrap: wrap;
}
.header__logo {
	flex: 0 0 91px;
	align-self: center;
}

.header__logo img {
	width: 100%;
}

.header__body {
	display: flex;
	justify-content: space-evenly;
	flex: 0 0 1050px;
	column-gap: 60px;
	row-gap: 15px;
}
.header__services {
	display: flex;
	justify-content: space-between;
	flex: 0 1 66.93%;
	/* flex: 0 1 610px; */
	column-gap: 15px;
}
.header__search {
	align-self: center;

	flex: 0 0 184px;
}

.header__input {
	width: 100%;
	padding: 12px 12px;
	border-radius: 8px;
	font-weight: 500;
	line-height: 1.2;
	text-transform: capitalize;
	background: url("../img/header/icons/search.svg") 48px center / 20px 20px no-repeat, #f6f6f6;
}

.header__input::placeholder {
	padding-left: 70px;
}

.header__input:focus,
.header__input:valid {
	background: #f6f6f6;
	outline: 2px solid #8a33fd;
}

.header__input:focus::placeholder {
	padding-left: 0px;
}

.header__input::-webkit-search-cancel-button {
	display: none;
}

.header__language {
	flex: 0 0 221px;
	align-self: center;
}
.language {
}

.language__select {
	width: 100%;
	min-height: 47px;
	font-size: 18px;
	color: #333333;
}

.language__current {
	position: relative;
}

.language__link {
	width: 100%;
	padding: 12px 30px 12px 15px;
	border-radius: 8px 8px 0 0;
	transition: all 0.3s ease;
}

.language__link::after {
	content: "";
	position: absolute;
	top: 19px;
	right: 5px;
	width: 10px;
	height: 5px;
	background: url("../img/header/icons/arr-down.svg") 0 0 no-repeat;
	transition: transform 0.3s ease;
}

.language__list {
	position: absolute;
	width: 100%;
	transform: translate(0, 25%);
	top: 100%;
	left: 0;
	opacity: 0;
	border-radius: 0 0 8px 8px;
	background-color: #f6f6f6;
	transition: all 0.4s ease;
	overflow: hidden;
	visibility: hidden;
}

@media (any-hover: hover) {
	.language__current:hover .language__link {
		background-color: #f6f6f6;
	}
}

.language__current:hover .language__list {
	transform: translate(0, 0);
	visibility: visible;
	opacity: 1;
}

.language__current:hover .language__link::after {
	transform: rotate(180deg);
}

.language__item {
	padding: 5px 15px;
}

.language__item:hover {
	background-color: #bababa;
}

.language__item:not(:last-child) {
	margin-bottom: 10px;
}

.header__label {
	color: #333333;
}

.header__color {
	width: 25px;
	height: 25px;
	flex: 0 0 120px;
	align-self: center;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}

.header__input-color {
	flex: 0 0 25px;
}

.header__buttons {
	display: flex;
	column-gap: 30px;
	flex: 1 0 auto;
	max-width: 327px;
}
.header__button {
	align-self: center;
}
.button {
	padding: 12px 47px;
	border-radius: 8px;
	text-align: center;
	background-color: #8a33fd;
	color: #fff;
	font-weight: 500;
	transition: background-color 0.3s ease;
}

@media (any-hover: hover) {
	.button:hover {
		background: #6620c1;
		box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
	}
}

.button--white {
	border: 1px solid #3c4242;
	background-color: #fff;
	color: #8a33fd;
}

@media (any-hover: hover) {
	.button--white:hover {
		border: 1px solid #3c4242;
		background: rgba(102, 32, 193, 0.03);
	}
}

.page {
}
/* ================ RINGS ============= */

.page__rings {
	padding: 75px 0;
	background-color: #fefaf4;

}



@media (min-width: 1420px) {
	.page__rings {
		background: url("../img/rings/flower-decor.webp") 100.5% 113% / 175px 388px no-repeat, #fefaf4;
	}
}

.rings {
}
.rings__container {
	max-width: 1197px;
}
.rings__title {
	margin-bottom: 53px;
}
.title-rings {
	text-transform: capitalize;
}

.title-rings > *:not(:last-child) {
	margin-bottom: 27px;
}

.title-rings__main {
	font-family: "DM Serif Text", serif;
	font-size: 58px;
	line-height: 1;
}
.title-rings__text {
	color: #606060;
	font-size: 20px;
	line-height: 1.8;
}

/* ================ item-rings ============= */

:root {
	--col: 3;
	--col-gap: 48px;
	--flex-col: 0 0 calc((100% - (var(--col-gap) * (var(--col) - 1))) / var(--col));
}

.rings__products {
	display: flex;
	column-gap: var(--col-gap);
	row-gap: 48px;
	flex-wrap: wrap;
}
.products-rings__item {
}
.item-ring {
	display: flex;
	flex-direction: column;
	flex: var(--flex-col);
}

.item-ring > *:last-child {
	margin-bottom: 0;
}

.item-ring__link-img {
	overflow: hidden;
	margin-bottom: 16px;
}

.item-ring__img {
	width: 100%;
	height: 100%;
	aspect-ratio: 357 / 240;
	object-fit: cover;
	transition: transform 0.3s ease;
}

@media (any-hover: hover) {
	.item-ring__img:hover {
		transform: scale(1.05);
	}
}

.item-ring__title {
	font-family: "DM Serif Text", serif;
	font-size: 24px;
	margin-bottom: 16px;
}

@media (any-hover: hover) {
	.item-ring__title:hover .item-ring__title-link {
		text-decoration-color: black;
	}
}

.item-ring__title-link {
	transition: all 0.3s ease;
	text-decoration: underline 2px solid transparent;
}

.item-ring__text {
	line-height: 1.6;
	margin-bottom: 12px;
}

.item-ring__text p:not(:last-child) {
	margin-bottom: 8px;
}

.item-ring__links {
	padding-left: 4px;
	margin-bottom: 8px;
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.item-ring__more {
	color: #f55529;
	font-weight: 800;
	line-height: 1.5;
}

.item-ring__more::after {
	content: "";
	display: block;
	height: 2px;
	width: 0;
	background-color: #f55529;
	transition: width 0.3s;
}

.item-ring__btn {
	cursor: pointer;
	width: 24px;
	height: 24px;
	background: url("../img/rings/icon/iconarrow-ring.svg") center no-repeat;
	flex: 0 0 24px;
	transition: transform 0.3s;
}

@media (any-hover: hover) {
	.item-ring__btn:hover {
		transform: scale(1.15);
	}
	.item-ring__more:hover::after {
		width: 100%;
	}
}

/* ================ footer ============= */

.footer__container {
}

.footer {
	min-height: 100px;
	padding: 25px 0;
	display: flex;
	align-items: center;
	background-color: #416c85;
}

.footer-text {
	color: #fff;
}
.green {
	color: #40ddb6;
}
.purple {
	color: #6b77e5;
}
