.page__home {
}
.home {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}
.home__img {
	display: none;

	@media (min-width: 767.98px) {
		display: block;
		flex-basis: 50%;
		align-self: center;
		aspect-ratio: 1152 / 970;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.home__content {
	background-color: #fff;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	width: 100%;

	@media (min-width: 767.98px) {
		max-width: 650px;
		flex-basis: 50%;
		min-width: 400px;
		padding: 84px 20px 30px 20px;
	}
}
.home__title {
}
.home__form {
	display: flex;
	flex-direction: column;
}
.home__wrapper {
	display: flex;
	flex-direction: column;
	gap: 12px;

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}
.home__label {
}
.home__inp-wrp {
	position: relative;
	border-radius: 10px;

	span {
		position: absolute;
		width: 67px;
		height: 100%;
		top: 0%;
		right: 0%;
		border-radius: 10px;
		background-color: #1e2772;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.home__input {
}
.home__forgot {
	color: #1e2772;
	font-size: 14px;
	text-decoration-line: underline;
	align-self: flex-end;
	&:not(:last-child) {
		margin-bottom: 45px;
	}
}
.home__button {
	align-self: stretch;
}

.home__separator {
	display: flex;
	align-items: center;

	span {
		color: #c2c2c2;
		font-size: 14px;
		padding-left: 25px;
		padding-right: 25px;
	}

	&::before,
	&::after {
		content: '';
		height: 1px;
		background-color: #c2c2c2;
		flex-grow: 1;
	}
	&:not(:last-child) {
		margin-bottom: 45px;
	}
}
.home__sign {
}
