<div class="header">
	<nav class="header__nav">
		<a href="/" class="header__link">
			Home
		</a>
		<a href="/users" class="header__link">
			Users List
		</a>
		<a href="/users/register" class="header__link">
			Register
		</a>
	</nav>
</div>