<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <label> Login <input type="text" v-model="login" /> </label>
      <template v-if="isAdmin">
        <label> Password <input type="password" v-model="password" /></label>
        <button>Увійти</button>
      </template>
      <div v-else>Раді Вас бачити Гість!</div>
    </div>
    <script>
      const { createApp } = Vue

      const app = createApp({
        data() {
          return {
            login: null,
            password: null,
          }
        },
        computed: {
          isAdmin() {
            return this.login === 'admin'
          },
        },
      }).mount('#app')
    </script>
  </body>
</html>
