<!DOCTYPE html>
<html lang="ua">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Master Zoo
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<div class="wrapper">
		<%- include('../partials/header.ejs') %>
			<main class="page">
				<section class="page__hero hero">
					<div class="hero__container">
						<h1>
							Інтернет магазин зоотоварів
						</h1>
						<img src="/images/main/main.webp" alt="" class="hero__img">
					</div>
				</section>
			</main>
			<%- include('../partials/footer.ejs') %>
	</div>
</body>

</html>