@import url("fonts.css");

@import url("reset.css");

/* ================= */

body {
	font-family: "Causten", sans-serif;
	font-size: 20px;
	color: #807d7e;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ==================  header ============ */

.header {
	min-height: 111px;
	padding: 32px 0;
	border-bottom: 1px solid #bebcbd;
	background-color: #fff;
}
.header--fix {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	flex-wrap: wrap;
}
.header__logo {
	flex: 0 0 91px;
	align-self: center;
}

.header__logo img {
	width: 100%;
}

.header__body {
	display: flex;
	justify-content: space-between;
	flex: 0 1 79.51%;
	column-gap: 60px;
	row-gap: 15px;
}
.header__services {
	display: flex;
	justify-content: space-between;
	flex: 0 1 66.93%;
	/* flex: 0 1 610px; */
	column-gap: 15px;
}
.header__search {
	position: relative;
	align-self: center;
	padding: 12px 12px;
	background-color: #f6f6f6;
	border-radius: 8px;
	flex: 0 0 184px;
}

.header__input {
	width: 100%;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.2;
	padding: 0 10px;
	text-transform: capitalize;
	background: url("../img/header/icons/search.svg") 40px 0 / 20px 20px no-repeat;
}

.header__input::placeholder {
	padding-left: 70px;
}

.header__input:focus,
.header__input:valid {
	background: none;
}

.header__input:focus::placeholder {
	padding-left: 0px;
}

.header__input::-webkit-search-cancel-button {
	display: none;
}

.header__language {
	flex: 0 0 221px;
	align-self: center;
}
.language {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
}
.language__current {
	position: relative;
}

.language__link {
	width: 100%;
	padding: 12px 30px 12px 15px;
	border-radius: 8px 8px 0 0;
	transition: all 0.3s ease;
}

.language__link::after {
	content: "";
	position: absolute;
	top: 19px;
	right: 5px;
	width: 10px;
	height: 5px;
	background: url("../img/header/icons/arr-down.svg") 0 0 no-repeat;
	transition: transform 0.3s ease;
}

.language__list {
	position: absolute;
	width: 100%;
	transform: translate(0, 25%);
	top: 100%;
	left: 0;
	opacity: 0;
	border-radius: 0 0 8px 8px;
	background-color: #f6f6f6;
	transition: all 0.4s ease;
	overflow: hidden;
	visibility: hidden;
}

.language__current:hover .language__link {
	background-color: #f6f6f6;
}

.language__current:hover .language__list {
	transform: translate(0, 0);
	visibility: visible;
	opacity: 1;
}

.language__current:hover .language__link::after {
	transform: rotate(180deg);
}

.language__item {
	padding: 5px 15px;
}

.language__item:hover {
	background-color: #bababa;
}

.language__item:not(:last-child) {
	margin-bottom: 10px;
}

.header__buttons {
	display: flex;
	column-gap: 30px;
	flex: 1 0 auto;
	max-width: 327px;
}
.header__button {
	align-self: center;
}
.button {
	padding: 12px 47px;
	border-radius: 8px;
	text-align: center;
	background-color: #8a33fd;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	transition: background-color 0.3s ease;
}

.button:hover {
	background: #6620c1;
	box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.button--white {
	border: 1px solid #3c4242;
	background-color: #fff;
	color: #8a33fd;
}

.button--white:hover {
	border: 1px solid #3c4242;
	background: rgba(102, 32, 193, 0.03);
}

/* ================ CONSULTING FORM ============= */

.page__contact-us {
	padding-top: 100px;
}
.contact-us {
}

.contact-us__container {
	max-width: 1250px;
}

.contact-us__title {
	max-width: 80%;
	margin: 0 auto 40px;
	text-align: center;
}
.title-contact {
}

.title-contact > *:not(:last-child) {
	margin-bottom: 16px;
}

.title-contact__suptitle {
	display: flex;
	justify-content: center;
	gap: 6px;
	color: #37393f;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 500;
}

.title-contact__suptitle::before {
	content: "";
	width: 12px;
	height: 12px;
	flex: 0 0 12px;
	background-color: #40ddb6;
	transform: translateY(5px);
}

.title-contact__main {
	color: #37393f;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.contact-us__form {
}
.form-contact-us {
}

/* ================ NAME ============= */

.form-contact-us__body {

}

.form-contact-us__item {
	color: #37393f;
	font-family: "Inter", sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.form-contact-us__item input {
	width: 100%;
	border: 1px solid #ddd;
	background: #f8f8f8;
	padding: 21px 40px 20px;
	border-radius: 0 !important;
}

.form-contact-us__item input:focus{
	outline: #6620c1;
}

.form-contact-us__item input:focus::placeholder {

}
/* ================ footer ============= */

.footer__container {
}

.footer {
	min-height: 100px;
	padding: 25px 0;
	display: flex;
	align-items: center;
	background-color: #416c85;
}

.footer-text {
	color: #fff;
}
.green {
	color: #40ddb6;
}
.purple {
	color: #6b77e5;
}
