<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Список товарів</title>
  </head>
  <body>
    <hr />
    <%products.forEach(product=>{%>
    <div>
      <a href="/products/<%=product.id%>"> <%=product.title%> </a>
      <span><%=product.price%></span>
      <button>Edit</button>
      <button>Delete</button>
    </div>
    <%})%>
    <hr />
    <a href="/products/create"> Додати новий товар</a>
  </body>
</html>
